.events_plinth{
	height: 3000px;
	background-color: grey;
}

.oxxx{
	position: fixed;
	left: 40%;
	top: 150px;
	z-index: 4;	
}
#line1{
	position: relative;
	top: -122px;
	left: -210px;
	z-index: 1;
}
#img1{
	z-index: 4;
}
#name1{
	position: relative;
	top: -200px;
	left: -370px;
}


.oxxx2{
	position: fixed;
	left: 40%;
	top: 150px;
	display: none;
}