.events_plinth{
	height: 10000px;
	background-color: grey;
}

.eventx{
	position: fixed;
	left: 45%;
	top: 35%;
	display: none;
}
#event1{
	position: fixed;
	left: 45%;
	top: 35%;
	z-index: 4;	
	display: inline;
}
#line1{
	position: relative;
	top: -122px;
	left: -210px;
	z-index: 1;
}
#img1{
	z-index: 4;
}
#name1{
	position: relative;
	top: -200px;
	left: -370px;
}

.eventy{
	position: fixed;
	left: 20%;
	top: 50%;
	display: none;
}

#line2{
	position: relative;
	top: 50px;
	left: -210px;
	z-index: 1;
}

#img2{
	z-index: 42;	
}

#name2{
	position: relative;
	top: 46px;
	left: -379px;
}