$primary: #F26631;
$black-bg : #3D454D;
$grey-text : #757575;
$green : #7ED321;
$light-grey : rgba(151,151,151,0.42);
$border-radius : 2px;
$shadow : 0px 2px 4px 0px rgba(0,0,0,0.5);

h1,h2,h3,h4,h5,h6,p,a{
	font-family: 'Roboto', sans-serif;
}
