$primary-text: #000000;
$secondary-text: #4a4a4a;

$border-radius : 2px;
$shadow : 0px 2px 4px 0px rgba(0,0,0,0.5);

.raleway{
	font-family: 'Raleway', sans-serif;
}
.roboto{
	font-family: 'Roboto', sans-serif;
}
