.navitem{
    display: inline-block;
    // float: right;
    margin-top: -5px;
    letter-spacing: 1px;
}

.navitem li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    font-weight: 800;
}

.navitem a{
    color:black;
    text-decoration: none;
    font-weight: 800;
    position: relative;
    z-index: 1;
}
