@font-face {
  font-family: roboto-light;
  src: url(../font/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: roboto-boldx;
  src: url(../font/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: robotox;
  src: url(../font/roboto/Roboto-Regular.ttf);
}


.hide-on-med-and-down{
	width: 712px;
	height: 64px;
	/*border: 1px solid;*/
}

.nav-wrapper{
	font-family: roboto-light;
	background-color: #2196F3;
	text-align: center !important;
}
}

#nav-mobile>li{
	font-size: 1.3rem;
}

#lnmiit{
	font-family: roboto-boldx;
}


.nav-wrapper>ul{
	text-align: center !important;

}

.nav-wrapper>ul>li{
	text-align: center;
}



/*=========================================================
		Parallax effect
==========================================================*/
.parallax{
	position: initial;
}


section.module.parallax-1{
  background-image: url("../media/images/bg.jpg");
  background-size: 100% 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgb(255, 255, 255);
  font-size: 92px;
  padding-top: 15%;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: roboto-light;

}

#homex{
	margin-top: -64px;

}


#dates{
	color: white;
	font-size: 22px;
	text-align: center;
	line-height: 0px;
}

#register{
	color: white;
	font-size: 34px;
	text-align: center;
	border: 5px solid;
	line-height: 200px;
	padding: 0% 2%;

}

#about-us{
	font-family: robotox;
}

#logo{
	position: fixed;
	width: 120px;
	height: 120px;
	top :13%;
	left:2%;
}
#imp-logo{
	position: fixed;
	width: 120px;
	height: 120px;
	top :13%;
	right:2%;	
}

#just-a-line{
	border: 1px solid #bcbcbc;
	width: 80%;
	margin-left: 10%;
}
.row .col.m4 {
    width: 30.333%;
    margin-left: 0px;
}

#map{
	background-color: #2196F3;
	height: 700px;
}

footer.page-footer{
	background-color: #000;
	margin-top: 0px;
}

#DateCountdown{
	width: 70%;
	margin: 0% 15%;
	margin-top: 3%;
}


.register-btns{
	margin: 15% 0;
}

.collapsible-header:hover{
	background-color: #2196F3;
	color: white;
}

.collapsible-body{
	color: #2196F3;
}

.btn{
	background-color: #2196F3;
}

.custom_size{
	font-size: 42px;
}

.downtown_size{
	width: 100%;
}
