@font-face {
  font-family: roboto-light;
  src: url(../font/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: roboto-boldx;
  src: url(../font/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: robotox;
  src: url(../font/roboto/Roboto-Regular.ttf);
}

body{
	min-width: 400px;
}

.hide-on-med-and-down{
	width: 712px;
	height: 64px;
	/*border: 1px solid;*/
}

.nav-wrapper{
	font-family: roboto-light;
	background-color: #2196F3;
	text-align: center !important;
}
}

#nav-mobile>li{
	font-size: 1.3rem;
}

#lnmiit{
	font-family: roboto-boldx;
}


.nav-wrapper>ul{
	text-align: center !important;

}

.nav-wrapper>ul>li{
	text-align: center;
}



/*=========================================================
		Parallax effect
==========================================================*/
.parallax{
	position: initial;
}


section.module.parallax-1{
  background-image: url("../media/images/bg.jpg");
  background-size: 100% 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgb(255, 255, 255);
  font-size: 92px;
  padding-top: 15%;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: roboto-light;

}

#homex{
	margin-top: -64px;

}


#dates{
	color: white;
	font-size: 22px;
	text-align: center;
	line-height: 0px;
}

#register{
	color: white;
	font-size: 34px;
	text-align: center;
	border: 5px solid;
	line-height: 200px;
	padding: 0% 2%;

}

#about-us{
	font-family: robotox;
}

#logo{
	position: fixed;
	width: 120px;
	height: 120px;
	top :13%;
	left:2%;
}
#imp-logo{
	position: fixed;
	width: 120px;
	height: 120px;
	top :13%;
	right:2%;	
}

#just-a-line{
	border: 1px solid #bcbcbc;
	width: 80%;
	margin-left: 10%;
}
.row .col.m4 {
    width: 30.333%;
    margin-left: 0px;
}

#map{
	background-color: #2196F3;
	height: 700px;
}

footer.page-footer{
background-color: #2196F3;
margin-top: 0px;
box-shadow: 0px -2px 20px #000100;
padding-bottom: 1px;
}


.social-icon>a>img{
	width: 45px;
	margin-left: 40px;
	border: 0px solid black;
	border-radius: 45px;
	box-shadow: 2px 2px 5px #000000;
}

.contact-1,.contact-2{
	position: relative;
	top: 7px;
	left: -3px;
}


#DateCountdown{
	width: 70%;
	margin: 0% 15%;
	margin-top: 3%;
}


.register-btns{
	margin: 15% 0;
}

.collapsible-header:hover{
	background-color: #2196F3;
	color: white;
}

.collapsible-body{
	color: #2196F3;
}

.btn{
	background-color: #2196F3;
}

.custom_size{
	font-size: 42px;
}

.downtown_size{
	width: 100%;
}


@media screen and (max-width: 1920px) {

.speaker-1{
	margin-left: 33% !important;
}
.social-icon{
	margin-left: 80px;
}
.contact-1{
	margin-left: 55px;
}

}

@media screen and (max-width: 1600px) {

.speaker-1{
	margin-left: 30% !important;
}

}

@media screen and (max-width: 1366px) {

.speaker-1{
	margin-left: 25.5% !important;
}
.social-icon{
	margin-left: 70px;
}
.contact-1{
	margin-left: 55px;
}

}
@media screen and (max-width: 1280px) {

.speaker-1{
	margin-left: 25.5% !important;
}

.social-icon{
	margin-left: 50px;
}
.contact-1{
	margin-left: 55px;
}

}


@media screen and (max-width: 1024px) {

.speaker-1{
	margin-left: 20% !important;
}

.social-icon{
	margin-left: 20px;
}
.contact-1{
	margin-left: 25px;
}

}



@media screen and (max-width: 800px) {

.speaker-1{
	margin-left: 10% !important;
}
#map{
	height: 600px;	
}
.social-icon{
	margin-left: 28%;
}
.contact-1{
	margin-left: 27%;
}

}

@media screen and (max-width: 750px) {

.speaker-1{
	margin-left: 2% !important;
}

}

@media screen and (max-width: 650px) {

.speaker-1,.speaker-2{
	margin-left: 26% !important;
}
#map{
	height: 500px;	
}
.social-icon{
	margin-left: 22%;
}
.contact-1{
	margin-left: 22%;
}

}

@media screen and (max-width: 550px) {

.speaker-1,.speaker-2{
	margin-left: 20% !important;
}

}

@media screen and (max-width: 450px) {

.speaker-1,.speaker-2{
	margin-left: 14% !important;
}

#map{
	height: 400px;	
}

.social-icon{
	margin-left: 12%;
}
.contact-1{
	margin-left: 12%;
}

}
@media screen and (max-width: 400px) {

.speaker-1,.speaker-2{
	margin-left: 10% !important;
}

}