<style type="text/css">
  #faqul{
    padding-left: 50px;
    }
  #faqul li{
    list-style-type: disc;
  }

</style>


<br><br>

<h2 class="center categoryHead">FAQ</h2>

<section  class="module content">
  <div class="container">
    <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>What we offer?</div>
      <div class="collapsible-body"><br>
      <ul id="faqul">
        <li> As many photographs as possible by our talented photographers
        </li><li> Amazing videos synced with music by our Amazing cinematographers and editors
        </li><li> Processing of photos (Contrast, cropping, Color correction, temperature, Exposure adjustment)
        </li><li> Processing of videos ( Music synchronization , Color Grading ,  Contrast, Temperature, Exposure adjustment )
        </li><li> Online space for photos
        </li><li> Albums, Apps and Weblink for album ( if required )
        </li><li> No hidden charges</li></ul><br>
        </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>What happens after I book?</div>
      <div class="collapsible-body"><br>
      <ul id="faqul">
        <li> We match your requirements with the best photographer from our team based on type of photography, city, requirements and all the other details you provide in the booking process.
        </li><li> You'll receive our unmatched quotation within 2 business days. You can easily book by paying 20% of the quotation in advance. 
        </li><li> We arrive 15 minutes before your event to get familiar with the location and setup for any last minute needs.</li></ul><br>
        </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>When & where and how do I get my photos?</div>
      <div class="collapsible-body"><br>
      <ul id="faqul">
        <li> After the event we edit your photos and videos by adjusting Contrast, Cropping, Color correction, temperature, Exposure etc)
        </li><li> You will get the online link of your photos and videos. Moreover you can get your product in dvd/pendrive as well.
        </li><li> Your Final Product  will be ready within
            <ul style=" list-style-position: inside;">  
              <li>1 week -  upto 6 hour event</li>
              <li>1-2 weeks - 6 hour to 1 day event.</li>
              <li>3-4 weeks  -  1- 2 days event</li>
              <li>4-8 weeks   -  2 or more days  event</li>
            </ul>
        </li></ul><br>
        </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Can I download or order prints?</div>
      <div class="collapsible-body"><br>
      <ul id="faqul">
        <li>Yes. You can download your photos anytime.</li>
        <li>You can also order high quality prints/album, which we can ship to any address you like. Charges will depend on quality of album and sheets.</li></ul><br>
        </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Who are we?</div>
      <div class="collapsible-body"><br>
      <ul id="faqul">
        <li> We are a company which have highly talented professional photography team with over 100s of event experiences.</li>
        <li> We have slick and efficient photography process so we can provide high quality photography at an affordable price.</li></ul><br>
        </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Why should I choose EventGraphia?</div>
      <div class="collapsible-body"><br>
      <ul id="faqul">
        <li>We are more experienced and professional than others.</li>
        <li>Our services have high quality and 100% reliable.</li>
        <li>We refund if you are not satisfied at all.</li></ul><br>       
        </div>
    </li>
  </ul>
  <br>

  </div>
  <br /><br />
   <div id="just-a-line"></div>
</section>




 <footer id="contactx" class="page-footer">
          <div class="container">
            <div class="row">
            <div class="col l6 s12 white-text" >
            <!-- <h5 class="white-text">Contact Us</h5> -->
                <h4 class="center white-text" style="font-weight: 300;">Contact Us</h4>
                 <i class="material-icons white-text contact-1">email</i><span class="contact-t-1">fosslnmiit@gmail.com</span>&nbsp;&nbsp;&nbsp;
                 <i class="material-icons white-text contact-2">call</i><span class="contact-t-2">+91-9473881053</span>
                </span>  
            </div>

            <div class="col l6 offset s12" >
            <h4 class="center white-text" style="font-weight: 300;" >Connect Socially</h4>
            <div class="social-icon">
            <a href="https://www.facebook.com/kdeindia/" target="_blank"><img src="./media/images/fb.png"  /></a>
          <a href="https://twitter.com/kdeindia" alt="Twitter Page" target="_blank"><img src="./media/images/tw.png"/></a>
          <a href="https://plus.google.com/105126786256705328374/posts" target="_blank"><img src="./media/images/gp.png" /></a>
          </div>
          </div>
              </div>
            </div>
          </div>
          </div>

</footer>
</div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript">
     $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  </script>