@media screen and (max-width: 850px) {

#homei2,#homei3,#homei4,#homei5,#homei6,#homei7,#homei8,#homei9,#homei10{
    top: -75px;
    left: 87px;
}


.notification-center{
  top: 80px;
}

.social-btn-home{
  position: fixed;
  right : 0px;
  top: 250px;
  width: 50px;
}

.home-icon{
   margin-bottom: 10px;
}

.robotics{
  width: 233px;
  height: 119px;
  position: absolute;
  top:340px;
  left:180px;
}
.quiz{
  width: 233px;
  height: 119px;
  position: absolute;
  top:340px;
  left:423px;
}
.e-cell{
    width: 233px;
  height: 119px;
  position: absolute;
  top:469px;

    left:180px;
}
.exhibation{
  width: 233px;
  height: 119px;
  position: absolute;
  top:469px;
    left:423px;
}

.speaker{
    width: 233px;
  height: 119px;
  position: absolute;
  top:598px;
    left:180px;
}
.plinth{  
    width: 348px;
    height: 152px;
    position: absolute;
    top: 140px;
    left:240px;
    /*border: 1px solid red;*/
}
.literary{
    width: 233px;
  height: 119px;
  position: absolute;
  top:598px;
     left:423px;
}
.cybros{
    width: 233px;
  height: 119px;
  position: absolute;
  top:727px;
     left:180px;
}
.astronomy{
    width: 233px;
  height: 119px;
  position: absolute;
  top:727px;
    left:423px;
}

.mun{
    width: 233px;
  height: 119px;
  position: absolute;
  top:856px;
    left:180px;
}
.workshops{
    width: 233px;
  height: 119px;
  position: absolute;
  top:856px;
     left:423px;
}
}

@media screen and (max-width: 800px) {

.robotics{
    width: 233px;
  height: 119px;
  position: absolute;
  top:340px;
  left:130px;
}
.quiz{
  width: 233px;
  height: 119px;
  position: absolute;
  top:340px;
  left:378px;
}
.e-cell{
  width: 233px;
  height: 119px;
  position: absolute;
  top:469px;
    left:130px;
}
.exhibation{
  width: 233px;
  height: 119px;
  position: absolute;
  top:469px;
    left:378px;
}

.speaker{
    width: 233px;
  height: 119px;
  position: absolute;
  top:598px;
    left:130px;
}
.plinth{  
    width: 348px;
    height: 152px;
    position: absolute;
    top: 140px;
    left:200px;
    /*border: 1px solid red;*/
}
.literary{
    width: 233px;
  height: 119px;
  position: absolute;
  top:598px;
     left:378px;
}
.cybros{
    width: 233px;
  height: 119px;
  position: absolute;
  top:727px;
     left:130px;
}
.astronomy{
    width: 233px;
  height: 119px;
  position: absolute;
  top:727px;
    left:378px;
}

.mun{
    width: 233px;
  height: 119px;
  position: absolute;
  top:856px;
    left:130px;
}
.workshops{
    width: 233px;
  height: 119px;
  position: absolute;
  top:856px;
     left:378px;
}
}


@media screen and (max-width: 750px) {

.robotics{
  width: 233px;
  height: 119px;
  position: absolute;
  top:340px;
  left:100px;
}
.quiz{
  width: 233px;
  height: 119px;
  position: absolute;
  top:340px;
  left:343px;
}
.e-cell{
  width: 233px;
  height: 119px;
  position: absolute;
  top:469px;
    left:100px;
}
.exhibation{
  width: 233px;
  height: 119px;
  position: absolute;
  top:469px;
    left:343px;
}

.speaker{
    width: 233px;
  height: 119px;
  position: absolute;
  top:598px;
    left:100px;
}
.plinth{  
    width: 348px;
    height: 152px;
    position: absolute;
    top: 140px;
    left:170px;
    /*border: 1px solid red;*/
}
.literary{
    width: 233px;
  height: 119px;
  position: absolute;
  top:598px;
     left:343px;
}
.cybros{
    width: 233px;
  height: 119px;
  position: absolute;
  top:727px;
     left:100px;
}
.astronomy{
    width: 233px;
  height: 119px;
  position: absolute;
  top:727px;
    left:343px;
}

.mun{
    width: 233px;
  height: 119px;
  position: absolute;
  top:856px;
    left:100px;
}
.workshops{
    width: 233px;
  height: 119px;
  position: absolute;
  top:856px;
     left:343px;
}
}



@media screen and (max-width: 700px) {

.robotics{
    width: 233px;
  height: 119px;
  position: absolute;
  top:340px;
  left:135px;
}
.quiz{
  width: 233px;
  height: 119px;
  position: absolute;
  top:340px;
  left:378px;
}
.e-cell{
  width: 233px;
  height: 119px;
  position: absolute;
  top:469px;
    left:135px;
}
.exhibation{
  width: 233px;
  height: 119px;
  position: absolute;
  top:469px;
    left:378px;
}

.speaker{
    width: 233px;
  height: 119px;
  position: absolute;
  top:598px;
    left:135px;
}
.plinth{  
width: 348px;
    height: 152px;
    position: absolute;
    top: 140px;
    left:200px;
    /*border: 1px solid red;*/
 
}
.literary{
    width: 233px;
  height: 119px;
  position: absolute;
  top:598px;
     left:378px;
}
.cybros{
    width: 233px;
  height: 119px;
  position: absolute;
  top:727px;
     left:135px;
}
.astronomy{
    width: 233px;
  height: 119px;
  position: absolute;
  top:727px;
    left:378px;
}

.mun{
    width: 233px;
  height: 119px;
  position: absolute;
  top:856px;
    left:135px;
}
.workshops{
    width: 233px;
  height: 119px;
  position: absolute;
  top:856px;
     left:378px;
}
}



@media screen and (max-width: 650px) {
.robotics{
  left:85px;
    width: 233px;
  height: 119px;
  position: absolute;
  top:340px;
}
.quiz{

  left:328px;
    width: 233px;
  height: 119px;
  position: absolute;
  top:340px;
}
.e-cell{

    left:85px;
      width: 233px;
  height: 119px;
  position: absolute;
  top:469px;
}
.exhibation{

    left:328px;
      width: 233px;
  height: 119px;
  position: absolute;
  top:469px;
}

.speaker{
    width: 233px;
  height: 119px;
  position: absolute;
  top:598px;
    left:85px;
}
.plinth{
  width: 348px;
    height: 152px;
    position: absolute;
    top: 140px;
    left:170px;
    /*border: 1px solid red;*/
}
.literary{
    width: 233px;
  height: 119px;
  position: absolute;
  top:598px;
     left:328px;
}
.cybros{
    width: 233px;
  height: 119px;
  position: absolute;
  top:727px;
     left:85px;
}
.astronomy{
    width: 233px;
  height: 119px;
  position: absolute;
  top:727px;
    left:328px;
}

.mun{
    width: 233px;
  height: 119px;
  position: absolute;
  top:856px;
    left:85px;
}
.workshops{
    width: 233px;
  height: 119px;
  position: absolute;
  top:856px;
     left:328px;
}
}




@media screen and (max-width: 600px) {

.robotics{
  background-color:#7885ca;
  width: 233px;
  height: 119px;
  position: absolute;
  top:340px;
  left:35px;
}
.quiz{
  background-color:#ff6f42;
  width: 233px;
  height: 119px;
  position: absolute;
  top: 340px;
  left:278px;
}
.e-cell{
  background-color:#ff8964;
    width: 233px;
    height: 119px;
    position: absolute;
    top: 469px;
    left:35px;
}
.exhibation{
  background-color:#4ccfe0;
    width: 233px;
    height: 119px;
    position: absolute;
    top: 469px;
    left:278px;
}

.speaker{
  background-color:#4DB7AD;
    width: 233px;
    height: 119px;
    position: absolute;
    top: 598px;
    left:35px;
}
.plinth{  
    width: 348px;
    height: 152px;
    position: absolute;
    top: 140px;
    left:140px;
    /*border: 1px solid red;*/
}
.literary{
  background-color:#ffb64c ;
    width: 233px;
    height: 119px;
    position: absolute;
    top: 598px;
    left:278px;
}
.cybros{
  background-color:#ba69c8;
    width: 233px;
    height: 119px; 
    position: absolute;
    top: 727px;
    left:35px;
}
.astronomy{
  background-color:#bcbcbc;
    width: 233px;
    height: 119px;
    position: absolute;
    top: 727px;
    left:278px;
}

.mun{
  background-color:#fdd44e;
    width: 233px;
    height: 119px;

    position: absolute;
    top: 856px;
    left:35px;
}
.workshops{
    background-color: #E57373;
    width: 233px;
    height: 119px;
    position: absolute;
    top: 856px;
    left:278px;
}

#inner-text{
  color: white;
  font-weight: 400;
  font-size: 20px;
  position: relative;
}

.home-icon{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}



.notification-center{
  position: absolute;
  right: 30px;
  top: 80px;
  font-size: 12px;
}
.row-rocks{
  /*border: 1px solid black;*/
  width: 200px;
  display: inline-block;
  margin-left: 40px;
}

.card-panel{
  padding-top: 10px;
  padding-bottom: 10px;
}

#plinth-text1{
position: relative;
top: 60px;
font-size: 4rem;
}
#plinth-text2{
position: relative;
top: 60px;
left:40px;
}

#plinth-text3{
top: 30px; 
left:35px;
font-size: 14px;
}

.social-btn-home{
  position: fixed;
  right : -10px;
  top: 250px;
  width: 50px;
}

.home-icon{
   margin-bottom: 2px;
   width: 35px;
}
.x-3-container{
    margin-left:0px;
    margin-bottom: 0px; 
}
.x-4-container{
  margin-left: 0px;
}

.x-5-container{
  margin-left: 0px;
}

}


