<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">Synopsis</a></li>
        <li class="tab col s2"><a href="#test2">Problem Statement</a></li>
        <li class="tab col s2"><a href="#test3">Rules</a></li>
        <li class="tab col s2"><a href="#test4">Register</a></li>
      </ul>
</div></div>
<div class="compt-margin">

<div id="test1" class="col s12">
<div id="event_head">
  <img id="event_img" src="./media/transporter2.png"> 
  <h2 style="margin-top:0px;">Tech Quiz</h2>
</div>
<p>You drenched with trivia and at par with every minute detail of technical world, then here it is, an 

exciting chance and platform to showcase your quizzing talent. Get yourself registered if you have the 

mettle to battle avid quizzers from all around India at the Tech Quiz in Plinth’16..</p>
</div>

<div id="test2" class="col s12">
<h4>Problem Statement</h4>

<p>
The Quiz will be held in 2 rounds, both these rounds will take place back to back at LNMIIT during Plinth. 

The initial round (Prelims) will be a written elimination round, wherein any one can participate. Top 6 

teams from Prelims will get to participate in final round (Finals). The decision of Quizmaster will be final 

and binding.</p>
</div>

<div id="test3" class="col s12">
<h4>Rules</h4>
<ol>
<li>Team Size: 2-3 member
</li>
<li>Marking: As per the Quizmaster and will be disclosed at the event only.</li>
</ol>
</div>

<div id="test4" class="col s12">
<h5>For Any Query</h5>

Shubham Pandey : <br>y13uc283@lnmiit.ac.in | +91-7597022620<br> 
Sidharth Sethia : <br> y13uc290@lnmiit.ac.in | +91-7023479993 <br>

</div>
</div>
  
  <style type="text/css">
 .tabs .indicator {
  background-color: black;
 }

 .tabs .tab a {
  color: black;
 }

 .tabs .tab a:hover {
  color: grey;
 }
  </style>