.event-up{
	background-color:#4ec2f6;
	width: 100%;
	height: 200px;
}

#event-container{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 500px;
	margin-top: -150px;
}

.event-semi-card{
	width: 170px;
	height: 210px;
	float: left;
	margin-right: 20px;
}
.even-card-name{
    position: relative;
    top: -54px;
}
.even-card-name-more{
position: relative;
    top: 145px;
    left:35px;
}

.even-card-coming-soon{
	left: 5px;
    color: #414141;
    position: relative;
    top: 70px;
    font-size: 20px;
    display: none;
}
.event-semi-card1,.event-semi-card5 {
	margin-left: 190px;
}
#event-imagex{
	width: 200px;
    position: relative;
    top: -38px;
    left: -36px;
}

body{
	background-color: #eee;
}

@media screen and (max-width: 1200px) {
.event-semi-card1,.event-semi-card5{
	margin-left: 150px;
}
}

@media screen and (max-width: 1150px) {
.event-semi-card1,.event-semi-card5{
	margin-left: 100px;
}
}

@media screen and (max-width: 1050px) {
.event-semi-card1,.event-semi-card5{
	margin-left: 50px;
}
}

@media screen and (max-width: 970px) {
.event-semi-card1,.event-semi-card5{
	margin-left: 20px;
}
}

@media screen and (max-width: 920px) {
.event-semi-card1,.event-semi-card4{
	margin-left: 110px;
}
.event-semi-card5{
	margin-left: 0px;	
}
#event-container{
	height: 720px;
}
.event-semi-card7{
	margin-left: 200px;
}
}

@media screen and (max-width: 850px) {
.event-semi-card1,.event-semi-card4{
	margin-left: 50px;
}
.event-semi-card5{
	margin-left: 0px;	
}
#event-container{
	height: 720px;
}
.event-semi-card7{
	margin-left: 100px;
}
}

@media screen and (max-width: 748px) {
.event-semi-card1,.event-semi-card3, .event-semi-card5,.event-semi-card7{
	margin-left: 100px;
}
.event-semi-card4{
	margin-left: 0px;
}
#event-container{
	height: 950px;
}

}

@media screen and (max-width: 600px) {
.event-semi-card1,.event-semi-card3, .event-semi-card5,.event-semi-card7{
	margin-left: 35px;
}
.event-semi-card4{
	margin-left: 0px;
}
#event-container{
	height: 950px;
}

}