.events_plinth{
	height: 10500px;
	background-color: #EEEEEE;
	margin-top: -64px;
}


/*Main events*/

.eventx{
	position: fixed;
	left: 45%;
	top: 35%;
	display: none;
}
#line1{
	position: relative;
	top: -122px;
	left: -210px;
	display: hidden;
	opacity: 0;
}
#name1{
	position: relative;
	top: 15px;
	left: -265px;
	text-align: center;
}


#event1{
	z-index: 1;
}
#event2{
	z-index: 5;
}
#event3{
	z-index: 2;
}
#event4{
	z-index: 4;
}
#event5{
	z-index: 3;
}

#event4>#name1{
	left: -245px;
}
#event2>#name1{
	left: -245px;
}

/*Competition events*/

.eventy{
	position: fixed;
	left: 20%;
	top: 70%;
	display: none;
}

/*fun events*/

.funevent{
	position: absolute;
	left: 45%;
	display: none;
}

#funevent1{
	left: 43%;
}

#funevent2{
	left: 15%;
}

#funevent3{
	left: 70%;
}

#funevent1>#name1{
	left: -310px;
}

#funevent3>#name1{
	left: -250px;
}