nav{
	background-color: rgba(0,0,0,0);
}

#logo_img{
	width: 50px;
	height: 50px;
	margin-top: 7px;
}

#welcome{
	position: relative;
	margin-top: -64px;
	height: 100%;
	width: 100%;
	background-image: url('../media/images/welcome.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;

}



.video_container{
	width: 50%;
	margin-top: 64px;
	margin-left: 25%;
}

#social_nav>img{
	width: 50px;
	height: 50px;
}

#contact_us_btn{

	margin-top: 30px;
	background-color: #3F51B5; 
}

#social_nav{
	margin-top: 20px;
	text-align: center;
}

#contactus{
	position: absolute;
	height: 100%;
	width: 100%;
	margin-top: -64px;
	padding-top: 100px;
}


.simple_page{

	width: 100%;
	height: 500px;
	background-color: black;
}

.collapsible-header:hover{
	background-color: #006B61;
	color: white;
}

.collapsible-body{
	color: #006B61;
	}