.speaker2015card{
	width: 250px;
	float: left;
	margin-right: 30px;
}

.speaker2015card1{
	margin-left: 90px;
}

.speaker2015card5{
	margin-left: 240px;
}

.speakers-2015-text{
	font-size: 18px;
	line-height: 22px;
}

@media screen and (width: 1920px) {
.speaker2015card1{
	margin-left: 420px;
}
.speaker2015card5{
	margin-left: 560px;
}
}
@media screen and (width: 1600px) {
.speaker2015card1{
	margin-left: 240px;
}
.speaker2015card5{
	margin-left: 380px;
}
}

@media screen and (max-width: 1024px) {
.speaker2015card1{
	margin-left: 100px;
}
.speaker2015card4{
	margin-left: 230px;
}
.speaker2015card5{
	margin-left: 0px;
}
.speaker2015card6{
	margin-left: 230px;
}
}

@media screen and (max-width: 960px) {
.speaker2015card1{
	margin-left: 200px;
}
.speaker2015card3{
	margin-left: 200px;
}
.speaker2015card4,.speaker2015card6{
	margin-left: 0px;
}
.speaker2015card5{
	margin-left: 200px;
}
.speaker2015card7{
	margin-left: 350px;
}
}

@media screen and (max-width: 850px) {
.speaker2015card1{
	margin-left: 150px;
}
.speaker2015card3{
	margin-left: 150px;
}
.speaker2015card4,.speaker2015card6{
	margin-left: 0px;
}
.speaker2015card5{
	margin-left: 150px;
}
.speaker2015card7{
	margin-left: 280px;
}
}


@media screen and (max-width: 800px) {
.speaker2015card1{
	margin-left: 100px;
}
.speaker2015card3{
	margin-left: 100px;
}
.speaker2015card4,.speaker2015card6{
	margin-left: 0px;
}
.speaker2015card5{
	margin-left: 100px;
}
.speaker2015card7{
	margin-left: 250px;
}
}

@media screen and (max-width: 675px) {
.speaker2015card1{
	margin-left: 20px;
}
.speaker2015card3{
	margin-left: 20px;
}
.speaker2015card4,.speaker2015card6{
	margin-left: 0px;
}
.speaker2015card5{
	margin-left: 20px;
}
.speaker2015card7{
	margin-left: 150px;
}
}