.span-card{
	width: 260px;
	height: 410px;
	/*border: 1px solid;*/
	float: left;
	margin-left: 50px;
	margin-bottom: 30px;
}
.name-text-head{
	font-size: 20px;
	font-weight: 400;
	position: relative;
	top: -49px;
	font-family: Roboto Regular;
}

.name-text-pos{
	font-size: 18px;
	position: relative;
	top: -56px;
	font-weight: 200;
	/*font-family: thin;	*/
}

a{
	color: black;
}

#fb-x{
	/*border:5px solid white; */
	/*border-radius:25px;*/
	position: relative;
    top: -40px;
    left: 40px;
}

#in-x{
	/*border:5px solid white;*/
	/*border-radius:25px;*/
	position: relative;
     top: -65px;
    left: 102px;
}

#just-a-line{
	position: relative;
	top: -19px;
	width: 90%;
	left:-5%;
}

#make-up{
	position: relative;
    top: -5px;
    left: 10px;	
}

.shift-left{
	margin-left: -15px;
	position: relative;
}

.top-card-1{
	margin: 0px 20px 30px 360px;
}
.top-card-2{
	margin: 0px 200px 30px 20px;
}