<div class="row content-box">
    <div class="column medium-2 medium-offset-10">
        <div class="row">
            <div class="column medium-6">
                <a class="button open-button">Control</a>
            </div>
            <div class="column medium-6">
                <a class="button open-button">Error</a>
            </div>
        </div>
    </div>
</div>
<div class="row content-box">
    <div class="column medium-4 end" style="margin-top:20px;" ng-repeat="i in [1,2,3,4,5]">
        <div class="error-card">
            <div class="row">
                <div class="column medium-4">
                    <img src="media/images/people.png">
                </div>
                <div class="column medium-8" style="padding-left:0px; margin-top:10px;">
                    <h6 class="head">People Count</h6>
                    <h6 class="value">357</h6>
                </div>
            </div>
        </div>
    </div>                    
</div>