.content{
    margin-top: 50px;
    margin-bottom: 40px;
}

h4{
    font: normal 40px 'Roboto';
    color:#0431B4;
    padding-bottom: 10px;
}

.desc{
    font-family: 'Roboto';
    max-width: 1100px;
}

.video-wrapper, .high-wrapper{
    margin-bottom: 40px;
}

.video-wrapper p, .high-wrapper p{
    font:normal 30px 'Roboto';
}

iframe{
    width:560px !important;
    height:315px !important;
}

.one{
    height:400px;
/*    background-color: darkgray;*/
}

.two{
    margin-left: -20px;
}

.two-one{
    background-color: darkgray;
    height: 245px;
    margin-bottom: 10px;
}

.two-two{
    background-color: darkgray;
    height: 145px;
    margin-bottom: 10px;
}

.three{
    margin-left: -20px;
}

.three-one{
    background-color: darkgray;
    height: 145px;
    margin-bottom: 10px;
}

.three-two{
    background-color: darkgray;
    height: 245px;
    margin-bottom: 10px;
}

.high-wrapper{
    margin-bottom: 100px;
}

@media screen and (max-width: 640px){
    .two{
        margin-top: 10px;
        margin-left: 1px;
    }

    .two-one, .two-two, .three-one, .three-two{
        height: 400px;
    }

    .three{
        margin-left: 1px;
    }

}

.one{
    position: relative;
}

.text-div{
    position: absolute;
    bottom: 0px;
    z-index: 99;
    color: white;
    font-size: 20px;
    font-weight: 500;
    /* left: 10px; */
    height: 45px;
    background: rgba(0,0,0,0.8);
    width: 100%;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 4px;
}
