.content{
    margin-top: 50px;
    margin-bottom: 40px;
}

h4{
    font: normal 40px 'Roboto';
    color:#0431B4;
    padding-bottom: 10px;
}

.desc{
    font-family: 'Roboto';
    max-width: 1100px;
}

.wrapper{
    margin-bottom: 50px;
}

.card{
    font: bold 15px 'Roboto';
    padding: 20px;
    transition: 0.3s;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
    border-radius: 5px;
    height:300px;
    margin-bottom: 30px;
    position: relative;
}
.card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.know-more{
  position: absolute;
  bottom: 20px;
  right: 20px;
  color:#2499E8;
}

.card	 a{
    float:right;
    color:black;
/*    margin-bottom: 50px;*/
}

.container{
    padding:10px;
    text-align: center;
}

.name{
    font: bold 15px 'Roboto';
    opacity: 0.7;
}

.name-desc{
    font: normal 15px 'Roboto';
    opacity: 0.7;
}



.fa-globe, .fa-pie-chart, .fa-file-code-o, .fa-book{
    color:#0431B4;
}

.fa-long-arrow-left{
    color: #0431B4;
}

.big-wrapper{
    margin-bottom: 100px;
}

.fa-long-arrow-left{
    float: left;
    margin-left: 50px;
}