body{
    color:white;
    background: url("../media/cryptex/crptex-bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navitem a{
    color:white;
    text-decoration: none;
}
.navitem a:before {
    background: #ffffff !important;
}

.main-logo{
    margin-top:60px;
}

.scaledown{
    transform:Scale(0.4);
    margin: -110px;
    padding-top: 125px;
}

.logo-content{
    position: relative;
    top: -225px;
}

.logo-clg{
    font: normal 20px cl;
    position: relative;
    left:-100px;
}
.logo-plinth{
    font: normal 105px rez;
    letter-spacing: 2px;
}

.logo-2017{
    font: bold 50px hn;
    letter-spacing: 2px;
    position: relative;
    left:15px;
}

.logo-desc{
    font:normal 22px caviar;
    position:relative;
    top:-24px;
    left:15px;
}

.logo-date{
    font:bold 20px hn;
    position:relative;
    top:-25px;
    left:96px;
}

.logo-present{
    font:10px;
}
.logo-name{
    font-family: 'Exo 2', sans-serif;
    font-size: 60px;
    margin-top:-10px;
    padding-top: -10px;
}
.backtoques{
    font-family: 'Exo 2:700', sans-serif;
    margin-bottom: 10px;
    margin-top:5px;
}
.backtoques a{
    color:white;
}
.heading{
    background-color: white;
    color:black;
    margin-bottom: 30px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}
.number{
    font-family: 'Raleway', sans-serif;
}
.cryptex-wrapper{
    margin-top: -20px;
    margin-bottom: 30px;
}
.contentrows{
    background-color: white;
    color:black;
    margin-bottom: 1px;
    padding: 10px;
    font-family: 'Exo 2', sans-serif;
}
.level-text{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color : #4a4a4a;
}

.group-center{
    width: 300px;
    margin: auto;
    margin-bottom: 35px;
}
.group-center label{
    font-family: 'Exo 2', sans-serif !important;
    font-size: 16px;
    font-weight: 300;
}

.cryptex-btn{
    font-family: 'Exo 2', sans-serif;
    padding: 8px 70px;
    font-weight: 300;
    box-shadow: 0 0 0 0;
    border : 1px solid;
    margin-bottom: 50px;
}

.contentmain{
    background-color: white;
    color:black;
    font-family: 'Exo 2', sans-serif;
    padding: 10px;
}
.contentImage{
    margin-top: 35px;
    margin-bottom: 0;
}
.contentImage img{
    width: 540px;
}
.contentQues{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contentInput{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.login{
    padding-top: 50px;
    font-family: 'Exo 2:300', sans-serif;
}

.login a{
    color:white;
}

.withsocial{
    margin: 10px;
    padding:10px;
    border: 2px;
    border-color: white;
    border-style: solid;
    display: inline-block;
}

.super{
    vertical-align: super;
    font:bold 12px hn;
}


.social{
    max-width: 500px;
}

.social li{
    list-style: none;
    display: inline-block;
    padding: 0px 15px;
}

.social a{
    text-decoration: none;
    color:white;
}

.footer-text li{
    list-style: none;
    display: inline-block;
    padding:0px 15px;
    font:normal 18px hn;
}

.footer-text a{
    text-decoration: none;
    color:white;
}


@media screen and (max-width: 700px) {
    .logo-clg{
        font: normal 13px cl;
        position: relative;
        left:-35px;
    }
    .logo-plinth{
        font: normal 100px rez;
    }

    .logo-2017{
        font: bold 45px hn;
    }

    .logo-desc{
        font:normal 17px caviar;
        position: relative;
        left:-18px;
    }

    .logo-date{
        font:bold 15px hn;
    }
}

@media screen and (max-width: 644px) {
    .logo-clg{
        font: normal 13px cl;
        position: relative;
        left:-20px;
    }
    .logo-plinth{
        font: normal 95px rez;
    }

    .logo-2017{
        font: bold 40px hn;
    }

    .logo-desc{
        font:normal 17px caviar;
        position: relative;
        left:-8px;
    }

    .logo-date{
        font:bold 15px hn;
        left:90px;
    }
}

@media screen and (max-width: 600px) {
    .logo-clg{
        font: normal 13px cl;
        position: relative;
        left:-10px;
    }

    .logo-plinth{
        font: normal 90px rez;
    }

    .logo-2017{
        font: bold 35px hn;
    }

    .logo-desc{
        font:normal 17px caviar;
        position: relative;
        left: 0px;
    }

    .logo-date{
        font:bold 15px hn;
        left: 85px;
    }

    .logo-content{
        position: relative;
        top: -200px;
    }
}

@media screen and (max-width: 550px) {
    .logo-clg{
        font: normal 13px cl;
        position: relative;
        left:-10px;
    }

    .logo-plinth{
        font: normal 80px rez;
    }

    .logo-2017{
        font: bold 30px hn;
    }

    .logo-desc{
        font:normal 12px caviar;
        position: relative;
        left: -20px;
    }

    .logo-date{
        font:bold 13px hn;
        left: 80px;
    }

    .logo-content{
        position: relative;
        top: -180px;
    }
}

@media screen and (max-width: 500px) {
    .logo-clg{
        font: normal 11px cl;
        position: relative;
        left:-10px;
    }

    .logo-plinth{
        font: normal 70px rez;
    }

    .logo-2017{
        font: bold 25px hn;
    }

    .logo-desc{
        font:normal 12px caviar;
        position: relative;
        left: -8px;
    }

    .logo-date{
        font:bold 10px hn;
        left: 75px;
    }

    .logo-content{
        position: relative;
        top: -170px;
    }
}

@media screen and (max-width: 480px) {
    .logo-clg{
        font: normal 11px cl;
        position: relative;
        left:-10px;
    }

    .logo-plinth{
        font: normal 70px rez;
    }

    .logo-2017{
        font: bold 25px hn;
    }

    .logo-desc{
        font:normal 12px caviar;
        position: relative;
        left: -8px;
        top:-25px;
    }

    .logo-date{
        font:bold 10px hn;
    }

    .logo-content{
        position: relative;
        top: -160px;
    }
    .scaledown{
    transform:Scale(0.4);
    margin: -70px;
    padding-top: 50px;
}
}

@media screen and (max-width: 470px) {
    .logo-clg{
        font: normal 11px cl;
        position: relative;
        left:-10px;
    }

    .logo-plinth{
        font: normal 70px rez;
    }

    .logo-2017{
        font: bold 25px hn;
    }

    .logo-desc{
        font:normal 12px caviar;
        position: relative;
        left: -8px;
        top:-25px;
    }

    .logo-date{
        font:bold 10px hn;
        position: relative;
    }

    .logo-content{
        position: relative;
        top: -150px;
    }
}

@media screen and (max-width: 450px) {
    .logo-clg{
        font: normal 10px cl;
        position: relative;
        left:-10px;
    }

    .logo-plinth{
        font: normal 60px rez;
    }

    .logo-2017{
        font: bold 25px hn;
    }

    .logo-desc{
        font:normal 12px caviar;
        position: relative;
        left: 0px;
        top:-22px;
    }

    .logo-date{
        font:bold 10px hn;
        position: relative;
        left: 65px;
    }

    .logo-content{
        position: relative;
        top: -140px;
    }
}

@media screen and (max-width: 415px) {
    .logo-clg{
        font: normal 9px cl;
        position: relative;
        left:-10px;
    }

    .logo-plinth{
        font: normal 60px rez;
    }

    .logo-2017{
        font: bold 25px hn;
    }

    .logo-desc{
        font:normal 12px caviar;
        position: relative;
        left: 0px;
        top:-18px;
    }

    .logo-date{
        font:bold 10px hn;
        position: relative;
        left: 65px;
    }

    .logo-content{
        position: relative;
        top: -140px;
    }
}

@media screen and (max-width: 360px) {
    .logo-clg{
        font: normal 9px cl;
        position: relative;
        left:5px;
    }

    .logo-plinth{
        font: normal 50px rez;
    }

    .logo-2017{
        font: bold 20px hn;
        position: relative;
        left:2px;
    }

    .logo-desc{
        font:normal 10px caviar;
        position: relative;
        left: 0px;
        top:-22px;
    }

    .logo-date{
        font:bold 9px hn;
        position: relative;
        left: 40px;
    }

    .logo-content{
        position: relative;
        top: -125px;
    }
}

@media screen and (max-width: 320px) {

     .logo-content{
        position: relative;
        top: -100px;
    }

}


.cryptex-game-begins{
    font-family: cl;
    font-weight: 600;
    padding: 6px 14px;
    border: 1px solid;
    margin-bottom: 20px;
    display: inline-block;
}

.cryptex-game-begins-desc{
    font-family: 'Exo 2', sans-serif;
}
.cryptex-game-begins-register{
    font-family: 'Exo 2', sans-serif;
    text-decoration: underline;
}
.cryptex-notifty {
    display: none;
}
