h4{
    font: normal 40px 'Roboto';
    color:#8A084B;
    padding-bottom: 10px;
}

.fa-long-arrow-left{
    color: #8A084B;
}

.head{
    margin-top: 50px;
    margin-bottom: 40px;
}

.wrapper{
    font-family: 'Roboto';
}

.ques {
    margin-left: 50px;
    font:bold 20px 'Roboto';
    color:#B4045F;
}

.ans{
    margin-left: 80px;
}

footer{
    margin-top: 100px;
}

/*For payment_faq*/

.ans li{
    list-style: decimal;
}