h4{
    font: normal 40px 'Roboto';
    color:#b5001d;
    padding-bottom: 10px;
}

.content{
    margin-top: 50px;
    margin-bottom: 20px;
}

.card{
    transition: 0.3s;
    box-shadow: 1px 4px 8px 0 rgba(0,0,0,.2);
    height:220px;
    padding: 25px;
    margin-bottom: 50px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img{
    height:100px;
    width:100px;
    margin-bottom: 40px;:
}

.large-offset-1-5 {
    margin-left: 12.63333%;
}

footer{
    margin-top: 100px;
}
