.content{
    margin-top: 50px;
    margin-bottom: 40px;
}

h4{
    font: normal 40px 'Roboto';
    color:#0431B4;
    padding-bottom: 10px;
}

.desc{
    font-family: 'Roboto';
    max-width: 1100px;
}

.spons-content{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    height:200px;
    max-width: 170px;
    transition: 0.3s;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.spons-content-big{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    height:250px;
    max-width: 270px;
    transition: 0.3s;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 15px;
}

.spons-content:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.spons-content img{
    padding-top:20px;
}

.spons-content a{
    color:black;
}

.name{
    margin-top: 60px;
}

.name span{
    text-align: center;
    font:normal 17px 'Roboto';
/*
    position: absolute;
    top: 150px;
*/
}

.name-big span{
    text-align: center;
    font:normal 22px 'Roboto';
}

.name-big{
    margin-top: 18px;
}

.wrapper{
    padding-bottom: 80px;
}


.ei{
    margin-top: 10px;
    height: auto;
    width: 120px;
}

.grab{
    margin-top: 35px;
}

.proxbotics{
    margin-top: 48px;
}

.oyo{
    margin-top: 50px;
    height: auto;
    width: 130px;
}

.zoom{
    margin-top: 45px;
    height: auto;
    width: 150px;
}
.mwc{
    margin-top: 55px;
    height: auto;
    width: 150px;
}
.pizza{
    margin-top: 20px;
    height: auto;
    width: 120px;
}
.zoo{
    margin-top: 55px;
}
.pizz{
    margin-top: -5px;
}
.roboflu{
    margin-top: 60px;
}
.go{
    margin-top: 14px;
}

.manya{
    width: 120px;
    padding-top: 49px !important;
}

.tpr{
    width: 120px;
    padding-top: 39px !important;
}

.hackerearth{
    width: 120px;
    padding-top: 61px !important;
    padding-bottom: 18px !important;
}
.geek{
    width: 125px;
    padding-top: 73px !important;
}

.select{
    width: 140px;
    padding-top: 69px !important;
}

.selecttxt{
    margin-top: 48px;
}
.oy{
    margin-top: 57px;
}
.bisleri{
    width: 86%;
    padding-top: 50px !important;
}
.bisleri-text{
    margin-top: 45px;
}

footer{
    margin-top: 100px;
}

/*sponsors 16*/


img[src="media/sponsors/sap.gif"]{
    margin-top: 20px;
    height:auto;
    width:130px;
}

img[src="media/sponsors/ti.png"]{
    margin-top: 10px;
    height:auto;
    width:150px;
}

img[src="media/sponsors/i3indya.png"]{
    margin-top: 0px;
    height:auto;
    width:120px;
}

img[src="media/sponsors/av.jpg"]{
    margin-top: 25px;
    height:auto;
    width:150px;
}

img[src="media/sponsors/g4g.png"]{
    margin-top: 25px;
    height:auto;
    width:150px;
}

img[src="media/sponsors/inspi.png"]{
    margin-top: 20px;
    height:auto;
    width:150px;
}

img[src="media/sponsors/hackerearth.png"]{
    margin-top: 30px;
    height:auto;
    width:150px;
}

img[src="media/sponsors/hr.jpg"]{
    margin-top: 10px;
    height:auto;
    width:80px;
}

img[src="media/sponsors/srjna.png"]{
    margin-top: 10px;
    height:auto;
    width:150px;
}

img[src="media/sponsors/tvg.png"]{
    margin-top: 15px;
    height:auto;
    width:100px;
}

img[src="media/sponsors/ve.jpg"]{
    margin-top: 20px;
    height:auto;
    width:150px;
}

img[src="media/sponsors/adideva.png"]{
    margin-top: 10px;
    height:auto;
    width:150px;
}

img[src="media/sponsors/roboraze.png"]{
    margin-top: 30px;
    height:auto;
    width:150px;
}

img[src="media/sponsors/zw.png"]{
    margin-top: 20px;
    height:auto;
    width:150px;
}

img[src="media/sponsors/finx.png"]{
    margin-top: 10px;
    height:auto;
    width:100px;
}

img[src="media/sponsors/space.png"]{
    margin-top: 20px;
    height:auto;
    width:150px;
}

img[src="media/sponsors/tcf.png"]{
    margin-top: 20px;
    height:auto;
    width:130px;
}

img[src="media/sponsors/dream.jpg"]{
    margin-top: -10px;
    height:auto;
    width:140px;
}

img[src="media/sponsors/ivycamp.jpg"]{
    margin-top: 0px;
    height:auto;
    width:150px;
}

img[src="media/sponsors/startup.png"]{
    margin-top: 10px;
    height:auto;
    width:170px;
}

img[src="media/sponsors/adword.png"]{
    margin-top: 0px;
    height:auto;
    width:150px;
}

img[src="media/sponsors/ketto.jpg"]{
    margin-top: -10px;
    height:auto;
    width:150px;
}

img[src="media/sponsors/wh.jpg"]{
    margin-top: -10px;
    height:auto;
    width:120px;
}

img[src="media/sponsors/ebay.jpg"]{
    margin-top: 0px;
    height:auto;
    width:150px;
}

img[src="media/sponsors/pizza.jpg"]{
    margin-top: 20px;
    height:auto;
    width:100px;
}

img[src="media/sponsors/youth.jpg"]{
    margin-top: 20px;
    height:auto;
    width:140px;
}

img[src="media/sponsors/bb.png"]{
    margin-top: 0px;
    height:auto;
    width:120px;
}

img[src="media/sponsors/2019.jpg"]{
    margin-top: 20px;
    height:auto;
    width:120px;
}

img[src="media/sponsors/me.png"]{
    margin-top: 0px;
    height:auto;
    width:100px;
}

img[src="media/sponsors/knowyourfest.png"]{
    margin-top: 20px;
    height:auto;
    width:150px;
}

img[src="media/sponsors/festpav.png"]{
    margin-top: 20px;
    height:auto;
    width:150px;
}

img[src="media/sponsors/fe.jpg"]{
    margin-top: 20px;
    height:auto;
    width:70px;
}

img[src="media/sponsors/ae.png"]{
    margin-top: 0px;
    height:auto;
    width:100px;
}

.ti{
    margin-top: 55px;
}

.i3{
    margin-top: 50px;
}

.av{
    margin-top: 75px;
}

.g4g{
    margin-top: 68px;
}

.he{
    margin-top: 73px;
}

.hr{
    margin-top: 45px;
}

.srj{
    margin-top: 52px;
}

.tvg{
    margin-top: 50px;
}

.rc{
    margin-top: 78px;
}

.fin{
    margin-top: 62px;
}

.sd{
    margin-top: 45px;
}

.tcf{
    margin-top: 50px;
}

.dw{
    margin-top: 7px;
}

.ivy{
    margin-top: 45px;
}

.so{
    margin-top: 57px;
}

.ga{
    margin-top: 35px;
}

.ket{
    margin-top: 25px;
}

.wh{
    margin-top: 20px;
}

.eb, .lp{
    margin-top: 47px;
}

.yi{
    margin-top: 45px;
}

.bb{
    margin-top: 50px;
}

.t19{
    margin-top: 55px;
}

.max{
    margin-top: 35px;
}

.kaf{
    margin-top: 70px;
}

.fp{
    margin-top: 70px;
}

.fad{
    margin-top: 40px;
}

.all{
    margin-top: 35px;
}

.big-wrapper{
    margin-bottom: 100px;
}

.large-offset-1-5 {
    margin-left: 12.63333%;
}

.sam{
    width: 150px;
    height: auto;
    margin-top: 35px;
}

.sampizz{
    margin-top: 40px;
}

.vito{
    width: 150px;
    height: auto;
    margin-top: 22px;
}

.vitocafe{
    margin-top: 26px;
}

.atkt{
    width: 100px;
    height: auto;
    margin-top: 18px;
}

.atkttxt{
    margin-top: 25px;
}

.ync{
    width: 130px;
    height: auto;
    margin-top: 12px;
}

.ynctxt{
    margin-top: 5px;
}
.previous-btn{
    color:#0431B4 !important;
    border-color:#0431B4 !important; 
}

.previous-btn:hover{
    color:white !important;
    background: #0431B4 !important;
    border-color: #0431B4;
}
