.content{
    margin-top: 50px;
    margin-bottom: 40px;
}

h4{
    font: normal 40px 'Roboto';
    color:#0697d8;
    padding-bottom: 10px;
}

.profile-card{
/*    position: relative;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10);
    border-radius: 5px;
    height:350px;
    max-width: 300px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 20px;
    transition: 0.3s;
}

.profile-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.profile-dp img{
    height: 115px;
    width: 115px;
    border-radius: 100%;
/*    background-color: darkgray;*/
/*    margin-left: 50px;*/
    margin: auto;
    margin-bottom: 20px;
}

.profile-name{
    font:bold 18px 'Roboto';
}

.profile-content{
    font:normal 15px 'Roboto';
    color:#626262;
/*    height: 20px;*/
}

.small-size{
    font-size: 13px;
}

.profile-social ul{
    list-style: none;
    margin-top: 15px;
    margin-bottom: 5px;
}

.profile-social li{
    display: inline-block;
    padding-right: 15px;
}

.fa-phone, .fa-envelope{
    color:#0697d8;
    padding-right: 15px;
}

.fa-size{
    padding-right: 2px;
}

hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8cc3db; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8cc3db; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}
.hrstyle{
    margin: auto;
    width: 400px;
}

footer{
    margin-top: 100px;
}