.details{
    font:normal 16px 'Roboto';
}

h4{
    font: normal 40px 'Roboto';
    color:#c90ceb;
    padding-bottom: 10px;
}

.content{
    margin-top: 50px;
    margin-bottom: 40px;
}

/*
.columns{
    background-color: darkgray;

}
*/

.dp-image img {
    width: 150px;
    height: 150px;
}

.title-workshop{
    font:bold 20px 'Roboto';
}

.by-workshop{
    font:normal 16px 'Roboto';
    color:#4a4a4a;
}

.details ul{
    list-style: none;
    margin: 0px;
}

.details li{
    display: inline-block;
    padding-right: 30px;
}
.details a{
    font:normal 20px 'Roboto';
    color:#c90ceb;
}

.workshop-desc{
    font:normal 16px 'Roboto';
    color:#4a4a4a;
    margin-top: 50px;
}

footer{
    margin-top: 100px;
}

.content{
    margin-top: 50px;
}

.content-head{
    font:bold 18px 'Roboto';
    color:black;
    text-align: center;
}

.pipe-1{
    margin-left: 40px;
    margin-right: 35px;
}

.pipe-2{
    margin-left: 20px;
    margin-right: 20px;
}

.prev-card{
    position: fixed;
    top:250px;
    left: 5px;
    width: 70px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.prev-card i{
    margin-top:38px;
    margin-left: 20px;
}

.prev-card a{
    color: #c90ceb;
}

.next-card{
    position: fixed;
    top:250px;
    right: 5px;
    width: 70px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.next-card i{
    margin-top:38px;
    margin-left: 20px;
}

.next-card a{
    color: #c90ceb;
}

.payment-get-email .group{
    width: 300px;
    margin: 10px auto 10px;
}
.total-amount{
    font-size: 16px;
    font-weight: 600;
}
.email-not-foun-error-msg{
    font-size: 12px;
    color: red;
    margin: 0px;
    opacity: 0;
}
.team-box-gray{
    padding: 25px 15px 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.1);
}

.team-box-gray ol{
    margin-top: 10px;
}
.team-box-gray span{
    width: 100px;
    display: inline-block;
}

.team-box-gray .reg-form-btn-register{
    background: #00b9f5;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    box-shadow: 0 0 0 0;
}

.card {
    font: bold 15px 'Roboto';
    padding: 20px;
    transition: 0.3s;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
    border-radius: 5px;
    height: 300px;
    margin-bottom: 30px;
    position: relative;
}
.card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img{
        height: 100px;
        margin-bottom: 20px;
}
.card a{
    color:black;
}

.name {
    font: bold 15px 'Roboto';
    opacity: 0.7;
}
.name-desc {
    font: normal 15px 'Roboto';
    opacity: 0.7;
}
.know-more {
    color: #c90ceb;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.know-more:hover{
    color: #c90ceb;
}
