.event-up{
	background-color:#4ec2f6;
	width: 100%;
	height: 200px;
}

#event-container{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 500px;
	margin-top: -150px;
}

.event-semi-card{
	width: 170px;
	height: 210px;
	float: left;
	margin-right: 20px;
	/*display: none;*/
}

.event-x{
	float: left;
	width: 150px;
	/*border: 1px solid black;*/
	margin-left: 20px;
	margin-top: 140px;
	display: none;
}




.event-x-btn{
	float: right;
	margin-top: 50px;
	margin-right: 30px;
	display: none; 
}

.event-x>img{
	width: 110px;
}

.event-x1{
	margin-left: 90px;
	margin-top: 140px;
}

#robo-txt{
	margin-left: 24px;
	color: #41A4F4;
}

#manange-txt{
	margin-left: 10px;
	color: #F44336;
}

#coding-txt{
	margin-left: 30px;
	color: #009688;
}

#quiz-txt{
	margin-left: 25px;
	color: #9474CB;
}

#astro-txt{
	margin-left: 17px;
	color: #01579B;
}

#literary-txt{
	margin-left: 30px;
	color: #FFC107;
}

.even-card-name{
    position: relative;
    top: -54px;
}
.even-card-name-more{
position: relative;
    top: 145px;
    left:35px;
}

.even-card-coming-soon{
	left: 5px;
    color: #414141;
    position: relative;
    top: 70px;
    font-size: 20px;
    display: none;
}
.event-semi-card1,.event-semi-card5 {
	margin-left: 190px;
}
#event-imagex{
	width: 200px;
    position: relative;
    top: -38px;
    left: -36px;
}

body{
	background-color: #eee;
}

@media screen and (width: 1920px) {
#event-container{
	margin-left: 320px;
	margin-right: 0px;
}
.event-semi-card1,.event-semi-card5 {
	margin-left: 240px;
}
}

@media screen and (width: 1600px) {
#event-container{
	margin-left: 240px;
	margin-right: 0px;
}
.event-semi-card1,.event-semi-card5 {
	margin-left: 240px;
}
}

@media screen and (max-width: 1200px) {
.event-semi-card1,.event-semi-card5{
	margin-left: 150px;
}
}

@media screen and (max-width: 1150px) {
.event-semi-card1,.event-semi-card5{
	margin-left: 100px;
}
}

@media screen and (max-width: 1050px) {
.event-semi-card1,.event-semi-card5{
	margin-left: 50px;
}
}

@media screen and (max-width: 970px) {
.event-semi-card1,.event-semi-card5{
	margin-left: 20px;
}
}

@media screen and (max-width: 920px) {
.event-semi-card1,.event-semi-card4{
	margin-left: 110px;
}
.event-semi-card5{
	margin-left: 0px;	
}
#event-container{
	height: 720px;
}
.event-semi-card7{
	margin-left: 200px;
}
}

@media screen and (max-width: 850px) {
.event-semi-card1,.event-semi-card4{
	margin-left: 50px;
}
.event-semi-card5{
	margin-left: 0px;	
}
#event-container{
	height: 720px;
}
.event-semi-card7{
	margin-left: 100px;
}
}

@media screen and (max-width: 748px) {
.event-semi-card1,.event-semi-card3, .event-semi-card5,.event-semi-card7{
	margin-left: 100px;
}
.event-semi-card4{
	margin-left: 0px;
}
#event-container{
	height: 950px;
}

}

@media screen and (max-width: 600px) {
.event-semi-card1,.event-semi-card3, .event-semi-card5,.event-semi-card7{
	margin-left: 35px;
}
.event-semi-card4{
	margin-left: 0px;
}
#event-container{
	height: 950px;
}

}