<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Transporter | Plinth'17</title>
        <script src="https://use.fontawesome.com/8720ae4a19.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="../css/foundation.css">
        <link rel="stylesheet" href="../css/app.css">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/robotics.css" />
    </head>
    <body>

        <nav>
            <div class="header-logo">
                <a href="index.html"><img src="media/logo.svg"/></a>
            </div>
            <button class="ham-btn"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></button>
            <div class="ham-wrapper">
                <div class="ham-content text-center">
                    <button class="ham-close"><span>X</span></button>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="competitions.html">Competitions</a></li>
                        <li><a href="#">Workshops</a></li>
                        <li><a href="#">Lectures</a></li>
                        <li><a href="#">The LNMIIT MUN</a></li>
                        <li><a href="#">Hackathon</a></li>
                    </ul>
                </div>
            </div>
            <div class="navitem text-right">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="competitions.html">Competitions</a></li>
                    <li><a href="#">Workshops</a></li>
                    <li><a href="#">Lectures</a></li>
                    <li><a href="#">The LNMIIT MUN</a></li>
                    <li><a href="#">Hackathon</a></li>
                </ul>
            </div>
        </nav>

        <div class="content">
            <div class="row">
                <div class="small-10 small-centered text-center columns">
                    <h4>Robotics</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="row">
<!--                    gray circle-->
                    <div class="small-7 small-push-4 medium-5 large-4 large-push-3 columns">
                        <div class="dp-image">

                        </div>
                    </div>
                    <div class="small-10 medium-5 large-5 large-pull-1 columns">
                        <div class="details">
                            <span class="title-workshop">Transporter</span>
                            <br />
                            <br />
                            <span>Date : 22<sup>nd</sup> Jan 2016</span>
                            <br />
                            <span>Venue : The LNMIIT, Jaipur </span>
                            <br />
                            <br />
                            <ul>
                                <li><a href="#" class="reg-btn">Register ></a></li>
                                <li><a href="#">Make Payment ></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        registeration form modal-->
        <div class="wrapper-form">
            <div class="reg-form">
                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>Name</label>
                </div>

                <div class="radio-sex">
                    <span class="reg-sex-h">Gender</span>
                    <div class="reg-sex">
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload1"   name="sex" value="male" />
                          <label for="radioWorkload1"><span></span>Male</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload2"   name="sex" value="female" />
                          <label for="radioWorkload2"><span></span>Female</label>
                        </span>
                    </div>
                </div>

                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>Phone Number</label>
                </div>
                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>Email</label>
                </div>
                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>College</label>
                </div>
                <div class="radio-year">
                    <span class="reg-sex-h">Year</span>
                    <div class="reg-sex">
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload3"   name="year" value="1" />
                          <label for="radioWorkload3"><span></span>1</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload4"   name="year" value="2" />
                          <label for="radioWorkload4"><span></span>2</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload5"   name="year" value="3" />
                          <label for="radioWorkload5"><span></span>3</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload6"   name="year" value="4" />
                          <label for="radioWorkload6"><span></span>4</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload7"   name="year" value="5" />
                          <label for="radioWorkload7"><span></span>5</label>
                        </span>
                    </div>
                </div>
                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>City</label>
                </div>
                <div class="radio-acc">
                    <span class="reg-acc-h">Accomodation</span>
                    <div class="reg-acc">
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload8"   name="acc" value="yes" />
                          <label for="radioWorkload8"><span></span>Yes</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload9"   name="acc" value="no" />
                          <label for="radioWorkload9"><span></span>No</label>
                        </span>
                    </div>
                </div>

                <div class="add-memb">
                    <a class="add" href="javascript:void(0)">+ Add Member</a>
                </div>

                <div class="btn">
                    <a class="btn-register" href="javascript:void(0)">Register</a>
                </div>

                <div class="reg-social">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Register With Facebook</a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>Register With Google</a></li>
                    </ul>
                </div>
            </div>
        </div>




          <div class="card">
              <div class="row">
                  <div class="small-4 small-offset-1 columns">
                      <div class="card-img">
                      </div>
                  </div>
                  <div class="small-6 columns end">
                      <div class="prize">
                      <span>Prize Worth</span>
                      <br />
                      <span>INR. 30,000</span>
                      </div>
                  </div>
              </div>
          </div>


        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="tab-wrapper">
                    <ul class="tab">
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Synopsis')" id="defaultOpen">Synopsis</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'EventDesc')">Event Description</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Rules')">Rules</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Judges')">Judges</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Mentors')">Mentors</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Sponsors')">Sponsors</a></li>
                    </ul>

                    <ul class="drop-tab">
                        <a><i class="fa fa-chevron-down fa-lg drop-toggle" aria-hidden="true"></i></a>
                        <div class="drop-content-wrapper">
                          <ul class="drop-content">
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Synopsis')" id="defaultOpen">Synopsis</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'EventDesc')">Event Description</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Rules')">Rules</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Judges')">Judges</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Mentors')">Mentors</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Sponsors')">Sponsors</a></li>
                          </ul>
                        </div>
                    </ul>

                    <div class="big-wrapper">
                        <div class="wrapper">
                    <div id="Synopsis" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Synopsis</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <p>
                                    Assume you are in a virtual gaming world. Virtual reality gaming is where a person can experience being in a three-dimensional environment and interact with that environment during a game. This is an essential part of the game. 
                                </p>
                                <p>
                                    Think that there is sudden attack by foe army on a castle and here king, some courtier, some other people are trapped inside the castle. Our aim is to design a transporter robot which has to save all the trapped people from castle. The task is mammoth and the time is minimal.                                                           
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="EventDesc" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Event Description</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <p><b>Problem Statement</b>
                                    <ul>
                                        <li>
                                            Manual Bot Task :
                                            <ol>
                                                <li>As the game starts, the manual bot has to pick people and secure them by transferring to conveyor assembly help them to get out of castle.</li> 
                                                <li>There will be a king, some Courtier and common people which are trapped in a castle arena.</li> 
                                                <li>Aim of bot is to save maximum people trapped in an arena.</li> 
                                            </ol>
                                        </li>
                                        <li>
                                            Game Field And Objects: Description
                                            <ol>
                                                <li>The field consists of an area having the dimension of 3600mm x 2400mm and surrounded by a wooden fence with a height of 100mm.</li> 
                                                <li>The common people will be of size 50x50x50mm having hooks on them and Courtier will be of size 60 x 60 x 60mm and king will be of size 80 x 80 x 80mm.</li> 
                                                <li>There are three points, point ‘START’ for manual bot to start and other two points for safe pit where conveyor is fixed.</li> 
                                                <li>One conveyor will be for common people and other for Courtier and king both situated at opposite corners.</li> 
                                                <li>Safe pits will be of 100 x 100mm (lxb).</li> 
                                                <li>At maximum there will be 5 Courtier and 10 common people and one king in the arena.</li> 
                                            </ol>
                                        </li>
                                        <li>
                                            Completion Tasks :
                                            <ol>
                                                <li>As the game begins the manual bot, starting from point ‘START’ can now pick the people and start putting them on conveyor assembly.</li> 
                                                <li>After picking up all the people manual bot has to pick the king from where he is trapped.</li> 
                                                <li>Meanwhile conveyor assembly will start saving the people and transferring them to the safe pits.</li> 
                                            </ol>
                                        </li>
                                    </ul>
                                </p>    
                            </div>
                        </div>
                    </div>

                    <div id="Rules" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Rules</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <p><b>General Rules </b>
                                <ol>
                                    <li>A team can consist of a maximum of 4 members.</li>
                                    <li>Each team must declare a name for their team at the time of competition.</li>
                                    <li>The machines you build will be first checked for size and safety. The machine should not cause electric power breakdowns.</li>
                                    <li>The machine must not contain any combustible, corrosive, or otherwise dangerous materials for safety reasons. No explosive compression or decompression, either internal or external is permitted.</li>
                                    <li>Judges have the right to disqualify any machine whose working mechanism or game strategy is considered hazardous in any way.</li>
                                </ol></p>
                                <p><b>Robot Specification</b>
                                <ol>
                                    <li>Maximum dimension limits for manual bot is 400 x 300 x 250mm.</li>
                                    <li>If any of the machines uses an externally placed power supply, the external power supply is not included in the size constraint. However in case of on-board power supply, the machine along with the power supply should fit in the above mentioned dimension box.</li>
                                    <li>The machine must use only mechanical power or mechanical power converted from a source of electrical energy.
                                    <li>During the game the machine is allowed to expand as much as it can, provided it does not damage the arena.</li>
                                    <li>In case of electric power supply, the voltage at any point must be lower or equal to 24V DC during the game.</li>
                                    <li>The organizers will provide a standard 230V/50 Hz AC power supply.</li>
                                    <li>Any eliminator, adaptor, etc. required will have to be arranged by participants themselves. No special demand will be entertained.</li>
                                    <li>The manual bot must be controlled by wired or wireless remote control mechanism at all stages of game. In case of wired mechanism the wire must be slack at all point of time during the game.</li>
                                    <li>The machine should not leave spare parts in the arena at any stage. This can lead to a time penalty or may even lead to disqualification.</li>
                                    <li>Devices like hot air balloons/rockets which assist the machine in movement in any way are not permitted. Any kind of assistance for locomotion through wall is prohibited.</li>
                                </ol></p>
                                <p><b>Violation and Disqualification</b>
                                    <ol>
                                        <li>During the match, the team members are not allowed to touch the machine or the arena without permission of referee. Failure to do so will lead to disqualification.</li>
                                        <li>Any kind of damage to the arena will attract disqualification.</li>
                                        <li>The teams will be asked to get ready 15 minutes before the start of their task. If a team is not ready within the stipulated time, they may be disqualified.</li>
                                        <li>In any case, the decision of the judges will be final if they feel that any team is not playing with fair interest.</li>
                                    </ol>
                                </p>
                                <p><b>Game Procedure</b>
                                    <ol>
                                        <li>Length: 10 minutes</li>
                                        <li>As many as retries can be made only after the referee’s permission in cases such as when the robot is declared immobile.</li>
                                        <li>Only the 2 team members per robot are allowed to touch the robot while placing it back to the retry point whose names should be given to coordinators before the game starts.</li>
                                    </ol>
                                </p>                    
                        
                            </div>
                        </div>
                    </div>

                    <div id="Judges" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Judges</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <p><b>Scoring </b>
                                <ol>
                                    <li>For saving common people 20 points .</li>
                                    <li>For saving Courtier 50 points.</li>
                                    <li>For saving king 100 points</li>
                                    <li>If you take a retry -5 points</li>
                                    <li>If people or king falls outside of pits no points will be given or deducted.</li>
                                </ol></p>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <p><b>Structure Of The Tournament </b>
                                <ol>
                                    <li>First round: Top 5 teams will qualify based on total points scored</li>
                                    <li>Final round: Top 5teams will compete</li>
                                    <li>Arena and obstacles of final round will be different from first round</li>
                                </ol></p>
                            </div>
                        </div>        
                    </div>

                    <div id="Mentors" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Mentors</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in lorem nisl. Sed vitae sodales odio. Pellentesque ac convallis purus. Nam ut.</p>
                            </div>
                        </div>
                    </div>

                    <div id="Sponsors" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Sponsors</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in lorem nisl. Sed vitae sodales odio. Pellentesque ac convallis purus. Nam ut.</p>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <footer>
            <div class="row social-wrapper">
                <div class="small-12 small-centered column text-center social">
                    <ul>
                        <li><a href="https://www.facebook.com/Plinth.LNMIIT/" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/PlinthLNMIIT" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
                        <li><a href="https://plus.google.com/+PLINTHLNMIIT/posts" target="_blank"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-youtube-play fa-lg" aria-hidden="true" ></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row footer-wrapper footer-posi">
                <div class="small-12 small-centered column text-center footer-text">
                    <ul>
                        <a href="about.html"><li>About Us</li></a>
                        <a href="sponsors.html"><li>Sponsors</li></a>
                        <a href="#"><li>Our Team</li></a>
                        <a href="faq.html"><li>FAQs</li></a>
                        <a href="contactUs.html"><li>Contact Us</li></a>
                    </ul>
                </div>
            </div>
        </footer>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/tab.js"></script>
        <script src="../js/reg-form.js"></script>

    </body>
</html>
