<section id="aboutus_section"><div class="about_img" ></div>

    <div class="row container card-panel hoverable" id="aboutus" >
      <h2 style="text-align:center" class="header">FAQ</h2>
      <p style="text-align:left" class="grey-text text-darken-3 lighten-3">
      	Q. Random question Number 1? <br>
      	A. Answer Number 1.<br><br>

      	Q. What should I put here? <br>
      	A. I dont Know.<br><br>

      	Q. Random question Number 2? <br>
      	A. I aint gonna answer that.<br><br>

      	Q. Random question Number 3? <br>
      	A. Iron Man.<br><br>

      	Q. why Kattappa killed Bahubali? <br>
      	A. Daya zara pata lagao!!<br><br>
      </p>
    </div>
</section>