<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Us | Plinth'17</title>
        <meta name="Description" content="Plinth is the annual inter college Techno-Management-Literary Festival of the LNMIIT, Jaipur. It is an Inter college fest for tech enthusiasts.">
        <!-- Open Graph data -->
        <meta property="og:title" content="About Us | Plinth'17" />
        <meta property="og:type" content="site" />
        <meta property="og:url" content="https://plinth.in/about" />
        <meta property="og:image" content="https://plinth.in/media/logo.svg" />
        <meta property="og:description" content="Plinth is the annual inter college Techno-Management-Literary Festival of the LNMIIT, Jaipur. It is an Inter college fest for tech enthusiasts." />
        <meta property="og:site_name" content="Plinth" />
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@PlinthLNMIIT">
        <meta name="twitter:title" content="About Us | Plinth'17">
        <meta name="twitter:description" content="Plinth is the annual inter college Techno-Management-Literary Festival of the LNMIIT, Jaipur. It is an Inter college fest for tech enthusiasts.">
        <meta name="twitter:creator" content="@PlinthLNMIIT">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/about.css" />
        <link rel="stylesheet" href="css/atvImg.css" />
    </head>
    <body>

        <% include partials/header %>

        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>

        <div class="content">
            <div class="row head">
                <div class="small-10 small-centered columns text-center">
                    <h4>About Us</h4>
                </div>
            </div>
            <div class="row desc">
                <div class="small-12 columns text-left">
                    <p>Plinth is the annual inter college Techno-Management-Literary Festival of the LNMIIT, Jaipur.</p><p>A bud when comes out of its cover, strives for the glow which could make it an attractive flower. So, here in Plinth as we celebrate the third year of its successful organization, we are proud to say that the bud found its glow in the enthusiasm and the confidence of its participants.</p><p>Plinth brings immense opportunities for all the enthusiasts to showcase their talents and skills. The coalescence of all the different fields of career takes place at various corners of a single place. It starts with a typical morning that brings everyone out of their warm coziness. Ready and suited to make it grand and successful, after the long days of hard work. Rushing out fearlessly to know and gather all that is offered. For some it is where the key to this whole new world of technology and innovation is found. While for others, it is where they meet new friends whom they can take along in their journey to learn more and conquer this huge expanse of science.</p><p>The creaks of the robots clashing, the noise of the people debating, and the thunder of claps for the speaker who would have just kindled hundreds of hearts, mark the plinth days. With an enormous amount of rage and knowledge facing off under one roof, it is a spark created by the meet of inspiration and technology. While the end, with a blithesome entertainment that is sure to rejuvenate all after the long day of learning and competing.</p><p> Get ready to experience the elegance of science in its style. Once you are here, you are no more a student or a teacher, but a learner for whom there are lots kept in store to explore. See what is happening around the world. What is it that which is made for you? Come and join us to listen to the stories that everyone has got to share.</p><p>Learn and take away with you a truly enriching experience.</p>
                </div>
            </div>
        </div>

        <div class="video-wrapper">
            <div class="row">
                <div class="small-12 small-centered text-center columns">
                    <p>Official After Movie of Plinth' 16</p>
                </div>
            </div>
            <div class="row">
                <div class="small-12 small-centered text-center columns">
                    <div class="plinth-video">
                        <iframe src="https://www.youtube.com/embed/_NoJIuZG39c" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="high-wrapper">
            <div class="row">
                <div class="small-12 small-centered text-center columns">
                    <p>Highlights of Plinth' 16</p>
                </div>
            </div>

            <div class="row">

                <div class="large-3 large-offset-2 medium-4 small-12 columns">
                    <div class="one">
                        <div class="atvImg">
                            <div class="atvImg-layer" data-img="media/highlights/pro1.jpg"></div>
                        </div>
                    </div>
                </div>

                <div class="large-3 columns medium-4 small-12 two">
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="two-one">
                              <div class="atvImg">

                                  <div class="atvImg-layer" data-img="media/highlights/robo1.jpg"></div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="two-two">
                              <div class="atvImg">

                                  <div class="atvImg-layer" data-img="media/highlights/code.jpg"></div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="large-3 medium-4 columns small-12 end three">
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="three-one">
                              <div class="atvImg">

                                  <div class="atvImg-layer" data-img="media/highlights/bot2.jpg"></div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="three-two">
                              <div class="atvImg">

                                  <div class="atvImg-layer" data-img="media/highlights/pro2.jpg"></div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include partials/footer %>
        <script src="js/atvImg-min.js"></script>
        <script>
          atvImg();
        </script>
    </body>
</html>
