<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="Plinth'17" />
        <meta name="description" content="Plinth is the Annual Techno-Management Literary Fest of LNMIIT Jaipur.">
        <meta name="keywords" content="Plinth, Plinth'17, Technical Fest, Management Fest, Literary Fest, MUN, Fest, LNMIIT, Jaipur, Robotics, Astronomy, Workshops, WikitoLearn, Vivacity, Desportivos">
        <meta name="robots" content="index"/>
        <meta property="og:title" content="Plinth'17">
        <meta property="og:description" content="Plinth is the Annual Techno-Management Literary Fest of LNMIIT Jaipur.">
        <meta property="og:image" content="https://plinth.in/media/plinth-preview.jpg">
        <meta property="og:url" content="https://plinth.in/">
        <meta property="fb:app_id" content="168845313579478">
        <meta name="author" content="Mukul Jain">
        <meta name="twitter:title" content="Plinth'17">
        <meta name="twitter:description" content="Plinth is the Annual Techno-Management Literary Fest of LNMIIT Jaipur.">
        <meta name="twitter:image" content="https://plinth.in/media/plinth-preview.jpg">
        <meta name="twitter:card" content="summary_large_image">
        <title>Cryptex | Plinth'17</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Exo+2:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/cryptex.css">
        <style>
            .master-wrapper{
                display: none
            }
        </style>
    </head>
    <body>

        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>
        <section class="cryptex-wrapper footer-adjust leaderboard">
            <div class="row backtoques">
                <a href="/cryptex/play">< Back to questions</a>
            </div>
            <div class="row heading">
                <div class="small-2 column">
                     &nbsp
                </div>
                <div class="small-4 column">
                    Name
                </div>
                <div class="small-4 column">
                    College
                </div>
                <div class="small-2 column">
                    Level
                </div>
            </div>

            <div class="rankBoard">
                <% for(var i=0; i<results.length; i++){ %>
                    <div class="row contentrows" <% if(results[i].cryptexLevel === 30 ){ %> style="color : green" <%}%>>
                        <div class="small-2 number column">
                             #<%= i + 1 %>
                        </div>
                        <div class="small-4 column">
                            <%= results[i].name  %>
                        </div>
                        <div class="small-4 column">
                            <%= results[i].college  %>
                        </div>
                        <div class="small-2 column">
                            <% if(results[i].cryptexLevel === 30 ){ %>
                                Completed
                            <% }else{ %>
                                <%= results[i].cryptexLevel  %>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>

        </section>

        <% include partials/footer%>
        <script src="js/index.js"></script>
        <script src="js/cryptex.js"></script>

    </body>
</html>
