<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="Plinth'17" />
        <meta name="description" content="Plinth is the Annual Techno-Management Literary Fest of LNMIIT Jaipur.">
        <meta name="keywords" content="Plinth, Plinth'17, Technical Fest, Management Fest, Literary Fest, MUN, Fest, LNMIIT, Jaipur, Robotics, Astronomy, Workshops, WikitoLearn, Vivacity, Desportivos">
        <meta name="robots" content="index"/>
        <meta property="og:title" content="Plinth'17">
        <meta property="og:description" content="Plinth is the Annual Techno-Management Literary Fest of LNMIIT Jaipur.">
        <meta property="og:image" content="https://plinth.in/media/plinth-preview.jpg">
        <meta property="og:url" content="https://plinth.in/">
        <meta property="fb:app_id" content="168845313579478">
        <meta name="author" content="Mukul Jain">
        <meta name="twitter:title" content="Plinth'17">
        <meta name="twitter:description" content="Plinth is the Annual Techno-Management Literary Fest of LNMIIT Jaipur.">
        <meta name="twitter:image" content="https://plinth.in/media/plinth-preview.jpg">
        <meta name="twitter:card" content="summary_large_image">
        <title>Cryptex | Plinth'17</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Exo+2:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/cryptex.css">
        <style>
            .master-wrapper{
                display: none
            }
            .reg-status{
                color : black;
            }
        </style>
    </head>
    <body>

        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>
        <section class="cryptex-wrapper footer-adjust question">
            <div class="row backtoques">
                <a href="/cryptex/leaderboard">Leaderboard ></a>
            </div>
            <div class="row">
                <div class="small-10 small-centered medium-12 column contentmain">
                    <span class="level-text" >Level #<%= doc.level %><span>
                    <div class="row">
                        <div class="small-10 medium-8 large-6 small-centered column">
                            <div class="contentImage text-center">
                                <img src="<%= doc.image %>">
                            </div>
                            <div class="contentQues">
                                Q. <%= doc.question %>
                            </div>
                            <br>
                            <br>
                            <form action="javascript:void(0)" class="text-center">
                                <div class="group group-center">
                                    <input type="text" id="in-name" class="user-answer" required>
                                    <span class="highlight"></span>
                                    <label>Answer</label>
                                </div>
                                <input type="submit" value="Submit" class="reg-form-btn-register cryptex-btn" onclick="submitAnswer()">
                            </from>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <% include partials/footer%>
        <script>
            function submitAnswer(){
                data = {
                    answer : $('.user-answer').val(),
                    level : <%= doc.level %>,
                }
                if(data.answer === ""){
                    return;
                }

                activateLoader();
                $.post( {
                    url: '/cryptex/submitanswer',
                    contentType: 'application/json; charset=utf-8',
                    dataType : 'json',
                    data: JSON.stringify(data)
                })
                .done(function( data ) {
                    deactivateLoader();
                    if(data.response){
                        notifDisplay(1,8);
                        window.location.href = "/cryptex/play";
                    }
                    else {
                        notifDisplay(0,9);
                    }
                })
                .fail(function(response) {
                    apiCallFail(response);
                });
            }
        </script>

    </body>
</html>
