<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FAQ | Plinth'17</title>
        <meta name="Description" content="Here are some FAQs regarding Plinth 17, the annual techno-management literary fest. Find the best answers to the most frequent queries here.">
        <meta property="og:title" content="FAQ | Plinth'17" />
        <meta property="og:type" content="event" />
        <meta property="og:url" content="https://plinth.in/faq" />
        <meta property="og:image" content="https://plinth.in/media/logo.svg" />
        <meta property="og:description" content="Here are some FAQs regarding Plinth 17, the annual techno-management literary fest. Find the best answers to the most frequent queries here." />
        <meta property="og:site_name" content="Plinth" />
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@PlinthLNMIIT">
        <meta name="twitter:title" content="FAQ | Plinth'17">
        <meta name="twitter:description" content="Here are some FAQs regarding Plinth 17, the annual techno-management literary fest. Find the best answers to the most frequent queries here.">
        <meta name="twitter:creator" content="@PlinthLNMIIT">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/faq.css" />
    </head>
    <body>
        
        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>
        
        <div class="row head">
            <div class="small-10 small-centered columns text-center">
                <h4>Frequently Asked Questions</h4>
            </div>
        </div>
        
        <div class="row">
            <div class="small-12 small-centered columns ">
                <div class="wrapper">
                    <div class="ques"><p>What are the registration charges?</p></div>
                    <div class="ans"><p>The registration charges and other necessary details regarding the payment are available under the tab "Register" of all specific events at http://plinth.lnmiit.ac.in.</p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 small-centered columns ">
                <div class="wrapper">
                    <div class="ques"><p>How can we reach to the event?</p></div>
                    <div class="ans"><p>PLINTH takes place in The LNM Institute of Information Technology (LNMIIT) campus in Jaipur (state of Rajasthan).<br>
	               <b>By Air</b><br>

                    The LNM Institute of Information Technology campus is at a distance of approximately 23.3km from the airport.<br>
                    LNMIIT has its own transportation facilities to ply to and fro from LNMIIT campus to Jaipur city which starts from Ajmeri Gate, Raja Park, Pink Square mall, Jaipur city. Ajmeri Gate is approximately 3.3km from Jaipur Railway station.<br>
                    Prepaid cabs are available from the airport to the campus.<br>

                    <b>By Rail</b><br>
                    The LNM Institute of Information Technology campus is at a distance of a
                    approximately 17.4km from the Jaipur railway station.<br>
                    LNMIIT has its own transportation facilities to ply to and fro from LNMIIT campus to Jaipur city which starts from Ajmeri Gate, Raja Park, Pink Square mall, Jaipur city. Ajmeri Gate is approximately 3.3km from Jaipur Railway station.<br>
                    Prepaid cabs are available from the Railway station to the campus.<br></p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 small-centered columns ">
                <div class="wrapper">
                    <div class="ques"><p>Can I register, but not take accommodation?</p></div>
                    <div class="ans"><p>The registration amount remains unchanged in both the cases. It is advisable to avail the accommodation facility since there is no other mode of accommodation available in the campus during the fest.</p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 small-centered columns ">
                <div class="wrapper">
                    <div class="ques"><p>I want to attend fun/informal events only. Will I have to pay the whole registration fee?</p></div>
                    <div class="ans"><p>No, you have to pay only for the events. Only if any fun/informal events have charges then you have to pay for that specific event, otherwise it's free!</p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 small-centered columns ">
                <div class="wrapper">
                    <div class="ques"><p>What is the payment procedure for registration of any events?</p></div>
                    <div class="ans"><p>The payment procedure will be online and offline as well. Those who have been shortlisted, will be sent an email. You will have to report at the registration desk with the payment receipt print out and the mandatory documents. Failing to bring any of the documents may lead to cancellation of your participation. The documents are:<br>
                    College ID card.<br>
                    Printout of the receipt of payment.<br><br>
                    For Offline payment: Those participants who haven't paid the amount online also have a chance to pay offline for on spot registrations for the events but that completely depend on availability of seats.</p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 small-centered columns ">
                <div class="wrapper">
                    <div class="ques"><p>Shall I carry my ID card with me?</p></div>
                    <div class="ans"><p>It is mandatory for all participants to carry college IDs. This is for your own convenience. Moreover you will be asked to produce your college id cards at the time of registrations.</p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 small-centered columns ">
                <div class="wrapper">
                    <div class="ques"><p>Will all the team members be given accommodation at the same place?</p></div>
                    <div class="ans"><p>We will try but there is no surety for the same.</p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 small-centered columns ">
                <div class="wrapper">
                    <div class="ques"><p>What are the food facilities inside the campus?</p></div>
                    <div class="ans"><p>There are food stalls available in the arena as long as it's open. Apart from this, there is the campus mess as well as various eateries and canteens in the campus where food is available at subsidized rates.</p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 small-centered columns ">
                <div class="wrapper">
                    <div class="ques"><p>What about the hospital facility?</p></div>
                    <div class="ans"><p>There is an institute Medical Unit located near the SAC. In case you fall ill, you are advised to report to us at accommodation desk. We shall make appropriate arrangements for you to be treated at the Medical unit. We shall also be carrying a first aid kit with us, at the accommodation desk.</p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 small-centered columns ">
                <div class="wrapper">
                    <div class="ques"><p>Are there ATMs inside the campus?</p></div>
                    <div class="ans"><p>There are State Bank and ICICI Bank ATMs inside the campus.</p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 small-centered columns ">
                <div class="wrapper">
                    <div class="ques"><p>Can I enter The LNMIIT campus anytime?</p></div>
                    <div class="ans"><p>You can enter LNMIIT Main gate anytime by showing valid photo ID proof during 6am to 10pm, however you need to have accommodation inside the campus to stay in the campus after 10pm.</p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 small-centered columns ">
                <div class="wrapper">
                    <div class="ques"><p>We are a group of people not participating in any of competitions or workshops and just coming to Plinth for enjoyment. Would we be provided accommodation?</p></div>
                    <div class="ans"><p>Accommodation would be confirmed strictly subject to availability of rooms and you can try on the spot registration during the festival.</p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 small-centered columns ">
                <div class="wrapper">
                    <div class="ques"><p>What all deliverables do we receive after registering?</p></div>
                    <div class="ans"><p>After registration you'll get pass for that particular event. You will also get participation certificate if you're not in winning position.</p></div>
                </div>
            </div>
        </div>
        
        <% include partials/footer %>
            
    </body>
</html>