<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="Plinth'17" />
        <meta name="description" content="Plinth is the Annual Techno-Management Literary Fest of LNMIIT Jaipur.">
        <meta name="keywords" content="Plinth, Plinth'17, Technical Fest, Management Fest, Literary Fest, MUN, Fest, LNMIIT, Jaipur, Robotics, Astronomy, Workshops, WikitoLearn, Vivacity, Desportivos">
        <meta name="robots" content="index"/>
        <meta property="og:title" content="Plinth'17">
        <meta property="og:description" content="Plinth is the Annual Techno-Management Literary Fest of LNMIIT Jaipur.">
        <meta property="og:image" content="https://plinth.in/media/plinth-preview.jpg">
        <meta property="og:url" content="https://plinth.in/">
        <meta property="fb:app_id" content="168845313579478">
        <meta name="author" content="Mukul Jain • Mukul Goyal">
        <meta name="twitter:title" content="Plinth'17">
        <meta name="twitter:description" content="Plinth is the Annual Techno-Management Literary Fest of LNMIIT Jaipur.">
        <meta name="twitter:image" content="https://plinth.in/media/plinth-preview.jpg">
        <meta name="twitter:card" content="summary_large_image">
        <title>Plinth'17</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
    <div class="app-promotion show-for-small-only text-center column">
        <p class="text-left">Get the App</p><a href="https://play.google.com/store/apps/details?id=lnmiit.madclub.plinth&hl=en"><img src="media/app-promo.png" alt="play store icon" /></a>
        <i class="fa fa-times" onclick="hideAppPromo()" aria-hidden="true"></i>
    </div>
        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>
            <section class="footer-adjust">
            <div class="row ">
                <div class="small-12 small-centered column text-center main-logo">

                        <img class="logo-svg" src="media/OuterBoundary.svg" alt="Plinth-17"  />
                        <div id="logo-svg"></div>
                        <div class="logo-content">
                        <span class="logo-clg">EngineerIndya <span style="font-size: 12px;">presents</span></span>
                        <br /><span class="logo-plinth">plinth</span>   <span class="logo-2017">2017</span>
                        <br /><span class="logo-desc">Techno-Management Literary Fest</span>
                        <br /><span class="logo-date">January 18-19, 2017</span>
                    </div>
                </div>
            </div>
            <div class="row cmd-intro hide-for-small-only hide-for-medium-only">
                <div class="small-10 small-centered columns text-center">
                    <a href="/cli">> Embed with <u>command line</u>. A trend that defines us.</a>
                </div>
            </div>
        </section>

        <% include partials/footer%>

        <script src="js/index.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.0/vivus.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.0/vivus.min.js"></script> -->

    </body>
</html>
