<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Literature | Plinth'17</title>
        <meta name="Description" content="History appreciates when great minds come to WrangleNHush. Witness it all in this two day celebration of literature & tech, The Plinth17.">
        <meta property="og:title" content="Literature | Plinth'17" />
        <meta property="og:type" content="event" />
        <meta property="og:url" content="https://plinth.in/competitions/literature" />
        <meta property="og:image" content="https://plinth.in/media/literary.svg" />
        <meta property="og:description" content="History appreciates when great minds come to WrangleNHush. Witness it all in this two day celebration of literature & tech, The Plinth17." />
        <meta property="og:site_name" content="Plinth" />
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@PlinthLNMIIT">
        <meta name="twitter:title" content="Literature | Plinth'17">
        <meta name="twitter:description" content="History appreciates when great minds come to WrangleNHush. Witness it all in this two day celebration of literature & tech, The Plinth17.">
        <meta name="twitter:creator" content="@PlinthLNMIIT">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/competitions.css" />
    </head>
    <body>

        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>

        <div class="content">
            <a href="/competitions"><i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i></a>
            <div class="row head">
                <div class="small-10 small-centered columns text-center">
                    <h4>Literature</h4>
                </div>
            </div>
            <div class="row desc">
                <div class="small-12 columns text-center">
                    <p>What’s the luster that you see in the stars, what’s the beauty that you see in the colors. What’s the innocence you see in a child’s eyes, it’s all in your hand ready to be poured down on the blank sheet in front of you with the ink of your imagination reshaped in the form of words. So bring alive the artist in you and heave yourself in the ocean of literature enthusiasts together. </p>
                </div>
            </div>
        </div>

        <div class="big-wrapper">
            <div class="row">
                <div class="large-6 large-centered small-10 small-centered columns">
                    <div class="row">
                        <div class="small-8 medium-4 large-4 small-offset-2 medium-offset-2 columns">
                            <div class="card text-center">
                                <a href="/competitions/literature/wrangle"><img src="media/icons/literary/wrangle.svg" width="100" height="100" />
                                <div class="container">
                                    <p class="name">Wrangle</p>
                                    <p class="name-desc">Wrangle or hush - let’s discuss the issues that concerns us</p>
                                </div>
                                <div class="know-more">Know More ></div></a>
                            </div>
                          </div>
                          <div class="small-8 medium-4 large-4 small-offset-2 medium-offset-0 end columns">
                            <div class="card text-center">
                                <a href="/competitions/literature/rostrum">
                                <img src="media/icons/literary/rostrum.svg" style="height: 100px;" />
                                <div class="container">
                                    <p class="name">Rostrum</p>
                                    <p class="name-desc">Words are pale shadows of forgotten names.</p>
                                </div>
                                <div class="know-more">Know More ></div></a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>


        <% include partials/footer %>

    </body>
</html>
