<html>
<head>
<title>Payment Under Process</title>
<style>
	@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
	body{
		text-align: center;
		font-family: 'Roboto', sans-serif;
	}
	#plinth-ie{
		margin-top: 50px;
		margin-bottom: 0px;
		width: 252px;
	}
	.card {
	    transition: 0.3s;
	    width: 500px;
	    margin: 40px auto 0;
	    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
	    padding: 50px;
	    padding-top: 10px;
	    margin-bottom: 60px;
	}
	.card:hover {
	    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}
	.bold{
		font-weight: bold;
	}
	.button{
		display: inline-block;
		background-color: #20B9ED;
		padding:10px;
		width:110px;
		height:20px;
		color:white;
		margin:10px;
		margin-top: 0px;
		border-radius: 5px;
	}

	@media screen and (max-width: 540px) {
		.card{
			width: 80%;
		}
	}

</style>
</head>
<body>
<img id="plinth-ie" src="media/plinth-ie.svg">
<div class="card">
	<p class="bold">Payment is Under Process</p>
	<br>
	<p>Your payment is under process, Mail your Order ID along with recepit to help.plinth@gmail.com to receive payment recepit</p>
	<br>
	Total amount : <%- amount %><br>
	Event Name : <%- eventName %><br>
	Order ID : <%- order_id %><br>
</div>
<div class="button" href="<%- backURL %>">back</div>
<div class="button" onclick="alert('Mail your Order ID along with recepit to help.plinth@gmail.com')">Collect Receipt</div>
</body>
</html>
