<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MUN 17 | Payment</title>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/mun/payment.css" />
    </head>
    <body>

        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>
        <div class="row">
            <div class="column small-12 small-centered text-center mun-header">
                <div class="plinth-logo-content">
                    <span class="plinth-logo-plinth">plinth</span><span class="plinth-logo-2017">2017</span>
                    <br><span class="plinth-logo-desc">Techno-Management Literary Fest</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="medium-6 small-10 small-centered mun-card text-center">
                <h4>Pay Now</h4>

                <form action="javascript:void(0)" name="munpaymentform" id="mun-payment-form" style="display:block">
                    <div class="group">
                        <input type="text" id="in-name" class="user-name" required>
                        <span class="highlight"></span>
                        <label>Name</label>
                    </div>

                    <div class="group">
                        <input type="number" id="in-name" class="phone" required>
                        <span class="highlight"></span>
                        <label>Phone Number</label>
                    </div>
                    <div class="group">
                        <input type="email" id="in-name" class="email" required>
                        <span class="highlight"></span>
                        <label>Email</label>
                    </div>
                    <div class="group">
                        <input type="text" id="in-name" class="college" required>
                        <span class="highlight"></span>
                        <label>Institute Name</label>
                    </div>
                    <div class="group">
                        <input type="number" id="in-name" max='3' min='0' class="accommodation" required>
                        <span class="highlight"></span>
                        <label>Accommodation(days):</label>
                        <span style="position: relative;  text-align: left; display: inherit; top: -16px; font-size: 12px;">(Enter 0 for none)</span>
                    </div>


                    <p class="amount-mun-total">Accommodation (200/- per day)</p>
                    <input type="submit" value="Pay" onClick="registerUserCompleteMUN()" class="btn-11 btn-11-form">
                </from>
            </div>
        </div>

        <% include partials/footer %>
        <script src="js/payment_acc.js"></script>
    </body>
</html>
