<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Payment FAQ | Plinth'17</title>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/faq.css" />
    </head>
    <body>

        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>

        <div class="row head">
            <div class="small-10 small-centered columns text-center">
                <h4>Payment FAQ</h4>
            </div>
        </div>

        <div class="text-center"><h5>There are two types of events : Individual and Team</h5></div>

<!--
        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="row">
                    <div class="small-12 medium-4 large-4 columns">
                        <div class="text-center">Team</div>
                        <ul>
                            <li>
                                If you are registered as a team, you can't pay individual fee for that particular event.
                            </li>
                            <li>
                                Member 1 email id and mobile number can be used to identify your team and to pay fee.
                            </li>
                            <li>
                                If you are logged in and event was registered using your email id, probably you are member 1 and system will try to find all you team member, but if you are not just enter the email id of member 1.
                            </li>
                            <li>
                                As soon as payment confirms, status will be updated which can be checked using member 1 email id or mobile number.
                            </li>
                        </ul>
                    </div>
                    <div class="small-12 medium-4 large-4 columns">
                        <div class="text-center">Single</div>
                        <ul>
                            <li>
                                Click on make payment.
                            </li>
                            <li>
                                If user is logged in system will do the work else just enter your mobile number or email id.
                            </li>
                            <li>
                                As soon as payment confirms status will be updated.
                            </li>
                        </ul>
                    </div>
                    <div class="small-12 medium-4 large-4 columns">
                        <div class="text-center">Paying fee for multiple items is not available at the moment.</div>
                    </div>
                </div>
            </div>
        </div>
-->
        <div class="row">
            <div class="small-12 small-centered columns ">
                <div class="wrapper">
                    <div class="ques"><p>Team</p></div>
                    <div class="ans">
                        <ul>
                            <li>
                                If you are registered as a team, you can't pay individual fee for that particular event.
                            </li>
                            <li>
                                Member 1 email id and mobile number can be used to identify your team and to pay fee.
                            </li>
                            <li>
                                If you are logged in and event was registered using your email id, probably you are member 1 and system will try to find all you team member, but if you are not just enter the email id of member 1.
                            </li>
                            <li>
                                As soon as payment confirms, you will be redirected to a computer generated receipt.
                            </li>
                            <li>
                                In case your payment is not completed at the moment and the status shows pending, we will mail you the receipt later.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 small-centered columns ">
                <div class="wrapper">
                    <div class="ques"><p>Single</p></div>
                    <div class="ans">
                        <ul>
                            <li>
                                Click on make payment.
                            </li>
                            <li>
                                If user is logged in system will do the work else just enter your email id.
                            </li>
                            <li>
                                As soon as payment confirms status will be updated.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <% include partials/footer %>

    </body>
</html>
