<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plinth'17</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
    </head>
    <style>
        #event-registration-form{
            top : 60px !important;
        }
        footer{
            margin-top: 40px;
        }
        #registerForm{
            width: 300px;
            margin: 60px auto 0px auto;
        }
    </style>
    <body>
        <% if(!valid){ %>
        <nav>
            <div class="header-logo">
                <a href="/"><img src="media/logo.svg"/></a>
            </div>
            <button class="ham-btn"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></button>
            <div class="ham-wrapper">
                <div class="ham-content text-center">
                    <button class="ham-close"><span>X</span></button>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/competitions">Competitions</a></li>
                        <li><a href="/talks">Talks</a></li>
                        <li><a href="/workshops">Workshops</a></li>
                        <!-- <li><a href="/talks_c">Lectures</a></li> -->
                        <li><a href="/mun">The LNMIIT MUN</a></li>
                        <li><a href="/wikitolearn">WikiToLearn</a></li>
                    </ul>
                </div>
            </div>
            <div class="navitem text-right">
                <ul>
                    <li><a class="navitem-home" href="/">Home</a></li>
                    <li><a class="navitem-competitions" href="/competitions">Competitions</a></li>
                    <li><a class="navitem-workshops" href="/workshops">Workshops</a></li>
                    <li><a class="navitem-talks" href="/talks">Talks</a></li>
                    <!-- <li><a href="/talks_c.ejs">Lectures</a></li> -->
                    <li><a href="/mun">The LNMIIT MUN</a></li>
                    <li><a href="/wikitolearn">WikiToLearn</a></li>
                </ul>
            </div>
        </nav>

        <form action="javascript:void(0)" name="registration-form" id="registerForm" >
        <div class="group">
            <input type="text" id="in-name" class="user-name" required>
            <span class="highlight"></span>
            <label class="name-label">Name</label>
        </div>

            <div class="radio-gender">
            <span class="reg-gender-h" style="color: black">Gender</span>
            <div class="reg-gender">
            <span class='radButtonSpanWorkload'>
            <input class="radButtonWorkload" type="radio" id="radioWorkload1" name="gender" value="male" required/>
            <label for="radioWorkload1"><span></span>Male</label>
            </span>
            <span class='radButtonSpanWorkload'>
            <input class="radButtonWorkload" type="radio" id="radioWorkload2" name="gender" value="female" />
            <label for="radioWorkload2"><span></span>Female</label>
            </span>
            <b id="itemErrors"></b>
            </div>
            </div>

        <div class="group">
            <input type="number" id="in-name" class="phone" required>
            <span class="highlight"></span>
            <label>Phone Number</label>
        </div>
        <div class="group">
            <input type="email" id="in-name" class="email" required>
            <span class="highlight"></span>
            <label class="name-label">Email</label>
        </div>
        <div class="group">
            <input type="text" id="in-name" class="college" required>
            <span class="highlight"></span>
            <label>Institute Name</label>
        </div>

        <div class="radio-year">
            <span class="reg-gender-h" style="color: black">Year</span>
            <div class="reg-gender">
                <span class='radButtonSpanWorkload'>
                  <input class="radButtonWorkload" type="radio" id="radioWorkload3"   name="year" value="1" />
                  <label for="radioWorkload3"><span></span>1</label>
                </span>
                <span class='radButtonSpanWorkload'>
                  <input class="radButtonWorkload" type="radio" id="radioWorkload4"   name="year" value="2" />
                  <label for="radioWorkload4"><span></span>2</label>
                </span>
                <span class='radButtonSpanWorkload'>
                  <input class="radButtonWorkload" type="radio" id="radioWorkload5"   name="year" value="3" />
                  <label for="radioWorkload5"><span></span>3</label>
                </span>
                <span class='radButtonSpanWorkload'>
                  <input class="radButtonWorkload" type="radio" id="radioWorkload6"   name="year" value="4" />
                  <label for="radioWorkload6"><span></span>4</label>
                </span>
                <span class='radButtonSpanWorkload'>
                  <input class="radButtonWorkload" type="radio" id="radioWorkload7"   name="year" value="5" />
                  <label for="radioWorkload7"><span></span>5</label>
                </span>
                <span class='radButtonSpanWorkload'>
                  <input class="radButtonWorkload" type="radio" id="radioWorkload10"   name="year" value="0" />
                  <label for="radioWorkload10"><span></span>NA</label>
                </span>
            </div>
        </div>

        <div class="student-sif-checkbox" style="display:none">
            <label>Field :</label>
            <div>
                <span><input type="checkbox" name="field" class="student-sif-checkbox-0" value="technical"> Technical</span>
                <span><input type="checkbox" name="field" class="student-sif-checkbox-1" value="management"> Management</span>
            </div>
            <div style="margin-top:-8px">
                <span><input type="checkbox" name="field" class="student-sif-checkbox-2" value="content"> Content</span>
                <span><input type="checkbox" name="field" class="student-sif-checkbox-3" value="social"> Social</span>
            </div>
        </div>

        <div class="group student-resume" style="display:none">
            <input type="text" id="in-name" class="resume">
            <span class="highlight"></span>
            <label>Resume URL</label>
        </div>

        <div class="group">
            <input type="text" id="in-name" class="city" required>
            <span class="highlight"></span>
            <label>City</label>
        </div>

        <div class="radio-acc">
            <span class="reg-acc-h" style="color: black">Accomodation</span>
            <div class="reg-acc">
                <span class='radButtonSpanWorkload'>
                  <input class="radButtonWorkload" type="radio" id="radioWorkload8"   name="acc" value="yes" required />
                  <label for="radioWorkload8"><span></span>Yes</label>
                </span>
                <span class='radButtonSpanWorkload'>
                  <input class="radButtonWorkload" type="radio" id="radioWorkload9"   name="acc" value="no"  />
                  <label for="radioWorkload9"><span></span>No</label>
                </span>
            </div>
        </div>

        <div class="reg-form-btn text-center" style="margin : 30px 0px 0px 0px">
            <div class="reg-form-event-pagging"><span class="event-registration-form-prev"> < </span><p style="display:inline" class="event-registration-form-member-number">1</p> of <p class="memberUpperLimit" style="display:inline-block"></p><span class="event-registration-form-next"> > </span></p></div>
            <input type="submit" value="Add Member" class="reg-form-btn-register add-member-btn" onclick="addMember()">
            <input type="submit" value="Register" class="reg-form-btn-register event-registration-form-btnx btn-disabled" style="width : 147px;" onclick="eventUserComplete()">
        </div>
    </form>
        <% }else{ %>
            Redirecting, Please Wait...
            <style>
            footer{
                display: none;
            }
            </style>
        <% } %>

        <% include partials/footer %>

        <script>
            function init(){
                $.post( "/user/user_validate")
                .done(function( data ) {
                    deactivateLoader();
                    if(!data.response){
                        formReg = 1;
                        workshopProceedNext();
                        proceedNext();
                        $('.name-label').css('display','none');
                        $('.user-name').attr("disabled", "");
                        $('.email').attr("disabled", "");
                        $('.event-registration-form-btnx').removeClass('btn-disabled');
                        $('.reg-social').css("display","none"); // register btn with fb and google
                        $('.add-member-btn').css("display", "none");
                        $('.user-name').val(data.name);
                        $('.email').val(data.email);
                    }
                    else{
                        $('.close-button').trigger('click');
                        $('.close-button').trigger('click');
                        window.location = localStorage.getItem("tempURL");
                    }
                })
                .fail(function(response) {
                    apiCallFail(response);
                });
            }

            function registerUserComplete(){
                var x = getUserDetails();
                if(!validateUserDetails(x)){
                    return
                }
                data = {user : x};
                activateLoader();
                $.post( {
                    url: "/user/user_register_complete",
                    contentType: 'application/json; charset=utf-8',
                    dataType : 'json',
                    data: JSON.stringify(data)
                })
                .done(function( data ) {
                    deactivateLoader();
                    if(data.response){
                        $('.close-button').trigger('click');
                        notifDisplay(1,1);
                        window.location = localStorage.getItem("tempURL");
                    }else{
                        notifDisplay(0,0);
                    }
                })
                .fail(function(response) {
                    apiCallFail(response);
                });
            }

            init();
        </script>
    </body>
</html>
