<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lectures | Plinth'17</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/speaker.css" />
    </head>
    <body>

        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>

        <div class="content">
            <div class="row">
                <div class="small-10 small-centered text-center columns">
                    <h4>Talk Series</h4>
                </div>
            </div>
        </div>

<!--
        <div class="prev-card">
            <a><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="next-card">
            <a><i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i></a>
        </div>
-->

        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="row">
                    <div class="small-7 small-push-3 medium-5 large-4 large-push-3 columns">
                        <div class="dp-image">
                            <img src="media/speakers_2k17/balaji.jpeg">
                        </div>
                    </div>
                    <div class="small-10 medium-5 large-5 large-pull-1 columns">
                        <div class="details">
                            <span class="title-speaker">Balaji Vishwanathan</span>
                            <br />
                            <span class="by-speaker">VP Product, Invento</span>
                            <br />
                            <br />
                            <span>Date : 19<sup>th</sup> Jan 2017</span>, 2 PM.
                            <br />
                            <span>Venue : Lecture Hall - 9, The LNMIIT, Jaipur
                            <a title="Locate on Map" target="_blank" style="font-size:16px; color:#2199e8" href="https://www.google.co.in/maps/place/LNMIIT/@26.9363424,75.9213505,17z/data=!3m1!4b1!4m5!3m4!1s0x396dba21e8a1d1c9:0x5ab565cce4d44c2b!8m2!3d26.9363376!4d75.9235392"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                        </span>
                            <br />
                            <br />
                            <ul>
                                <li><a href="https://www.facebook.com/vvbalajiviswanathan" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://twitter.com/balajivis?lang=en" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.quora.com/profile/Balaji-Viswanathan-2" target="_blank"><i class="fa fa-quora" aria-hidden="true"></i></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="speaker-desc">
            <div class="row">
                <div class="small-8 small-centered columns">
                    <span>Balaji Viswanathan  is an Indian writer, author, entrepreneur and engineer. He is popularly known for his answers and posts on the question-and-answer site Quora He has been the top-writer (on Quora) of the year(s) 2013, 2014, 2015 and 2016 with over 20 articles published on Forbes, Slate, Business Insider and other places. He is the author of From Tryst to Tendulkar: The History of Independent India, a book on the history of contemporary India.</span>
                </div>
            </div>
<!--
            <div class="row content">
                <div class="small-8 small-centered columns">
                    <div class="content-head">Highlights</div>
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>consectetur adipiscing elit</li>
                        <li>Phasellus sit amet mattis</li>
                        <li>ligula eget ipsum</li>
                        <li>Cras consequat varius venenatis</li>
                        <li>Nunc semper, orci ut dignissim varius</li>
                    </ul>
                </div>
            </div>
-->
            <div class="row content">
                <div class="small-8 small-centered text-center columns">
                    <span class="content-head">For Any Queries Contact</span>
                    <br />
                    <br />
                    <span>Vamsi Krishna : +91-9587094955 <span class="pipe-1">|</span> pvamsikrishna97@gmail.com</span>
                    <br />
                    <span>Vipul Behl : +91-9468590302 <span class="pipe-2">|</span> vbehl03@gmail.com</span>
                </div>
            </div>
        </div>

        <% include partials/footer %>

    </body>
</html>
