<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sponsors | Plinth'17</title>
        <meta name="Description" content="Beauty lies in the eye of the beeholder. Checkout the amazing brands which trusted us all along! Head on to Plinth to check out One of the best techfests in India.">
        <meta property="og:title" content="Sponsors | Plinth'17" />
        <meta property="og:type" content="event" />
        <meta property="og:url" content="https://plinth.in/sponsors" />
        <meta property="og:image" content="https://plinth.in/media/logo.svg" />
        <meta property="og:description" content="Beauty lies in the eye of the beeholder. Checkout the amazing brands which trusted us all along! Head on to Plinth to check out One of the best techfests in India." />
        <meta property="og:site_name" content="Plinth" />
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@PlinthLNMIIT">
        <meta name="twitter:title" content="Sponsors | Plinth'17">
        <meta name="twitter:description" content="Beauty lies in the eye of the beeholder. Checkout the amazing brands which trusted us all along! Head on to Plinth to check out One of the best techfests in India.">
        <meta name="twitter:creator" content="@PlinthLNMIIT">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/sponsors.css" />
    </head>
    <body>

        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>

            <div class="content">
                <div class="row head">
                    <div class="small-10 small-centered columns text-center">
                        <h4>Our Previous Sponsors</h4>
                    </div>
                </div>
            </div>

            <br><br>
            <div class="big-wrapper">
                <div class="row">
                    <div class="small-12 small-centered columns">
                        <div class="row">
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-offset-1 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/sap.gif" alt="lorem" />
                                    <div class="name">
                                        <span>SAP</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/ti.png" alt="lorem" />
                                    <div class="name ti">
                                        <span>Texas Instruments</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/i3indya.png" alt="lorem" />
                                    <div class="name i3">
                                        <span>i3indya Technologies</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/av.jpg" alt="lorem" />
                                    <div class="name av">
                                        <span>Analytics Vidhya</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/g4g.png" alt="lorem" />
                                    <div class="name g4g">
                                        <span>Geeks For Geeks</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-offset-1 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/inspi.png" alt="lorem" />
                                    <div class="name">
                                        <span>Inspidate</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/innovaccer.png" alt="lorem" />
                                    <div class="name">
                                        <span>Innovaccer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/hackerearth.png" alt="lorem" />
                                    <div class="name he">
                                        <span>HackerEarth</span>
                                    </div>

                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/hr.jpg" alt="lorem" />
                                    <div class="name hr">
                                        <span>HackerRank</span>
                                    </div>

                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/srjna.png" alt="lorem" />
                                    <div class="name srj">
                                        <span>Srjna</span>
                                    </div>

                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-offset-1 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/tvg.png" alt="lorem" />
                                    <div class="name tvg">
                                        <span>TVG</span>
                                    </div>

                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/ve.jpg" alt="lorem" />
                                    <div class="name">
                                        <span>Phaco Surgery</span>
                                    </div>

                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/adideva.png" alt="lorem" />
                                    <div class="name">
                                        <span>Adideva</span>
                                    </div>

                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/roboraze.png" alt="lorem" />
                                    <div class="name rc">
                                        <span>Robocraze</span>
                                    </div>

                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/zw.png" alt="lorem" />
                                    <div class="name">
                                        <span>Zero Waste</span>
                                    </div>

                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-offset-1 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/finx.png" alt="lorem" />
                                    <div class="name fin">
                                        <span>Finx</span>
                                    </div>

                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/space.png" alt="lorem" />
                                    <div class="name sd">
                                        <span>Space Dev</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/tcf.png" alt="lorem" />
                                    <div class="name tcf">
                                        <span>The College Fever</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/dream.jpg" alt="lorem" />
                                    <div class="name dw">
                                        <span>Dream Wallets</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/ivycamp.jpg" alt="lorem" />
                                    <div class="name ivy">
                                        <span>Ivy Camp</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-offset-1 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/startup.png" alt="lorem" />
                                    <div class="name so">
                                        <span>Startup Oasis</span>
                                    </div>
                                </div>
                            </div>

                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/adword.png" alt="lorem" />
                                    <div class="name ga">
                                        <span>Google AdWords</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/ketto.jpg" alt="lorem" />
                                    <div class="name ket">
                                        <span>Ketto</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/wh.jpg" alt="lorem" />
                                    <div class="name wh">
                                        <span>Wired Hub</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/ebay.jpg" alt="lorem" />
                                    <div class="name eb">
                                        <span>ebay</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-offset-1 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/pizza.jpg" alt="lorem" />
                                    <div class="name lp">
                                        <span>Laziz Pizza</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/youth.jpg" alt="lorem" />
                                    <div class="name yi">
                                        <span>Youth Incorporated</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/bb.png" alt="lorem" />
                                    <div class="name bb">
                                        <span>Brain Buxa</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/2019.jpg" alt="lorem" />
                                    <div class="name t19">
                                        <span>Twenty 19</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/me.png" alt="lorem" />
                                    <div class="name max">
                                        <span>Max Embedded</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-push-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/knowyourfest.png" alt="lorem" />
                                    <div class="name kaf">
                                        <span>Know a Fest</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-push-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/festpav.png" alt="lorem" />
                                    <div class="name fp">
                                        <span>FestPav</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-push-2 columns">
                                <div class="spons-content">
                                    <img src="media/sponsors/fe.jpg" alt="lorem" />
                                    <div class="name fad">
                                        <span>Fadoo Engineers</span>
                                    </div>
                                </div>
                            </div>
                            <div class="small-10 small-offset-1 medium-offset-0 medium-3 medium-pull-6 large-2 large-pull-2 columns" >
                                <div class="spons-content">
                                    <img src="media/sponsors/ae.png" alt="lorem" />
                                    <div class="name all">
                                        <span>AllEvents</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

      <% include partials/footer %>

    </body>
</html>
