<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sponsors | Plinth'17</title>
        <meta name="Description" content="Beauty lies in the eye of the beeholder. Checkout the amazing brands which trusted us all along! Head on to Plinth to check out One of the best techfests in India.">
        <meta property="og:title" content="Sponsors | Plinth'17" />
        <meta property="og:type" content="event" />
        <meta property="og:url" content="https://plinth.in/sponsors" />
        <meta property="og:image" content="https://plinth.in/media/logo.svg" />
        <meta property="og:description" content="Beauty lies in the eye of the beeholder. Checkout the amazing brands which trusted us all along! Head on to Plinth to check out One of the best techfests in India." />
        <meta property="og:site_name" content="Plinth" />
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@PlinthLNMIIT">
        <meta name="twitter:title" content="Sponsors | Plinth'17">
        <meta name="twitter:description" content="Beauty lies in the eye of the beeholder. Checkout the amazing brands which trusted us all along! Head on to Plinth to check out One of the best techfests in India.">
        <meta name="twitter:creator" content="@PlinthLNMIIT">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/sponsors.css" />
    </head>
    <body>

        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>

        <div class="content">
            <div class="row head">
                <div class="small-10 small-centered columns text-center">
                    <h4>Our Sponsors</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="spons-content-big">
                    <p class="title-sponsor-name">Title Sponsor</p>
                    <img src="media/sponsors_2k17/ei-logo.svg" alt="Engineer Indya" class="ei"/>
                    <div class="name-big">
                        <span>Engineer Indya</span>
                    </div>
                </div>
            </div>
        </div>

<!--        <div class="big-wrapper">-->
            <div class="row">
                <div class="small-12 small-centered columns">
                    <div class="row">
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-offset-1 columns">
                            <div class="spons-content">
                            	<a href="http://plinth.grabon.in/" target="_blank">
                                    <img src="media/sponsors_2k17/GrabOn.png" alt="GrabOn" class="grab"/>
                                </a>
                                <div class="name go">
                                    <a style="color:#75BFF0" href="https://goo.gl/0Fh1O7" target="_blank">Get the App</a><br>
                                    <span>Coupon Partner</span>
                                </div>
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns">
                            <div class="spons-content">
                                <a href="https://www.nearbuy.com/" target="_blank">
                                <img src="media/sponsors_2k17/nearbuy.png" alt="OYO" class="oyo"/>
                                <div class="name oy">
                                    <span>e-commerce Partner</span>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                            <div class="spons-content">
                                <a href="https://www.zoomcar.com/" target="_blank">
                                <img src="media/sponsors_2k17/zoom.jpg" alt="Zoom Car" class="zoom"/>
                                <div class="name zoo">
                                    <span>Self Drive Partner</span>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                            <div class="spons-content">
                                <a href="http://www.mahindraworldcity.com/jaipur/discover-jaipur.aspx" target="_blank">
                                <img src="media/sponsors_2k17/mwc.jpg" alt="Mahindra World City" class="mwc"/>
                                <div class="name zoo">
                                    <span>General Partner</span>
                                </div>
                            </a>
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 end columns" >
                            <div class="spons-content">
                                <a href="http://www.roboflux.com/" target="_blank">
                                <img src="media/sponsors_2k17/robo.jpg" alt="Robo flux" class="zoom"/>
                                <div class="name roboflu">
                                    <span>Workshop Associate</span>
                                </div>
                                </a>
                            </div>
                        </div>

<!--
                    </div>
                    <div class="row">
-->
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-offset-1 columns" >
                            <div class="spons-content">
<!--                                <a href="http://www.mrbeanspizza.com/" target="_blank">-->
                                <img src="media/sponsors_2k17/food.jpg" alt="YNC" class="ync"/>
                                <div class="name ynctxt">
                                    <span>Official Food Partner</span>
                                </div>
<!--                                </a>-->
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 end columns" >
                            <div class="spons-content">
                                <a href="http://www.manyagroup.com/" target="_blank">
                                <img src="media/sponsors_2k17/manya.png" alt="Manya Group" class="manya"/>
                                <div class="name manyatxt">
                                    <span>Event Partner</span>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 end columns" >
                            <div class="spons-content">
                                <a href="https://www.princetonreview.com/" target="_blank">
                                <img src="media/sponsors_2k17/tpr.png" alt="the princeton review" class="tpr"/>
                                <div class="name tprtxt">
                                    <span>Event Partner</span>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                            <div class="spons-content">
                                <a href="http://www.proxbotcreatn.com/" target="_blank">
                                <img src="media/sponsors_2k17/proxbotics.jpg" alt="Proxbotics Creation" class="atkt"/>
                                <div class="name proxbotics">
                                    <span>Event Partner</span>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 end columns" >
                            <div class="spons-content">
                                <a href="https://www.hackerearth.com" target="_blank">
                                <img src="media/sponsors_2k17/hackerearth.png" alt="Hacker Earth" class="hackerearth"/>
                                <div class="name hackerearthtxt">
                                    <span>IUPC platform partner</span>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-offset-1 end columns" >
                            <div class="spons-content">
                                <a href="http://www.geeksforgeeks.org/" target="_blank">
                                <img src="media/sponsors_2k17/geek.png" alt="Geeks for Geek" class="geek"/>
                                <div class="name geektxt">
                                    <span>IUPC Partner</span>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 end columns" >
                            <div class="spons-content">
                                <a href="https://doselect.com" target="_blank">
                                <img src="media/sponsors_2k17/doselect.png" alt="Do Select" class="select"/>
                                <div class="name selecttxt">
                                    <span>Fix The Bug Platform Partner</span>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                            <div class="spons-content">
<!--                                <a href="http://www.mrbeanspizza.com/" target="_blank">-->
                                <img src="media/sponsors_2k17/food.png" alt="VitoCafe" class="vito"/>
                                <div class="name vitocafe">
                                    <span>Food Partner</span>
                                </div>
<!--                                </a>-->
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                            <div class="spons-content">
<!--                                <a href="http://www.mrbeanspizza.com/" target="_blank">-->
                                <img src="media/sponsors_2k17/bisleri.png" alt="Bisleri" class="bisleri"/>
                                <div class="name bisleri-text">
                                    <span>Bevarage Partner</span>
                                </div>
<!--                                </a>-->
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 columns" >
                            <div class="spons-content">
                                <a href="http://www.mrbeanspizza.com/" target="_blank">
                                <img src="media/sponsors_2k17/beans-pizza.png" alt="Mr. Beans Pizza" class="pizza"/>
                                <div class="name pizz">
                                    <span>Food Partner</span>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 large-offset-1 columns" >
                            <div class="spons-content">
                                <a href="http://samuncleindia.com/" target="_blank">
                                <img src="media/sponsors_2k17/sam_uncle.jpg" alt="Sam Uncle" class="sam"/>
                                <div class="name sampizz">
                                    <span>Coupon Partner</span>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="small-10 small-offset-1 medium-offset-0 medium-3 large-2 end columns" >
                            <div class="spons-content">
                                <a href="http://atkt.in/" target="_blank">
                                <img src="media/sponsors_2k17/atkt.jpg" alt="ATKT" class="atkt"/>
                                <div class="name atkttxt">
                                    <span>Media Partner</span>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 text-center small-centered">
                    <a href="sponsors/2016" class="hollow button previous-btn">Previous sponsors</a>
                </div>
            </div>

      <% include partials/footer %>

    </body>
</html>
