<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lecture 2015 | Plinth'17</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/prev_talks.css" />
    </head>
    <body>

        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>

        <div class="content">
            <div class="row head">
                <div class="small-10 small-centered columns text-center">
                    <h4>Speakers 2015</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-10 large-8 small-centered columns">
                <div class="row">
                    <div class="small-8 small-offset-2 medium-4 large-4 medium-offset-0 large-offset-0 columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/speakers_2k15/sam.jpg" alt="Sam Pitroda" />
                            </div>
                            <span class="profile-name">Sam Pitroda</span>
                            <br />
                            <div class="profile-content">Communication Revolution</div>
                            <div class="profile-social">
                                <ul>
<!--                                    <li><a href="https://www.facebook.com/pages/Krishnaswamy-Kasturirangan/112031638816057?fref=ts" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
                                    <li><a href="https://en.wikipedia.org/wiki/Sam_Pitroda" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></i></a></li>

<!--
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
-->
                                </ul>
                            </div>
<!--                            <span class="profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                        </div>
                    </div>
                    <div class="small-8 small-offset-2 medium-4 large-4 medium-offset-0 large-offset-0 columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/speakers_2k15/shubhendu.jpg" alt="Shubendu Sharma" />
                            </div>
                            <span class="profile-name">Shubendu Sharma</span>
                            <br />
                            <div class="profile-content">Reforestation Expert & Director, Afforestt</div>
                            <div class="profile-social">
                                <ul>
<!--                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true" target="_blank"></i></a></li>-->
                                    <li><a href="https://www.everipedia.com/shubhendu-sharma/" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></i></a></li>
<!--
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
-->
                                </ul>
                            </div>
<!--                            <span class="profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                        </div>
                    </div>
                    <div class="small-8 small-offset-2 medium-4 large-4 medium-offset-0 large-offset-0 columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/speakers_2k15/pd.jpg" alt="P.D. Mujumdar" />
                            </div>
                            <span class="profile-name">Dr. P.D. Mujumdar</span>
                            <br />
                            <div class="profile-content">Former Advisor ISRO | DST Government of India</div>
                            <div class="profile-social">
                                <ul>
<!--                                    <li><a href="https://www.facebook.com/ashwinsanghi?fref=ts" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
                                     <li><a href="https://en.wikipedia.org/wiki/Ashwin_Sanghi" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></i></a></li>
<!--                                    <li><a href="https://twitter.com/ashwinsanghi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
<!--
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
-->
                                </ul>
                            </div>
<!--                            <span class="profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                        </div>
                    </div>
                    <div class="small-8 small-offset-2 medium-4 large-4 medium-offset-0 large-offset-0 columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/speakers_2k15/kshitij.jpg" alt="Kshitij Marwah" />
                            </div>
                            <span class="profile-name">Kshitij Marwah</span>
                            <br />
                            <div class="profile-content">Founder | Tesseract Imaging</div>
                            <div class="profile-social">
                                <ul>
<!--                                    <li><a href="https://www.facebook.com/amishasethiauthor/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
                                    <li><a href="http://www.kshitijmarwah.com/" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></i></a></li>
<!--
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
-->
                                </ul>
                            </div>
<!--                            <span class="profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                        </div>
                    </div>
                    <div class="small-8 small-offset-2 medium-4 large-4 medium-offset-0 large-offset-0 columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/speakers_2k15/lakshmi.jpg" alt="Lakshmi Rebecca" />
                            </div>
                            <span class="profile-name">Lakshmi Rebecca</span>
                            <br />
                            <div class="profile-content">Vlogger | Filmmaker | Anchor</div>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="http://www.lakshmirebecca.com/" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></i></a></li>

<!--                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
<!--                                    <li><a href="https://twitter.com/aoswal1234" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
<!--
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
-->
                                </ul>
                            </div>
<!--                            <span class="profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                        </div>
                    </div>
                    <div class="small-8 small-offset-2 medium-4 large-4 medium-offset-0 large-offset-0 columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/speakers_2k15/ira.jpg" alt="Ira Trivedi" />
                            </div>
                            <span class="profile-name">Ira Trivedi</span>
                            <br />
                            <div class="profile-content">Author | Columnist | Yoga Acharya</div>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="https://en.wikipedia.org/wiki/Ira_Trivedi" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></i></a></li>

<!--
                                    <li><a href="https://www.facebook.com/varun.dhawan?fref=ts" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/varunrokz" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
-->
<!--
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
-->
                                </ul>
                            </div>
<!--                            <span class="profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                        </div>
                    </div>
                    <div class="small-8 small-offset-2 medium-4 large-4 medium-offset-0 large-offset-0 end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/speakers_2k15/akash.jpg" alt="akash gautam" />
                            </div>
                            <span class="profile-name">Akash Gautam</span>
                            <br />
                            <div class="profile-content">Motivational Speaker | Corporate Trainer</div>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="http://akashgautam.com/" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></i></a></li>
<!--

                                    <li><a href="https://www.facebook.com/willpatersondesign" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/will_paterson10" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
-->
<!--
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
-->
                                </ul>
                            </div>
<!--                            <span class="profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="column small-4 small-centered medium-4">
                <div class="row">
                    <div class="small-12 column text-center">
                        <a class="hollow button alert" target="_blank" href="/talks">Speakers 2017</a>
                    </div>
                    <div class="small-12 column text-center prev-btn2">
                        <a class="hollow button alert" target="_blank" href="/talks/2016">Speakers 2016</a>
                    </div>
                </div>
            </div>
        </div>


        <% include partials/footer %>

    </body>
</html>
