<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lectures | Plinth'17</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
    </head>
    <body>

        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>

        <div class="row">
            <div class="small-10 small-centered columns text-center">
                <h3>Lectures</h3>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-4 large-4 small-centered columns text-center">
                <p>Plinth 17 will have a plethora of speakers who would grace Plinth with their presence on the 18th and 19 th January. Watch this space for more updates.</p>
            </div>
        </div>

        <% include partials/footer %>
        <script src="js/index.js"></script>

    </body>
</html>
