<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lecture 2016 | Plinth'17</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/prev_talks.css" />
    </head>
    <body>

        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>

        <div class="content">
            <div class="row head">
                <div class="small-10 small-centered columns text-center">
                    <h4>Speakers 2016</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-10 large-8 small-centered columns">
                <div class="row">
                    <div class="small-8 small-offset-2 medium-4 large-4 medium-offset-0 large-offset-0 columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/speakers_2k16/s1.jpg" alt="Dr. K. Kasturirangan" />
                            </div>
                            <span class="profile-name">Dr. K. Kasturirangan</span>
                            <br />
                            <div class="profile-content">Ex-Chairman ISRO (Padmavibhushan)</div>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="https://www.facebook.com/pages/Krishnaswamy-Kasturirangan/112031638816057?fref=ts" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://en.wikipedia.org/wiki/Krishnaswamy_Kasturirangan" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></i></a></li>

<!--
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
-->
                                </ul>
                            </div>
<!--                            <span class="profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                        </div>
                    </div>
                    <div class="small-8 small-offset-2 medium-4 large-4 medium-offset-0 large-offset-0 columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/speakers_2k16/ashwin.jpg" alt="Ashwin Sanghi" />
                            </div>
                            <span class="profile-name">Ashwin Sanghi</span>
                            <br />
                            <div class="profile-content">Best-Selling Author (Chanakya's Chant)</div>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="https://www.facebook.com/ashwinsanghi?fref=ts" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                     <li><a href="https://en.wikipedia.org/wiki/Ashwin_Sanghi" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></i></a></li>
<!--                                    <li><a href="https://twitter.com/ashwinsanghi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
<!--
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
-->
                                </ul>
                            </div>
<!--                            <span class="profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                        </div>
                    </div>
                    <div class="small-8 small-offset-2 medium-4 large-4 medium-offset-0 large-offset-0 columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/speakers_2k16/amisha.jpg" alt="Amisha Sethi" />
                            </div>
                            <span class="profile-name">Amisha Sethi</span>
                            <br />
                            <div class="profile-content">Author | CMO</div>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="https://www.facebook.com/amishasethiauthor/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://en.wikipedia.org/wiki/Amisha_Sethi" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></i></a></li>
<!--
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
-->
                                </ul>
                            </div>
<!--                            <span class="profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                        </div>
                    </div>
                    <div class="small-8 small-offset-2 medium-4 large-4 medium-offset-0 large-offset-0 columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/speakers_2k16/shankar.jpg" alt="Dr. Sankar K. Pal" />
                            </div>
                            <span class="profile-name">Dr. Sankar K. Pal</span>
                            <br />
                            <div class="profile-content">Ex-Director ISI</div>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true" target="_blank"></i></a></li>
                                    <li><a href="https://en.wikipedia.org/wiki/Sankar_Kumar_Pal" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></i></a></li>
<!--
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
-->
                                </ul>
                            </div>
<!--                            <span class="profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                        </div>
                    </div>
                    <div class="small-8 small-offset-2 medium-4 large-4 medium-offset-0 large-offset-0 columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/speakers_2k16/will.jpg" alt="Will Patterson" />
                            </div>
                            <span class="profile-name">Will Patterson</span>
                            <br />
                            <div class="profile-content">Freelance Graphic Designer</div>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="https://www.facebook.com/willpatersondesign" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/will_paterson10" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
<!--
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
-->
                                </ul>
                            </div>
<!--                            <span class="profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                        </div>
                    </div>
                    <div class="small-8 small-offset-2 medium-4 large-4 medium-offset-0 large-offset-0 columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/speakers_2k16/anand.jpg" alt="Anand Oswal" />
                            </div>
                            <span class="profile-name">Anand Oswal</span>
                            <br />
                            <div class="profile-content">Vice President of Engineering, Cisco</div>
                            <div class="profile-social">
                                <ul>
<!--                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
                                    <li><a href="https://twitter.com/aoswal1234" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
<!--
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
-->
                                </ul>
                            </div>
<!--                            <span class="profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                        </div>
                    </div>
                    <div class="small-8 small-offset-2 medium-4 large-4 medium-offset-0 large-offset-0 end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/speakers_2k16/varun.jpg" alt="Varun Dhawan" />
                            </div>
                            <span class="profile-name">Varun Dhawan</span>
                            <br />
                            <div class="profile-content">Interaction Architect, Innovaccer</div>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="https://www.facebook.com/varun.dhawan?fref=ts" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/varunrokz" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
<!--
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
-->
                                </ul>
                            </div>
<!--                            <span class="profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column small-4 small-centered medium-4">
                <div class="row">
                    <div class="small-12 column text-center">
                        <a class="hollow button alert" target="_blank" href="/talks">Speakers 2017</a>
                    </div>
                    <div class="small-12 column text-center prev-btn2">
                        <a class="hollow button alert" target="_blank" href="/talks/2015">Speakers 2015</a>
                    </div>
                </div>
            </div>
        </div>

        <% include partials/footer %>

    </body>
</html>
