<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Our Team | Plinth'17</title>
        <meta name="Description" content="All PLINTH events are under teams that are at your service 24/7. These are the people who make this techfest of epic proportions a possibility.">
        <meta property="og:title" content="Our Team | Plinth'17" />
        <meta property="og:type" content="event" />
        <meta property="og:url" content="https://plinth.in/team" />
        <meta property="og:image" content="https://plinth.in/workshops/media/logo.svg" />
        <meta property="og:description" content="All PLINTH events are under teams that are at your service 24/7. These are the people who make this techfest of epic proportions a possibility." />
        <meta property="og:site_name" content="Plinth" />
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@PlinthLNMIIT">
        <meta name="twitter:title" content="Our Team | Plinth'17">
        <meta name="twitter:description" content="All PLINTH events are under teams that are at your service 24/7. These are the people who make this techfest of epic proportions a possibility.">
        <meta name="twitter:creator" content="@PlinthLNMIIT">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/team.css" />
    </head>
    <body>

        <% include partials/header %>
        <%if (!isLoggedIn) { %>
                <% include partials/reg-form %>
        <% } %>

        <div class="content">
            <div class="row">
                <div class="small-10 small-centered text-center columns">
                    <h4>Meet the Team</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="row">
                    <div class="small-10 medium-4 large-3 small-offset-1 medium-offset-2 large-offset-3 columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/gsec.jpg" />
                            </div>
                            <span class="profile-name">Vipul Behl</span>
                            <br />
                            <span class="profile-content">G.Sec. Science & Tech</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/vipul.viki"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/vipul-behl-604354103"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://contacts.google.com/preview/1f6dea12082dd6ea"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9468590302</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vipulbehl@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-offset-1 medium-offset-0 end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/agsec.png" />
                            </div>
                            <span class="profile-name">Kritika karwasra</span>
                            <br />
                            <span class="profile-content">A.G.Sec. Science & Tech</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/kritika.karwasra.1"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
                                    <li><a target="_blank" href="https://plus.google.com/103522601573280324586"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-7073157758</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>mekritika28@gmail.com</span>
                        </div>
                    </div>
                    </div>
                <div class="row">
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                            	<img src="media/team/Shobhit.jpg">
                            </div>
                            <span class="profile-name">Shobhit Asai</span>
                            <br />
                            <span class="profile-content">Sponsorship and Finance lead</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100013933505824"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/asaiatin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/108339448572133765120"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://github.com/asaiatin"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9479361848</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>asaiatin@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Bhavik%20Thakkar.jpg" />
                            </div>
                            <span class="profile-name">Bhavik Thakkar</span>
                            <br />
                            <span class="profile-content">Sponsorship Lead and Content</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/bhavik29"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/bhavik-thakkar-b70057112"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/108998586282233690905"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-8003253190</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>thakkarb97@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Mukul%20Jain.jpg" />
                            </div>
                            <span class="profile-name">Mukul Jain</span>
                            <br />
                            <span class="profile-content">Design And Website Lead</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/jainmukul1996"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/in/mukuljainx"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/+MukulJainx"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://github.com/jainmukul/"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-7221008771</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>jainmukul1996@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Akshansh%20Bindal.jpg" />
                            </div>
                            <span class="profile-name">Akshansh Bindal</span>
                            <br />
                            <span class="profile-content">Design and Marketing Lead</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/akshansh.bindal"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/in/akshansh-bindal-5b7862b8"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/107849063181706215919"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-8003231426</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>akshanshbindal.lnmiit@gmail.com</span>
                        </div>
                    </div>

                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                            	<img src="media/team/Romit.jpg">
                            </div>
                            <span class="profile-name">Romit Jain</span>
                            <br />
                            <span class="profile-content">Workshop Lead</span>
                            <div class="profile-social">
                                <ul>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> -->
                                    <li><a target="_blank" href="https://in.linkedin.com/in/romitjain7"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/+RomitJain07"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://github.com/romitjain"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9549037612</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>romit.73@gmail.com</span>
                        </div>
                    </div>


                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Vamsi%20jpg.jpg" />
                            </div>
                            <span class="profile-name">Vamsi Krishna</span>
                            <br />
                            <span class="profile-content">Talk Series Lead</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100000294078532"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/vamsi-krishna-4b330abb"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/115420090584480539679"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://github.com/vamsikrishna97"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9587094955</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>pvamsikrishna97@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Parth%20Javiya.jpg" />
                            </div>
                            <span class="profile-name">Parth Javiya</span>
                            <br />
                            <span class="profile-content">Marketing Lead</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/javiya.parth"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/parth-javiya-6496a0116"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/103100963382866155726"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-7597386094</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>javia.parth@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-offset-1 medium-offset-0 end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Sagar%20Chand%20Agarwal.jpg" />
                            </div>
                            <span class="profile-name">Sagar Chand Agarwal</span>
                            <br />
                            <span class="profile-content">WikiToLearn Conference lead</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/sagaragarwal94"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://twitter.com/sagaragarwal94"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/+SagarChandAgarwalatom"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://github.com/sagaragarwal94"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9005448879</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>atomsagar@gmail.com​</span>
                        </div>
                    </div>
                    </div>
                    <div class='row'>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Abhishek%20Sukhwal.jpg" />
                            </div>
                            <span class="profile-name">Abhishek Sukhwal</span>
                            <br />
                            <span class="profile-content">Robotics Coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100008374185898"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/abhishek-sukhwal-a9a329ab"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/110478010768881940962"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-7597722415</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>abhisheksukhwal9@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Paranay%20Pandey.jpg" />
                            </div>
                            <span class="profile-name">Paranay Pandey</span>
                            <br />
                            <span class="profile-content">Coding Events Coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/pranay.obstacles"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/pranay-pandey-b84183b6"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/115311822903645715914"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://github.com/pranay-thl"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-7073211971</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>pranaypnd@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                 <img src="media/team/aditi.jpg" />
                            </div>
                            <span class="profile-name">Aditi Arora</span>
                            <br />
                            <span class="profile-content">Coding Events Sub-coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100007269284803&fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/aditi-arora-282274107"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9460529433</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>aditiarora2896@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                 <img src="media/team/saurav.jpg" />
                            </div>
                            <span class="profile-name">Saurav Mehrotra</span>
                            <br />
                            <span class="profile-content">Coding Events Sub-coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/rahul.agrawal.10048379?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/saurav-mehrotra-451723b6"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-7073719036</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>saurav24081996@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                 <img src="media/team/abhinandan.jpg" />
                            </div>
                            <span class="profile-name">Abhinandan Mittal</span>
                            <br />
                            <span class="profile-content">Coding Events Sub-coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/mittalabhinandan?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/abhinandanm"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-8875012802</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>abhinandan1812@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Akhilesh%20Maheswari.jpg" />
                            </div>
                            <span class="profile-name">Akhilesh Maheswari</span>
                            <br />
                            <span class="profile-content">Startup Intern Fair Coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/ak4hilesh"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/akhilesh-maheshwari-941928100"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/105713790475295968420"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9772565365</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>ak2maheshwari@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Dheeraj.jpg" />
                            </div>
                            <span class="profile-name">Dheeraj Gupta</span>
                            <br />
                            <span class="profile-content">Quizzing Coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/dheeraj.gupta.397"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/dheeraj-gupta-b82516106"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/106843257535431616243"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-8387042427</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>dheerajlnmiitcs@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Khyati.jpg" />
                            </div>
                            <span class="profile-name">Khyati Chhabra</span>
                            <br />
                            <span class="profile-content">Quizzing Coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/khyatichhabra"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
                                    <li><a target="_blank" href="https://plus.google.com/103882912614604134484"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-8769291850</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>khyatic18@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                 <img src="media/team/mohit%20khatri.jpg" />
                            </div>
                            <span class="profile-name">Mohit Khatri</span>
                            <br />
                            <span class="profile-content">Media</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/mohit.khatri3"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
                                    <li><a target="_blank" href="https://plus.google.com/+MohitKumarKhatri/posts"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-7597487542</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>mohit.khatri1995815@gmail.com </span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns ">
                        <div class="profile-card">
                            <div class="profile-dp">
                                 <img src="media/team/cc.jpg" />
                            </div>
                            <span class="profile-name">Chanpreet Singh Chhabra</span>
                            <br />
                            <span class="profile-content">App Developer</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/chanpreet.chhabra.9"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/chanpreet-chhabra-b42028b7"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/113866213049724708353/posts"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://github.com/chanpreet08"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9602976558</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i><span style="font-size : 12px;">chanpreet.chhabra@gmail.com</span></span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Sarthak%20Kamra.jpg" />
                            </div>
                            <span class="profile-name">Sarthak Kamra</span>
                            <br />
                            <span class="profile-content">Campus Ambassdor</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/sarthak.kamra"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/sarthak-kamra-333579112"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/109630625252097875947"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9530474848</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>kamra.sarthak@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/mayuri.jpg" />
                            </div>
                            <span class="profile-name">Mayuri Agrawal</span>
                            <br />
                            <span class="profile-content">Startup Intern Fair Coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/mayuri.agrawal.581"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/mayuri-agrawal-0104b1107"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/115892426841371490558"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9414048295</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>mayuri.agrawal6547@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/vishal%20jain.jpg" />
                            </div>
                            <span class="profile-name">Vishal Jain</span>
                            <br />
                            <span class="profile-content">Robotics Sub-Coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/vishalfab"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/vishal-jain-8566a7111"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/103430489381332341573"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-787376851</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>v.vishal.jain007@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Mukul%20Goyal.jpg" />
                            </div>
                            <span class="profile-name">Mukul Goyal</span>
                            <br />
                            <span class="profile-content">Website</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/me.mukul.05"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
                                    <li><a target="_blank" href="https://plus.google.com/111164100617046261662"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://github.com/themukul"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9460855988</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>me.mukul05@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Vishal%20Sanghai.jpg" />
                            </div>
                            <span class="profile-name">Vishal Sanghai</span>
                            <br />
                            <span class="profile-content">Website & Accommodation</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a href="https://www.facebook.com/vcoolsanghai"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/vcoolsanghai"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="https://plus.google.com/u/0/+VishalSanghaiIN"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="https://github.com/vcoolsanghai"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9521113802</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>vcoolsanghai@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/goyal.jpg" />
                            </div>
                            <span class="profile-name">Siddharth Goyal</span>
                            <br />
                            <span class="profile-content">Finance Team</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/siddharth.goyal22?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="https://in.linkedin.com/in/vishal-jain-8566a7111"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
                                    <!-- <li><a target="_blank" href="https://plus.google.com/103430489381332341573"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9772338453</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>siddharth.game@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Smriti%20Jha.jpg" />
                            </div>
                            <span class="profile-name">Smriti Jha</span>
                            <br />
                            <span class="profile-content">Astronomy Coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100010329226929"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/smriti-jha-397056106"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/118165361095178472707"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-7742603667</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>smritijha369@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Gaurav%20Kulkarni.jpg" />
                            </div>
                            <span class="profile-name">Gaurav Kulkarni</span>
                            <br />
                            <span class="profile-content">Astronomy Coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/GK196"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/gauravkulkarni96"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/109625163640745525698"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://github.com/gauravkulkarni96"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-7742669667</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>gauravkulkarni96@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
							<img src="media/team/SakshamSaxena.jpg" />
                            </div>
                            <span class="profile-name">Saksham Saxena</span>
                            <br />
                            <span class="profile-content">Marketing</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/saksham.saxena.90"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/saksham-saxena-555799112"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/101554326751126747072"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9829395744</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>sakshamsaxena1997@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/yash.jpg" />
                            </div>
                            <span class="profile-name">Yash Khandelwal</span>
                            <br />
                            <span class="profile-content">Sponsorship Team</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/yash.khandewal.9"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/yash-khandelwal-039518106"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/104153568414926207008"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9414609590</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>yashkhandelwal99299@gmail.com</span>
                        </div>
                    </div>

                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/nikhil%20palliwal.jpg" />
                            </div>
                            <span class="profile-name">Nikhil Palliwal</span>
                            <br />
                            <span class="profile-content">Robotics sub-coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/nikhil.paliwal.351"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/nikhilpaliwal-linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/105740961706661553711"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9530027337</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>nikhil.paliwal14@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/shreeram.jpeg" />
                            </div>
                            <span class="profile-name">Shree Ram Bansal</span>
                            <br />
                            <span class="profile-content">Robotics sub-coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/shreeram.bansal"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/in/shree-ram-b-a48786104"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/114106008942795009284"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://github.com/Ram-1998"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9461214514</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>shreerambanasal@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Parth%20Dadhich.jpg" />
                            </div>
                            <span class="profile-name">Parth Dadhich</span>
                            <br />
                            <span class="profile-content">Robotics sub-coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/parth.dadhich"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/parth-dadhich-a4bb5b114"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/105740961706661553711"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9413368618</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>p02101997h@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/satyam-a.jpg" />
                            </div>
                            <span class="profile-name">Satyam Kumar Singh</span>
                            <br />
                            <span class="profile-content">Accommodation</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100005791302754"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-772708396</span>
                            <br />
                            <!-- <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>p02101997h@gmail.com</span> -->
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Akshat.jpg" />
                            </div>
                            <span class="profile-name">Akshat Airan</span>
                            <br />
                            <span class="profile-content">Robotics sub-coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/akshat.airan"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/akshat-airan-8391b1109"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/115177822571348438357"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-7790852235</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>akshatairan97@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                            	<img src="media/team/Vinay.jpg" />
                            </div>
                            <span class="profile-name">Vinay Sharma</span>
                            <br />
                            <span class="profile-content">Robotics sub-coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/vinay0410"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/107284501292484021010"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9810340897</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>vinay0410sharma@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Rishabh%20Tayal.jpg" />
                            </div>
                            <span class="profile-name">Rishabh Tayal</span>
                            <br />
                            <span class="profile-content">Robotics sub-coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/rishabh.tayal3?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://in.linkedin.com/in/rishabh-tayal-1b9209112"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-7737168928</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>rishabhtayal72@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Ayush%20Mathur.jpg" />
                            </div>
                            <span class="profile-name">Ayush Mathur</span>
                            <br />
                            <span class="profile-content">Robotics sub-coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> -->
                                    <li><a target="_blank" href="https://in.linkedin.com/in/ayush-mathur-3b895a104"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/118229188762721635506"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9680168770</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>ayush17071996@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/anjali.jpg" />
                            </div>
                            <span class="profile-name">Anjali Gupta</span>
                            <br />
                            <span class="profile-content">Robotics sub-coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100010330578790"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
                                    <li><a target="_blank" href="https://plus.google.com/106487944934276573997"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9460797535</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>varshneyanjali535@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Pushkar.webp" />
                            </div>
                            <span class="profile-name">Pushkar Garg</span>
                            <br />
                            <span class="profile-content">Robotics sub-coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> -->
                                    <li><a target="_blank" href="https://in.linkedin.com/in/pushkar-garg-bb96a8112"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a target="_blank" href="https://plus.google.com/107868753346894783447"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-8003243784</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>gargpushkar123@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Ayush.webp" />
                            </div>
                            <span class="profile-name">Ayush Srivastava</span>
                            <br />
                            <span class="profile-content">Robotics sub-coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> -->
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
                                    <li><a target="_blank" href="https://plus.google.com/104800165113419285566"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-8003236561</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>ayush.srivastava016@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/chhaya.jpg" />
                            </div>
                            <span class="profile-name">Chhaya Hotwani</span>
                            <br />
                            <span class="profile-content">Robotics sub-coordinator</span>
                            <div class="profile-social">
                                <ul>
                                     <li><a target="_blank" href="https://www.facebook.com/chhaya.hotwani?__mref=message_bubble"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
                                    <li><a target="_blank" href="https://plus.google.com/u/0/117015706790832807068"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-7793071652</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>hotwanichhaya@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/meenakshi.jpg" />
                            </div>
                            <span class="profile-name">Meenakshi Modi</span>
                            <br />
                            <span class="profile-content">Robotics sub-coordinator</span>
                            <div class="profile-social">
                                <ul>
                                     <li><a target="_blank" href="https://www.facebook.com/meenakshi.modi.0518?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
                                    <li><a target="_blank" href="https://plus.google.com/u/0/109579883128305377554"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-7790944061</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>meenakshimodi97@gmail.com​</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/Nidhi%20Gupta.jpg" />
                            </div>
                            <span class="profile-name">Nidhi Gupta</span>
                            <br />
                            <span class="profile-content">Content Writer</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100009509296083"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
                                    <li><a target="_blank" href="https://plus.google.com/102813018827756609827/posts"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <!-- <li><a target="_blank" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9521113814</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>guptanidhi96@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                 <img src="media/team/satyam.jpg" />
                            </div>
                            <span class="profile-name">Satyam Shubham</span>
                            <br />
                            <span class="profile-content">Coding Events Sub-coordinator</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/satyam.shubham2?lst=100001253070496%3A100001385325243%3A1484255860"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9431040039</span>
                            <br />
                            <span class="profile-content"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>satyam.shubh3@gmail.com</span>
                        </div>
                    </div>
                    <!-- <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                 <img src="media/team/yatharth.jpg" />
                            </div>
                            <span class="profile-name">Yatharth Shah</span>
                            <br />
                            <span class="profile-content">Sponsorship Team</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/yatharthshahjpr?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-8233665250</span>
                            <br>
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>yatharthshahjpr@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                 <img src="media/team/sanajana%20talk.jpg" />
                            </div>
                            <span class="profile-name">Sanjana Mundhra</span>
                            <br />
                            <span class="profile-content">Talk Series</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/sanjana.mundhra.3?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-8107340018</span>
                            <br>
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>sanjanamundhra@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                 <img src="media/team/anushka%20sponsor.jpg" />
                            </div>
                            <span class="profile-name">Anushka Prakash</span>
                            <br />
                            <span class="profile-content">Sponsorship Team</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/anushka.prakash.18?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-8290571677</span>
                             <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>anushkaprakash07@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-centered medium-uncentered end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                 <img src="media/team/aakash%20sponsor.jpg" />
                            </div>
                            <span class="profile-name">Aakash Mahadevan</span>
                            <br />
                            <span class="profile-content">Sponsorship Team</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/imaakash98?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9660845930</span>
                             <br />
                            <span class="profile-content"><i class="fa fa-envelope" aria-hidden="true"></i>imaakash98@gmail.com</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-offset-1 medium-offset-0 end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/aditya%20content.jpg" />
                            </div>
                            <span class="profile-name">Aditya Bhattacharjee</span>
                            <br />
                            <span class="profile-content">Content Writer</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/aditya.bhattacharjee.14?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-9571069270</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>16ucs016@lnmiit.ac.in</span>
                        </div>
                    </div>
                    <div class="small-10 medium-4 large-3 small-offset-1 medium-offset-0 end columns">
                        <div class="profile-card">
                            <div class="profile-dp">
                                <img src="media/team/deepjyoti.jpg" />
                            </div>
                            <span class="profile-name">Deepjyoti Kalita</span>
                            <br />
                            <span class="profile-content">Sponsorship Team</span>
                            <div class="profile-social">
                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/deep.kalita.1276"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <span class="profile-content"><i class="fa fa-phone" aria-hidden="true"></i>+91-7578947042</span>
                            <br />
                            <span class="profile-content small-size"><i class="fa fa-envelope fa-size" aria-hidden="true"></i>16ucs057@lnmiit.ac.in</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <% include partials/footer %>

    </body>
</html>
