<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">Synopsis</a></li>
        <li class="tab col s2"><a href="#test2">Problem Statement</a></li>
        <li class="tab col s2"><a href="#test3">Rules</a></li>
        <li class="tab col s2"><a href="#test4">Register</a></li>
      </ul>
</div></div>
<div class="compt-margin">
<div id="test1" class="col s12">
<div id="event_head">
  <img id="event_img" src="./media/transporter2.png"> 
  <h2 style="margin-top:0px;">Asgard</h2>
</div>
<blockquote>“Mankind was born on Earth. It was never meant to die here.” </blockquote>

<p>Asgard is a newly found planet just like Earth. To cater to the needs of our ever increasing 

population and depleting resources, the human civilisation has to see its dawn on Asgard, 

for a comfortable continuation of the species. You have been assigned this tough task to 

turn into an achievable probability. Describe how this could be done by designing a 

settlement for 10,000 people.  Use your creativity while keeping in mind the above 

mentioned facts to build upon different aspects of a colony. For example production, 

distribution and storage of food, management of waste, the problems that would be faced, 

governing health of people.<br>

This event consist 2 rounds. 1st round will be online. The participants have to submit a 

report before the given deadline. After the date of submission, we will select the teams for 

the second round on the basis of their report. All the selected teams will have to present 

their report in front of the judges, during plinth.</p>
</div>

<div id="test2" class="col s12">
<h4>Problem Statement</h4>

<p>Asgard is a newly found planet just like Earth with the following alterations:</p>
<ol>
<li>Rotation period of 50 hours and revolution time of 489 days.
</li>
<li>Saline water covers 50 percent of the planet and fresh water is 2 percent of the entire 
water content.
</li>

<li>Existence of no lethal uncontrollable alien species.
</li>
<li>Transportation and communication technology have been developed to an extent that we 
can reach this planet in three months and any communication signal requires two days to 
get delivered.
</li>

<li>The average temperature of the planet is from three to ten degrees Celsius.The planet 
has no seasons.
</li>

<li>Presence of no fossil fuels.
</li>
<li>(Bonus point) Following point is not mandatory but extra points would be awarded if 
considered: Gravity is half of that of earth.
</li>
</ol>

<p>
To cater to the needs of our ever increasing population and depleting resources, the human 

civilisation has to see it's dawn on Asgard, for a comfortable continuation of the species. 

You have been assigned this tough task to turn into an achievable probability. Describe how 

this could be done by designing a settlement for 10,000 people.  Use your creativity while 

keeping in mind the above mentioned facts to build upon different aspects of a colony. For 

example production, distribution and storage of food, management of waste, the problems 

that would be faced, governing health of people.</p>
s
<h5>How the event would be proceed:</h5>
<ol>
<li>An abstract is to be submitted.This abstract should be at least 500-600 words.
</li>
<li>Your abstract would be evaluated on how many different aspects you have deliberated 
upon and how many of these are in line with the physics of the planet.
</li>

<li>On the basis of your abstract you would be selected for the second round.
</li>
<li>In the second round you need to present your abstract and ideas in the form of a 
presentation.
</li>
<li>The more descriptive you are, the more points your report will score.
</li></ol>
<h5>Forrmat of the project:</h5>
<ol>
<li>The project should be submitted in a pdf.
</li>
<li>There is no strict format that you need to stick to. Make it as comprehendible as possible. 
</li></ol>
<h5>Evaluation:</h5>
<ol>
<li>Your report would be evaluated on how many different aspects you have deliberated 
upon and how many of these are in line with the physics of the planet.
</li>

<li>The more descriptive you are, the more points your report will score.
</li>
<li>Use can use diagrams and pictures.
</li></ol>
</div>
<div id="test3" class="col s12">
<h4>Rules</h4>

<h5>General Rule</h5>
<ol>
<li>Any form of copying of textual material would lead to disqualification.
</li>
<li>You can work alone or in a team of at most five.
</li>
<li>One project should be submitted by only one team/individual. If same project is submitted 
by two teams/individuals, first one would be evaluated and second would be disqualified. 
</li></ol>

<h5>Submission:</h5>

<p>The final project report should be mailed to astronomy.lnmiit@gmail.com with the subject 

Plinth: Asgard Project Report: Team Id,  before 23:59 hours on 25th December, 2015.</p>

</div>

<div id="test4" class="col s12">

<p>For any query feel free to contact:<br>

Mihika Naik:           +91-96029-74538 | p.mihika@gmail.com<br>

Shubham Gupta:   +91-77259-24217 | samigupta248@gmail.com </p>

</div>
</div>
  
  <style type="text/css">
 .tabs .indicator {
  background-color: black;
 }

 .tabs .tab a {
  color: black;
 }

 .tabs .tab a:hover {
  color: grey;
 }
  </style>