<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">Synopsis</a></li>
        <li class="tab col s2"><a href="#test2">Problem Statement</a></li>
        <li class="tab col s2"><a href="#test3">Rules</a></li>
        <li class="tab col s2"><a href="#test4">Register</a></li>
      </ul>
</div></div>
<div class="compt-margin">
<div id="test1" class="col s12">
<div id="event_head">
  <img id="event_img" src="./media/transporter2.png"> 
  <h2 style="margin-top:0px;">AstroHunt</h2>
</div>
<p>Astro Hunt is an astronomy theme based treasure hunt. Foresee the unfathomable and explore 

the mysteries of the universe. Only the sharp, intelligent and astro lovers make it to the end. 

The route to solve the mysteries of the universe lies within the depths of the dark sky and your 

imagination. It’s time to bring out the Galileo Galilee in you and look into the infinite cosmic 

depths.</p>
</div>

<div id="test2" class="col s12">
<div class="center">
<h4>Problem Statement</h4>
<ol>
<li>At the beginning of the Astro Hunt each team will be given a map of the LNMIIT Campus 
and a Sky chart. 
</li>

<li>Astro Hunt will consist of 4 rounds.
</li>
<li>At the beginning of each round every team will receive an identical set of clues or 
puzzles which must be solved in order to find a piece of information. This information 

could be words from a historical astronomical event, name of a star, planet or any other 

celestial body, cosmic theories or just a name of a person. The clues and puzzles will be 

related to astronomy in some manner and will lead to a location/check point within 

walking distance where players will use a vital piece of information to answer a 

question.
</li>

<li>After completing a round by solving the puzzles/clues and reaching the check point the 
teams will get a flag and the clues/puzzles for the next round.
</li>

<li>Each flag will also consist of some information/clue. After collecting all the 4 flags the 
participants will have to solve the final puzzle.
</li>

<li>The team which will collect all the 4 flags and solve the final puzzle in minimum time will 
be the winner.
</li>
</ol>
</div>
</div>

<div id="test3" class="col s12">
<h4>Rules</h4>

<h5>General Rule</h5>
<ol>
<li>Members per team: 3 -5
</li>
<li>Each team should have unique participants i.e. no two teams can have even one 
common name registered.
</li>

<li>The participants have to reach the starting point 15 minutes before the event schedule.
</li>
<li>All the team members should be present at each check point while receiving a token.
</li>
<li>Decision of the volunteers at each check point will be final.</li>
</ol>

</div>

<div id="test4" class="col s12"><p>
For any query, feel free to contact:<br>

Chitresh Sharma:  +91-8764338048 | chitreshcms@gmail.com<br>

Samyak Gupta:      +91-9462066697 | sdgupta.gupta9@gmail.com</p>  

</div>
</div>
  
  <style type="text/css">
 .tabs .indicator {
  background-color: black;
 }

 .tabs .tab a {
  color: black;
 }

 .tabs .tab a:hover {
  color: grey;
 }
  </style>