<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">Synopsis</a></li>
        <li class="tab col s2"><a href="#test2">Problem Statement</a></li>
        <li class="tab col s2"><a href="#test3">Rules</a></li>
        <li class="tab col s2"><a href="#test4">Register</a></li>
      </ul>
</div></div>
<div class="compt-margin">

<div id="test1" class="col s12">
<div id="event_head">
  <img id="event_img" src="./media/fixtb.png"> 
  <h2 style="margin-top:0px;">Fix the Bug</h2>
</div>
<div class="card-panel hoverable price-card">
<img src="./media/t3.png" width="100px;">
<span id="price-worth" style="color:#009688;">Prize Worth</span><br>
<span id="price-value" style="color:#009688;">&#8377 30,000</span>
</div>
<blockquote>“Bloody instructions, which, being taught, return
 To plague the inventor …"</blockquote> 
            -William Shakespeare,Macbeth, act 1, scene 7

<p>How right the 'Bard of Avon' was! Every programmer who has crossed skill levels beyond the "hello world" phase, has learnt to fear those mysterious fiends called bugs. Seeing the enigmatic 'seg. fault' on the screen sends chills down the spine of even some veterans! To deal with such entities requires a level patience and skill that escapes ordinary programmers. Think you are up to it? Are you one of those gifted few who can spot a bug like the eagle does a mouse? Why doubt when you can find out !</p>


</div>

<div id="test2" class="col s12">
<h4>Problem Statement</h4>

<p>It is a debugging event with some restrictions on time and language. The questions will related to scripting or will ask to either debug some code with limited time frame to complete the event. 
<br>It will be an onsite competition to be held during Plinth’16<br>
EVENT DURATION: 2.5 - 3 hours</p>

</div>

<div id="test3" class="col s12">
<h4>Rules</h4>
<h5>Registration Rules</h5>
<ol>
<li>Team with maximum of 3 members is allowed.</li>
<li>All the members should be of same college.</li>
<li>To claim prize you need to be registered here.</li></ol>
<h5>Contest Rules</h5>
<ol>
<li>Every team is expected to have one laptop with a linux version installed (preferably Ubuntu 14.04).</li>
<li>The decision of the organizers in declaring the results will be final. No queries in this regard will be entertained.
</li></ol>

</div>

<div id="test4" class="col s12">
<h5>For Any Query</h5>

Yash Varyani : veyron1306@gmail.com | +91-7728990660 <br> 
Vaibhav Shrotriya : vaibhavshrotriya4@gmail.com  | +91-7793075905<br>

 


</div>
</div>
  
  <style type="text/css">
 .tabs .indicator {
  background-color: black;
 }

 .tabs .tab a {
  color: black;
 }

 .tabs .tab a:hover {
  color: grey;
 }
 #event_img{
  width: 150px;
  height: 150px;
 }
  </style>