<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">Synopsis</a></li>
        <li class="tab col s2"><a href="#test2">Problem Statement</a></li>
        <li class="tab col s2"><a href="#test3">Rules</a></li>
        <li class="tab col s2"><a href="#test4">Register</a></li>
      </ul>
</div></div>

<div id="test1" class="col s12">
<div id="event_head">
  <img id="event_img" src="./media/transporter2.png"> 
  <h2 style="margin-top:0px;">FLoor Crossing</h2>
</div>
<p>How well do you know your mate? Apart from telepathy this game can be won by your writing skills!<br>

In this event, the first participant of a team is given a theme, on which he has to write a story. He would be stopped mid way after a stipulated time and the second participant, who doesn’t know the theme, has to continue it and give it a proper ending.</p>
</div>

<div id="test2" class="col s12">
<h4>Problem Statement</h4>

<h5>Evaluation Criteria</h5>
<p>Teams would be evaluated on basis of how close the entire story is to the theme and your creativity.</p>

<h5>Format</h5>
<ol>
<li>Event will be conducted on any one of the days from 22 Jan-24 Jan.</li>
<li>Participants are required to come in a team consisting of two members.</li>
<li>The participants will have 3 minutes as preparation time and there are no interjections, no 
communication among them.</li>
<li>The first participant will start the story for 15 minutes and it will be taken over by second 
participant.</li>
<li>All the topics will be given on the spot. As soon as first 15 minutes are complete, second 
participant will take over.</li></ol>
</div>

<div id="test3" class="col s12">
<h4>Rules</h4>
<ol>
<li>Exceeding the time limits will result in penalties.</li>
<li>No external help like internet is allowed during the event.</li>
<li>Any decision taken by the organizers will be final and binding on all the participants.</li>
</ol>
</div>

<div id="test4" class="col s12">Test 4

</div>

  
  <style type="text/css">
 .tabs .indicator {
  background-color: black;
 }

 .tabs .tab a {
  color: black;
 }

 .tabs .tab a:hover {
  color: grey;
 }
  </style>