<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">Synopsis</a></li>
        <li class="tab col s2"><a href="#test2">Problem Statement</a></li>
        <li class="tab col s2"><a href="#test3">Rules</a></li>
        <li class="tab col s2"><a href="#test4">Register</a></li>
      </ul>
</div></div>

<div id="test1" class="col s12">
<div id="event_head">
  <img id="event_img" src="./media/transporter2.png"> 
  <h2 style="margin-top:0px;">Into The Universe</h2>
</div>
<p>This event consist of 3 rounds Spacewalk, Star Hunt and Messier marathon.</p>

<h5>1st Round:  Spacewalk</h5>

<p>It will be an audio-visual quiz related to astronomy. Pictures and videos would be projected in 

front and participants have to answer the questions that follow.</p>

<h5>2nd Round:  Star Hunt</h5>

<p>So are you one of those who sneak out of your rooms during night hours and wander long 

gazing at the sky, trying to build up your imagination. Well folks then this is a perfect game for 

you to play, a hunt for the stars. Participants need to set themselves on a voyage of different 

celestial bodies and conquer to best of their capabilities.</p>

<h5>3rd Round: Messier Marathon</h5>

<p>A basic tutorial session would be held on handling of telescope and any further enhancements 

of the skills would be student’s personal interest. Then teams would be required to point at 

certain celestial objects through telescope.</p>
</div>

<div id="test2" class="col s12">
<h4>Problem Statement</h4>

<h5>Spacewalk: </h5>
<ol>
<li>20 audio/visual questions will be projected in front of the participants. They will have 1 
minute to answer each question by writing it down on the given sheet.
</li>

<li>These questions will be objective or one word.
</li>
<li>Each question will carry 2 points.
</li>
<li>Only top 50%  teams will go to the next round.
</li></ol>
<h5>Star Hunt:</h5>
<ol>
<li>Teams will be provided with certain token numbers and called upon on its
basis.
</li>

<li>A star map and a laser pointer shall be provided to the team.
</li>
<li>Points will be given for locating the objects precisely only on first attempt.
</li>
<li>Based on the final scores, n-number of teams would qualify for the next level where n shall 
be dependant on participation number.
</li></ol>

<h5>Messier Marathon:</h5>
<ol>
<li>The teams which had qualified in pointing out the astronomical objects would
be required to point at certain such objects through telescope.
</li>

<li>Minimum time shall be provided to the teams and the one who solves the maximum 
questions, earns maximum point.
</li>

<li>Team with maximum score would be declared winner.
</li></ol>
</div>

<div id="test3" class="col s12">
<h4>Rules and Regulations</h4>

<ol>
<li>Participants can form team of up to three.
</li>
<li>Using mobile phones is not allowed.</li>
<li>Teams are suppose to restrain themselves from using any android application such as Google
Sky Map or any other electronic media.
</li></ol>

</div>

<div id="test4" class="col s12">
<p>For any query, feel free to contact:<br>

Kushagra sharma: +91-75976-03418 | ramkrishn12345@gmail.com<br>

Srishti Bhardwaj:   +91-94616-31493 | bsrishtib@gmail.com<br>
</p>
 


</div>

  
  <style type="text/css">
 .tabs .indicator {
  background-color: black;
 }

 .tabs .tab a {
  color: black;
 }

 .tabs .tab a:hover {
  color: grey;
 }
  </style>