<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">Synopsis</a></li>
        <li class="tab col s2"><a href="#test2">Problem Statement</a></li>
        <li class="tab col s2"><a href="#test3">Rules</a></li>
        <li class="tab col s2"><a href="#test4">Register</a></li>
      </ul>
</div></div>
<div class="compt-margin">

<div id="test1" class="col s12">
<div id="event_head">
  <img id="event_img" src="./media/iupc.png"> 
  <h2 style="margin-top:0px;">IUPC</h2>
</div>
<p>See logic in everything around you? Is your daily grammar a 'SYNTAX'? <br>
Algorithms and flow charts cloud your brain? Love to solve new and challenging problems?<br>
Then you should not miss out on IUPC the Inter University Programming Contest... go and Code the Code...!</p>

</div>

<div id="test2" class="col s12">
<h4>Problem Statement</h4>

<p>This national level programming contest shall assess the intelligence through various rounds : First round will be held online on 1st week of Jan’16 followed by further onsite rounds which will be held during Plinth'16.<br>
<ul><li>
Platform: HackerEarth</li><li>
Contest Durations: 3 Hours</li></ul></p>

<h5>Judging Criteria</h5>
<ol>
<li>Different problems have different points based on their relative difficulty level.
</li><li> Participants are ranked according to the most problems solved. Ties will be broken by the total time for each user in ascending order of time.
</li><li> The decision of the organizers in declaring the results will be final. No queries in this regard will be entertained.
</li><li>Any participant found to be indulging in any form of malpractice or plagarism will be immediately disqualified.
</li><li>The total time is the sum of the time consumed for each problem solved. The time consumed for a solved problem is the time elapsed from the beginning of the contest to the submission of the first accepted run plus 20 penalty minutes for every previously rejected run for that problem (Wrong answer, Time limit exceeded, Runtime Error, Compilation Error). There is no time consumed for a problem that is not solved.</li></ol>

</div>

<div id="test3" class="col s12">
<h4>Rules</h4>
<h5>Registration Rules</h5>
<ol>
<li>Team with maximum of 3 members is allowed.</li>
<li>All the members should be of same college.</li>
<li>One of the team member has to register on HackerEarth and should have a valid username for participation.</li><li>
Team lead should have a valid HackerEarth handle. All submissions should be made from this handle only.</li>
<li>To claim prize you need to be registered here.
</li><li> Selected teams will be called for onsite round(s) to be held during Plinth'16.
</li><li>Only the teams which participate in onsite rounds are eligible for prizes.</li></ol>

<h5>Contest Rules</h5>
<ol>
<li>
For the programming questions in the test, you need to choose one language from the given list and attempt.</li>
<li>All inputs for the programming problem are from STDIN and output to STDOUT.
</li><li> Programming questions have a 'Compile and Test' option where you can run your solution against sample test cases, before submitting.
</li><li> You can submit a solution for a programming problem as many times as you want.
</li><li> The questions will be marked with the language in which solution is expected.
</li><li> The solutions will be judged on the relative basis.
</li><li>Time Limit Exceed might also mean that there is a syntax in your source code.
</li></ol>

</div>

<div id="test4" class="col s12">
<h5>For Any Query</h5>

Yash Varyani : veyron1306@gmail.com | +91-7728990660 <br> 
Vaibhav Shrotriya : vaibhavshrotriya4@gmail.com  | +91-7793075905<br>

 


</div>
</div>
  
  <style type="text/css">
 .tabs .indicator {
  background-color: black;
 }

 .tabs .tab a {
  color: black;
 }

 .tabs .tab a:hover {
  color: grey;
 }
 #event_img{
  width: 150px;
  height: 150px;
 }
  </style>