<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">Synopsis</a></li>
        <li class="tab col s2"><a href="#test2">Problem Statement</a></li>
        <li class="tab col s2"><a href="#test3">Rules</a></li>
        <li class="tab col s2"><a href="#test4">Register</a></li>
      </ul>
</div></div>

<div id="test1" class="col s12">
<div id="event_head">
  <img id="event_img" src="./media/transporter2.png"> 
  <h2 style="margin-top:0px;">Line Follower</h2>
</div>
<p>Error 404 #plinth</p>
</div>

<div id="test2" class="col s12">
<div class="center">
<h4>Problem Statement</h4>

<p>An Autonomous bot that follows black line on white surface or vice-versa. 

<br>There will be separate points for how the bots follows the path as well,<br> the 

other parameter being time. Thus the bot with the most cumulative points 

will win.</p>
</div>
</div>

<div id="test3" class="col s12">
<h4>Rules</h4>

<h5>General Rule</h5>
<ol>
<li> Max. Number of members in a team: 4. 

</li><li> No human intervention is allowed in between the race.

</li><li> Point description will be disclosed on the spot before commencement 

of event.

</li><li> Points earned will be calculated within the time limit and free time will 

be provided only once if any technical problem occurs.

</li><li> In case of any discrepancies organiser’s decision will be final and 

binding. 

</li><li> The organizers reserve the right to change any or all of the rules as 

they desire. Change in the rules as if any will be informed through e-

mail or via Facebook page.

</li><li> Any team found flouting any rules would be automatically disqualified. 

ARENA DESCRIPTION:

</li><li> The width of the line will be 22-25 mm. 

</li><li> The track will contain certain number of check-points and if the bot 

goes out of the track then it has to start with the previous check-

point and have to be completed in a stipulated time limit.</li></ol> 

<h5>ROBOT SPECIFICATION :</h5>

<ol><li> The weight of the bot should not be more than 2kgs (excluding power 

source)

</li><li> Only wheels are allowed for locomotion. 

</li><li> At all times, bots behaviour should be non-offensive, non-destructive 

and non-harmful to humans and track. 

</li><li> The bot should fit in a box dimensions 30*25*25 cm 

</li><li> Bots are not allowed to fly or jump.

</li><li> Internal combustion engine cannot be used.</li></ol> 

<h5>Also Robot must not:</h5> 
<ol>
</li><li> Emit smoke or fire.

</li><li> Leak, stain or soil.

</li><li> Spray, throw or use projectiles.

</li><li> Jam or shock other electrical interface.

</li><li> Exceed Maximum circuit voltage of 12v at any point of time.
</ol>

</div>

<div id="test4" class="col s12">Test 4
Aayush Agrawal

09462035225

09166876104  
</div>

  
  <style type="text/css">
 .tabs .indicator {
  background-color: black;
 }

 .tabs .tab a {
  color: black;
 }

 .tabs .tab a:hover {
  color: grey;
 }
  </style>