<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">Synopsis</a></li>
        <li class="tab col s2"><a href="#test2">Problem Statement</a></li>
        <li class="tab col s2"><a href="#test3">Rules</a></li>
        <li class="tab col s2"><a href="#test4">Register</a></li>
      </ul>
</div></div>
<div class="compt-margin">

<div id="test1" class="col s12">
<div id="event_head">
  <img id="event_img" src="./media/lyre.png"> 
  <h2 style="margin-top:0px;">Lyrewrite</h2>
</div>
<div class="card-panel hoverable price-card">
<img src="./media/t6.png" width="100px;">
<span id="price-worth" style="color:#FFC107;">Prize Worth</span><br>
<span id="price-value" style="color:#FFC107;">&#8377 30,000</span>
</div>
<p>In this event, the short film is played in which there are no vocals but either music or sounds are present. The participants are contested to write a descriptive story/paragraph which comes as close as possible to the short film story. Can you express your senses in words? Can you turn stimuli into sentences? If yes, then this is your opportunity to showcase your talents.</p>
</div>

<div id="test2" class="col s12">
<h4>Problem Statement</h4>

<h5>Format</h5>
<ol>
<li>It is an individual event.</li>
<li>The participants will have 15 minutes to prepare and 15 minutes write the story.</li>
<li> All the stimuli will be given on the spot. Preparation time for 15 minutes will be given.</li>
<li>In the finals, the quiz master will explain detailed rules before conducting every round.</li>
<li>The stories should be relevant, easy to understand and complete.</li>
</ol>
</div>

<div id="test3" class="col s12">
<h4>Rules</h4>
<ol>
<li>No external help like internet is allowed during the event.</li>
<li>Any decision taken by the organizers will be final and binding on all the participants.</li>
</ol>
</div>

<div id="test4" class="col s12">
<h5>For Any Query</h5>

Avina Jain :  +91 - 9530457925<br>

Ritwik Bang : +91 - 8003585305

</div>
</div>
  
  <style type="text/css">
 .tabs .indicator {
  background-color: black;
 }

 .tabs .tab a {
  color: black;
 }

 .tabs .tab a:hover {
  color: grey;
 }
 #event_img{
  width: 150px;
  height: 150px;
 }
  </style>