<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">Synopsis</a></li>
        <li class="tab col s2"><a href="#test2">Problem Statement</a></li>
        <li class="tab col s2"><a href="#test3">Rules</a></li>
        <li class="tab col s2"><a href="#test4">Register</a></li>
      </ul>
</div></div>
<div class="compt-margin">

<div id="test1" class="col s12">
<div id="event_head">
  <img id="event_img" src="./media/transporter2.png"> 
  <h2 style="margin-top:0px;">Robo-Race</h2>
</div>
<p>Robotics as a whole is a competition where they can showcase their technical skills.
RoboRace is a competition where couple of Robots compete with each other in their
speed and accurate control.</p>
<ol>
<li>Construct Your Machine to have the maximum speed to beat another machines on
the given track to reach the final destination in minimum time.</li>

<li>You have to build a manually controlled robot capable of traversing over different
terrain and unseen hurdles.</li>

<li>There will be separate points for overcoming the obstacles as well as the other
parameter being within time. Thus the bot with the most cumulative points will win.</li>

<li>The aim of the event is to check the robustness of the vehicle and its competence
with the opponent on the same track.</li>
</ol>
</div>



<div id="test2" class="col s12">

<h4>Problem Statement</h4>
<h5>TASK</h5>
Design and construct a remote controlled (wired/wireless) robot capable not only running
fast but also is capable of fighting hurdles on the track in the least time.

<h5>Bot Specifications</h5>
<ol>
<li>Only wheels are allowed for locomotion, conveyer belts may be used.</li>

<li>The weight of the bot should not be more than 1.5kgs (excluding power source).</li>

<li>The bot should fit in a box dimensions 20*17*15 cm.</li>

<li>At all times, bots behavior should be non­offensive, non­destructive and non-
harmful to humans and track.</li>

<li>Bots are not allowed to fly or jump.</li>

<li>Internal combustion engine cannot be used.</li>

<li>Also bot must not emit smoke or fire, leak, stain or soil, spray, throw or use
projectiles.</li>

<li>Use of ic engines or compression is not allowed. All vehicles must depend only on
motors for their propulsion and control.</li>

<li>The person who have made the robot should be able to explain the circuit and the
program uploaded(if any).</li></ol>

<h5>TEAM SPECIFICATION</h5>
<ol>
<li>Any team can participate in Robo Race, Plinth. A team may consist of 3 to 4
member Participants. These participants can be from same or different institutes.</li>

<li>Team Representative: Each team must specify their Team Representative
(Leader)at the time of registration on the website.</li>

<li>All important communications between organizers and the registered teams will be
done through Team Representative.</li>

<li>Each student must have a valid Id­Card of their college.</li>

<li>Team should check their bots properly before racing if there is any
technical fault just before racing you are disqualified.</li>

<li>Teams start their vehicles at starting line, on a signal given by the event
coordinators. The timing will begin as soon as the signal is given.</li>

<li>Your vehicle should always remain inside the track. If your vehicle leaves the track, at any
point of time, it gets penalized.</li>

<li>A vehicle remaining stationary for more than 45 seconds gets disqualified.</li>

<li>The coordinators hold the direction to restart a race, in case of a valid reason to do so.</li>
</ol>
<h5>TRACK SPECIFICATIONS</h5>
<ol>
<li>The track will be 30­35 cm wide.</li>
<li>The track will be having many zones.</li>
</ol>
</div>


<div id="test3" class="col s12">
<h4>Rules</h4>
<h5>GENERAL Rules</h5>
<ol>
<li>No human intervention is allowed in between the race.</li>
<li>The track will contain certain number of check­points and if the bot goes out of the
track then it has to start with the previous check­point.</li>
<li>There will be certain number of hurdles and obstacles. Each obstacle and hurdle
will be assigned some specific points and have to be completed in a stipulated time
limit.</li>
<li>Point description will be disclosed on the spot before commencement of event.</li>
<li>This will be solely based on total cumulative points of previous round.</li>
<li>One should not use the wires for lifting up or moving the bot.</li>
<li>Points earned will be calculated within the time limit and free time of 3 min will be
provided Only once if any technical problem occurs.</li>
<li>In case of any discrepancies organizer’s decision will be final and binding.</li>
<li>The organizers reserve the right to change any or all of the rules as they desire.</li>
<li>Change in the rules as if any will be informed through e­mail or via Facebook page.</li>
</ol>
</div>

<div id="test4" class="col s12">
<h5>For Any Query</h5>

BHARTI SHARMA  : +91- 9462733116 <br>

LOKESH TODWAL : +91 - 9462999051 
</div>
</div>
 
  <style type="text/css">
 .tabs .indicator {
  background-color: black;
 }

 .tabs .tab a { 
  color: black;
 }

 .tabs .tab a:hover {
  color: grey;
 }
  </style>