<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">Synopsis</a></li>
        <li class="tab col s2"><a href="#test2">Problem Statement</a></li>
        <li class="tab col s2"><a href="#test3">Rules</a></li>
        <li class="tab col s2"><a href="#test4">Register</a></li>
      </ul>
</div></div>

<div class="compt-margin">
<div id="test1" class="col s12">
<div id="event_head">
  <img id="event_img" src="./media/transporter2.png"> 
  <h2 style="margin-top:0px;">Robo-Soccxer</h2>
</div>

<p>This event is a platform for participants to showcase their robotics talents and 

also to bring alive the football spirit. They are required to build  a manually 

controlled bots capable of playing soccer on an arena specially designed for 

the robotic soccer match.</p>
</div>

<div id="test2" class="col s12">
<h4>Problem Statement</h4>
<h5>Task Description</h5>
<ol>
<li>Each team will have to defend the goal on its side as well as score the 
goal on the opposite side.</li>

<li>The game will start at the count of 3 given by referee. In case a team 
starts its robot before the count of 3, the game will be restarted and a 
team making same mistake for more than 3 times will be disqualified.</li>

<li>The ball can be either dragged or pushed by the team.</li>

<li>The game will last for 5min.</li>

<li>In case of jam up of robots for than 30 sec., the robots will have to kick-
off again at the order of the referee.</li>

<li>Each goal scored by a team by rolling the ball on the ground will fetch 
the team by 1 point. (*or, Point description will be disclosed on the spot 
before commencement of the event.)</li>
</ol>
<h5>Robot Details</h5>
<ol>
<li>The weight limit of the robot for this competition is 5 kg.
</li>
<li>Each robot should not exceed by max 30cm.
</li>
<li>The start zone for the single robot is 500mm x 500mm.
</li>
<li>The robot can extended to a dimension of 500mm x 500mm x 500mm 
max (independently) once it crosses the start zone.
</li>
<li>The robots are not allowed to use grippers or actuations which are 
intended to harm the opponent’s robot.
</li>

<li>Robot must not:
<ol>
<li>Emit smoke or fire.</li>
<li>Leak, stain or soil.</li>
<li>Spray, throw or use projectiles.</li>
<li>Jam, shock or electronically interface.</li>
<li>Maximum battery voltage is 12V.</li></ol></li>
</ol>
</div>


<div id="test3" class="col s12">
<h4>Rules</h4>
<h5>GENERAL Rules</h5>
<ol>

<li>All the students enrolled in high school, undergraduate, postgraduate(excluding PhD.) program at any recognized institute (identity card will be checked) are eligible to participate.</li>

<li>A team can consist of a maximum of 6 members.</li>
<li>Each team must declare a name for their team at the time of competition.</li> 
<li>The machines you build will be first checked for size and safety. The machine should not cause electric power breakdowns.</li>
<li>The machine must not contain any combustible, corrosive, or otherwise dangerous materials for safety reasons. No explosive compression or decompression, either internal or external is permitted.</li>
<li>Judges have the right to disqualify any machine whose working mechanism or game strategy is considered hazardous in any way.</li>
<li>In case any kind of dispute arises the judges’ decision will be considered final and binding to all and no argument will be entertained.</li>
</ol>

<h5>Rules</h5>
<ol>
<li>Maximum no. members in a team: 5</li>
<li> No human intervention is allowed in between the race.</li>
<li>Maximum 2 members per team will be allowed to remain close to field 
for operating the robot.</li>
<li>In case of any discrepancy the final decision rests in the hands of 
coordinators.</li>
<li> The competition is aimed at making the game friendly match.</li>
<li>The organizers reserve the right to change any or all of the rules as they 
desire. Changes in the rules as if any will be informed through e-mail or on website.</li>
<li>You have to arrange your own DC power source. It WILL NOT be provided from institute.</li>
<li>Any team found flouting any rules would be automatically disqualified.</li>
<li>At all the times, bots behavior should be non offensive, non destructive and non harmful to humans and track.</li></ol>

<h5>VIOLATION AND DISQUALIFICATION :</h5>
<ol>
<li>During the match, the team members are not allowed to touch the machine or the arena without permission of referee. Failure to do so will lead to disqualification.</li> 

<li>Any kind of damage to the arena will attract disqualification.</li>

<li>The teams will be asked to get ready 15 minutes before the start of their match. If a team is not ready within the stipulated time, they may be disqualified.</li>

<li>In any case, the decision of the judges will be final if they feel that any team is not playing with fair interest.</li>
</ol>
</div>

<div id="test4" class="col s12">
qweqwSSS
</div>
</div>
 
  <style type="text/css">
 .tabs .indicator {
  background-color: black;
 }

 .compt-margin{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

 .tabs .tab a { 
  color: black;
 }

 .tabs .tab a:hover {
  color: grey;
 }
  </style>