<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">Synopsis</a></li>
        <li class="tab col s2"><a href="#test2">Problem Statement</a></li>
        <li class="tab col s2"><a href="#test3">Rules</a></li>
        <li class="tab col s2"><a href="#test4">Register</a></li>
      </ul>
</div></div>

<div class="compt-margin">

<div id="test1" class="col s12">
<div id="event_head">
  <img id="event_img" src="./media/transporter2.png"> 
  <h2 style="margin-top:0px;">Robo War</h2>
</div>
<div class="class">
<p><q>"War does not determine who is right. Only who is left"</q> 

It's not a contest, it's a War. Here is a nice platform for you to show your warrior attitude.<br>

This is not war of evil and God, but for the great techno-minds, who design the robots.</p>
</div>
</div>
</div>
<div id="test2" class="col s12">
<div class="center">
<h4>Problem Statement</h4>
<p>
The challenge is to create a robot (manually controlled / autonomous) whose sole purpose is
to push, throw, flip, drag, or otherwise move your opponent out of the arena within a 
stipulated time. This event aims to test your Robot against another in a field of combat 
where brute strength and cat-like reflexes hold the key to success.</p>
</div>
</div>

<div id="test3" class="col s12">
<h4>Rules</h4>

<h5>TEAM SPECIFICATION :</h5>
<ol>
<li>Any team can participate in Robowar,PLINTH. A team may consist of a maximum of 6 
participants. These participants can be from same or different institutes.</li>

<li>Team Name: Every team must have a name which must be unique. PLINTH reserves the 
right to reject entries from any Team whose name it deems inappropriate, offensive or 
conflicting. Organizers must be notified during if a Team's name has been changed. 

</li><li>Team Representative: Each team must specify their Team Representative (Leader) at 
the time of registration on the website. All important communications between PLINTH 
and the registered teams will be done through their Team Representative.

</li><li>The Team Representatives must submit valid contact details (phone no., email ID etc.) at the time of registration. 
</li></ol>
<h5>Robot Specifications</h5> 
<ol>
<li>The bot should not exceed the dimension 750mm x 750mm x 1000mm (l x b x h) at any 

point during the match. 

</li><li>External device used for control are not included in the size constraint. 

</li><li>The weight of bot should not exceed 60kg , including the weight of pneumatic 

sourse/tanks 

</li><li>The weight of adapters and the remote controller will not be included in this constraint 

Mobility 

</li><li>All robots must have easily visible and controlled mobility in order to compete. 

Methods of mobility include: 

</li><li>Rolling (wheels, tracks or the whole robot). 

</li><li>Walking (linear actuated legs with no rolling or cam operated motion). 

</li><li>Ground effect air cushions (hovercrafts) 

</li><li>Jumping and hopping is NOT allowed. 

</li><li>Flying (airfoil using, helium balloons, ornithopters, etc.) is NOT allowed</li></ol>

<h5>Control Requirements</h5>

<ol>
<li>Bot can be controlled wirelessly or with wires. 

</li><li>In case of wired bot, wires should be stacked into a single unit and should be slack at 

every moment of the competition. 

</li><li>All the robots with wireless control should be able to change frequencies (if required) or 

coded channels to prevent any radio conflicts , it may be changed before the start of the 

match to avoid frequency interference with other teams. 

</li><li>Remote controls available in market can also be used.</li></ol>

<h5>Battery and Power</h5> 
<ol>
<li>The machine can be powered electrically only. Use of an IC engine in any form is not 

allowed. On board batteries must be sealed, immobilized-electrolyte types (such as gel cells, 

lithium, NiCad, NiMH, or dry cells). 

</li><li>The electric voltage between 2 points anywhere in the machine should not be more than 

36V DC at any point of time. 

</li><li>All efforts must be made to protect battery terminals from a direct short and causing a 

battery fire, failure to do so will cause direct disqualification. 

</li><li>Use of damaged, non-leak proof batteries may lead to disqualification. 

</li><li>Special care should be taken to protect the on-board batteries. If judges found that the 

battery is not properly protected, then team will be disqualified immediately. 

</li><li>Change of battery will not be allowed during the match. 

</li><li>Only bots with on board batteries are allowed. It is suggested to have extra battery ready 

and charged up during competition so that on advancing to next level, you don’t have to 

wait or suffer due to uncharged battery. If teams don’t show up on allotted slot, they will 

be disqualified.</li></ol>

<h5>Pneumatics</h5>

<p >Bot can use pressurized non-inflammable gases to actuate pneumatic devices. Maximum 

allowed outlet nozzle pressure is 10 bar. The storage tank and pressure regulators used by 

teams need to be certified, and teams using pneumatics are required to produce 

appropriate safety and security letters at the Registration Desk. Failing to do so will lead to 

direct disqualification.<br>

Participants must be able to indicate cylinder pressure with integrated or temporarily 

fitted pressure gauge.<br>

The maximum pressure in the robot's cylinder should not exceed the rated pressure at any 

point of time.<br>

You must have a safe way of refilling the system and determining the pressure.<br>

Pneumatic systems on board the bot must only employ non-inflammable, non-reactive 

gases (CO2, Nitrogen and air are most common). Particular attention must be given to the 

pressure vessel mounting and armor so that it does not leak even if ruptured. (The terms 

'pressure vessel', 'bottle', and 'source tank' are used interchangeably).<br></p>

<h5>Hydraulics</h5>
<p>
Bots can use non-inflammable liquids to actuate hydraulic devices like pistons or cylinders.<br>

All hydraulic components on-board a bot must be securely mounted. Particular attention 

must be given to the pump, accumulator, mounting and armor to ensure that if ruptured, 

direct fluid streams will not escape the robot.<br>

All hydraulic liquids are required to be non-corrosive, and your robot should be leak-

proof.<br>

Maximum allowed pressure is 10 bars. Participant must be able to indicate the used 

pressure with integrated or temporarily fitted pressure gauge.<br>
</p>

<h5>Weapons Systems</h5>

Robots can have any kind of magnetic weapons, cutters, flippers, saws, lifting devices, 

spinning hammers etc. as weapons with following exceptions and limitations:

<ol>
<li>Liquid projectiles. 

</li><li>Any kind of inflammable liquid. 

</li><li>Flame-based weapons.</li>
</ol>
<h5>Gameplay :</h5> 
<ol>
<li>A robot is declared victorious if its opponent is immobilized.</li>

<li>A robot will be declared immobile if it cannot display linear motion of at least two inches 

in a timed period of 30 seconds.</li>

<li>In case both the robots remain mobile after the end of the round then the winner will be

decided subjectively.</li>

</li><li>A robot that is unsafe, as deemed by the judges, will be disqualified immediately and the 

opponent robot will be declared as the winner.

</li><li> Every match will consist of 3 rounds of 3 min each and each subsequent round will have 

a time gap of 1 min. 

</li><li> If a robot is thrown out of the arena the round will stop immediately, and the robot still 

inside the arena will automatically be declared as the winner of that particular round. 

</li><li> Robots cannot win by merely lifting their opponents. Organizers will allow lifting for a 

maximum of 20 seconds for each lift and then the attacker robot will be instructed to 

release the opponent. If, after being instructed to do so, the attacker is unable to release, 

their robot may be disqualified. 

</li><li> If two or more robots become entangled due to any reason and becomes trapped within 

another robot, then the competitors should make the timekeeper aware and the fight 

should be stopped and the robots should be separated by the safest means. 

</li><li>Points will be given on the basis of aggression, damage, control and strategy.</li></ol>
<br>
<b>Aggression</b> – Aggression is judged by the frequency, severity, boldness and 

effectiveness of attacks deliberately initiated by the robot against its opponent. If a robot 

appears to have accidentally attacked an opponent, that act will not be considered 

Aggression.<br>
<b>Control</b> – Control means a robot is able to attack an opponent at its weakest point, use 

its weapons in the most effective way, and minimize the damage caused by the opponent or 

its weapons.<br>
<b>Damage</b> – Through deliberate action, a robot either directly or indirectly reduces the 
functionality, effectiveness or defensibility of an opponent. Damage is not considered 
relevant if a robot inadvertently harms itself. Also, if a pressure vessel or a rapidly 
spinning device on a robot fragments, any damage to the opponent will not be considered 
"deliberate".<br>
<b>Strategy</b> – The robot exhibits a combat plan that exploits the robot's strengths against 
the weaknesses of its opponent. Strategy is also defined as a robot exhibiting a deliberate 
defense plan that guards its weaknesses against the strengths of the opponent.<br>

<h5>CERTIFICATE POLICY :</h5> 
<ol>
<li>Certificate of appreciation/participation will be awarded to the all teams. And certificate 
of excellence will be given to top three teams.</li>

<li>Disqualified teams will not be considered for any certificates.</li></ol>

</div>

<div id="test4" class="col s12">Test 4

</div>
</div>
  
  <style type="text/css">
 .tabs .indicator {
  background-color: black;
 }

 .tabs .tab a { 
  color: black;
 }

 .tabs .tab a:hover {
  color: grey;
 }
  </style>