<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">Synopsis</a></li>
        <li class="tab col s2"><a href="#test2">Event Description</a></li>
        <li class="tab col s2"><a href="#test3">Rules</a></li>
        <li class="tab col s2"><a href="#test4">Register</a></li>
      </ul>
</div></div>
<div class="compt-margin">

<div id="test1" class="col s12">
<div id="event_head">
  <img id="event_img" src="./media/transporter2.png"> 
  <h2 style="margin-top:0px;">Startup Intern Fair</h2>
</div>
<p>Startup intern fair is a one stop place for getting a chance to do an internship in some of the 

well known and budding startups of the country. Ranging from technical to non-technical 

domain, one can select the internship of their genre, get screened and get a chance to grab 

their favorite internship. SIF aims to provide a hassle free and an aggregated hiring process. 

The time has come to put an end to your impasse and land up in your dream internship..</p>
</div>

<div id="test2" class="col s12">
<h4>Event Description</h4>
<ol>
<li>Event will be conducted at OAT on Sunday of the allotted weekend
</li>
<li>We are aiming for 15-20 start-ups and the crowd from all over Rajasthan and Delhi NCR
</li>
<li>List out the participating start-ups and the internship they are offering
</li>
<li>A form will be rolled out on Plinth website mentioning :
<ul>
<li>Personal Details ( Name, DOB, contact no., email id, College, Year, Branch)</li>

<li>Option to attach resume or email it to us (whatever convenient to the Web </li>

<li>Registration fees: Rs.100 from LNMIIT students and Rs.150 from Non-LNMIIT

team) but we prefer the attach resume option in the form itself

(Online option to be available) .OFFLINE for LNMIIT and colleges in Jaipur which 

is to be collected beforehand latest by 10th January’16.</li></ul></li>

<li>Confirmation mail of participation will be sent to all the candidates by 13th Jan’16 with 

entire schedule of the SIF.</li>

<li>Personal interviews shall be done on the spot. It depends on the start-up if they would 

confirm the hiring on the spot or calls the candidate for an another PI round to their office.</li>

<li>On spot registration will be open/ closed depending on the number of already registered 

candidates.</li>

<li>Prior information to be sent to start-ups about the number of candidates, the domain 

they applied for.</li></ol>
</div>

<div id="test3" class="col s12">
<h4>Genral Rules</h4>
<ol>
<li>One candidate can apply for multiple profiles in multiple start-ups
</li>
<li>Every candidate should carry at least 3 copies of their resume and their college ID
</li>
<li>In case of On spot registration printed forms will be available and the candidates have 
to fill those forms and sit for the PI at their mentioned start up
</li>
</ol>

</div>

<div id="test4" class="col s12">
<h5>For any query</h5>
Sumit Sapra : +91-97827-99066 
<br>
Parul Chhabra : +9188750-63000
<br>
email :  startupinternfair.plinth@gmail.com

<div class="center">
<a href="https://plinth.typeform.com/to/AapZRM" target="_blank" class="waves-effect waves-light btn" style="background-color:#F44336; margin-top:100px;"> Register for SIF</a>
</div>
</div>
</div>
  
  <style type="text/css">
 .tabs .indicator {
  background-color: black;
 }

 .tabs .tab a {
  color: black;
 }

 .tabs .tab a:hover {
  color: grey;
 }
  </style>