  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">Synopsis</a></li>
        <li class="tab col s2"><a href="#test2">Rules</a></li>
        <li class="tab col s2"><a href="#test3">Problem Statement</a></li>
        <li class="tab col s2"><a href="#test4">Register</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
<div id="event_head">
  <img id="event_img" src="./media/transporter2.png"> 
  <h2 style="margin-top:0px;">TRANSPORTER</h2>
</div>
<p>People look up to their TV screens in utter awe when Kashmir endured numerous assaults on its various places. Many lost their homes, their loved ones and many lost their lives. Nature once again proved that the whole humanity is but a species on the mercy of a gargantuan force far beyond its reach.<br><br> 
Humans realize the true destructive power of nature. It’s time to prepare ourselves for another such event is at our doorstep. The task is mammoth and the time is minimal. Here is our arena resembling the ruins of Kashmir flood.</p>

</div>
    <div id="test2" class="col s12">
<h4>GENERAL RULES</h4>
<ol>
<li>All the students enrolled in high school, undergraduate, postgraduate (excluding PhD.) program at any recognised institute (identity card will be checked) are eligible to participate.</li>
<li>A team can consist of a maximum of 6 members.</li>
<li>Each team must declare a name for their team at the time of competition.</li>
<li>The machines you build will be first checked for size and safety. The machine should not cause electric power breakdowns.</li>
<li>The machine must not contain any combustible, corrosive, or otherwise dangerous materials for safety reasons. No explosive compression or decompression, either internal or external is permitted.</li>
<li>Judges have the right to disqualify any machine whose working mechanism or game strategy is considered hazardous in any way.</li></ol>

    </div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
  </div>

  
  <style type="text/css">
 .tabs .indicator {
  background-color: black;
 }

 .tabs .tab a {
  color: black;
 }

 .tabs .tab a:hover {
  color: grey;
 }
  </style>