<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">Synopsis</a></li>
        <li class="tab col s2"><a href="#test2">Problem Statement</a></li>
        <li class="tab col s2"><a href="#test3">Rules</a></li>
        <li class="tab col s2"><a href="#test4">Register</a></li>
      </ul>
</div></div>

<div id="test1" class="col s12">
<div id="event_head">
  <img id="event_img" src="./media/transporter2.png"> 
  <h2 style="margin-top:0px;">Turn Coat</h2>
</div>
<p>An event where you compete with others by competing with yourself. Given a motion, the participant must support and then oppose it in the course of his/her speech. Can you prove something right, and then prove it wrong then and there, with the same credence? Can you show both the faces of a coin with equal certainity?Come and join this one of a kind debate to find out.</p>
</div>

<div id="test2" class="col s12">
<h4>Problem Statement</h4>


<h5>Format</h5>
<ol>
<li>It is an individual event.</li>
<li>The speakers will have 3 minutes as speaking time.</li>
<li>The switch over between the two parts must be smooth and
fluid.</li>
<li>The speaker can choose either English or Hindi as a
medium.</li>
<li>The motions will be closed and not open to any
interpretation.</li>
<li>All the motions will be given on the spot. Preparation time of
15 minutes will be given.</li>
</ol>
</div>

<div id="test3" class="col s12">
<h4>Rules</h4>
<ol>
<li>Organizer is the boss and the boss is always right.</li>
<li>Exceeding the time limits will result in penalties.</li>
<li>No external help like internet is allowed during the event.</li>
</ol>
</div>

<div id="test4" class="col s12">Test 4

</div>

  
  <style type="text/css">
 .tabs .indicator {
  background-color: black;
 }

 .tabs .tab a {
  color: black;
 }

 .tabs .tab a:hover {
  color: grey;
 }
  </style>