#bottom_strip{
	display: none;
	position: fixed;
	bottom: 0px;
	left: 2%;
	height: 15%;
	background-color: black;
	width: 96%;
	z-index: 9;
}

#bottom_strip>img{
	height: 87%;
	width: 100px;
	margin: 10px 5px;
	padding: 2px;
	border-radius: 3px;
	cursor: pointer;
}
#overlay{
	/*border :1px solid green;*/
	position: fixed;
	width: 100%;
	background-color:#000;
	opacity: 0.9;
	filter : alpha(opacity=60);
	height: 100%;
	top: 0px	;
	left:0px;
	display: none;
	z-index: 5;
	
}

#img_container{
	background: transparent;
	display: inline;
	text-align: center;
	position: fixed;
	z-index: 9;
	/*border:1px solid red;*/

}

#img_container>img{
	width: 100%;
	height: 100%;
}


#left,#right{
	display: none;
	/*border:1px solid red;*/
	position: fixed;
	top: 45%;
	z-index: 99999;
}

#left{
	left: 5%;
}

#right{
	right: 5%;
}

#close_btn{
	display: none;
	position: fixed;
	top: 4%;
	right: 4%;
	z-index: 9999;
}

.fa{
	color: white;
}