<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IUPC | Plinth'17</title>
        <script src="https://use.fontawesome.com/8720ae4a19.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/robotics.css" />
    </head>
    <body>

        <nav>
            <div class="header-logo">
                <a href="index.html"><img src="media/logo.svg"/></a>
            </div>
            <button class="ham-btn"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></button>
            <div class="ham-wrapper">
                <div class="ham-content text-center">
                    <button class="ham-close"><span>X</span></button>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="competitions.html">Competitions</a></li>
                        <li><a href="#">Workshops</a></li>
                        <li><a href="#">Lectures</a></li>
                        <li><a href="#">The LNMIIT MUN</a></li>
                        <li><a href="#">Hackathon</a></li>
                    </ul>
                </div>
            </div>
            <div class="navitem text-right">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="competitions.html">Competitions</a></li>
                    <li><a href="#">Workshops</a></li>
                    <li><a href="#">Lectures</a></li>
                    <li><a href="#">The LNMIIT MUN</a></li>
                    <li><a href="#">Hackathon</a></li>
                </ul>
            </div>
        </nav>

        <div class="content">
            <div class="row">
                <div class="small-10 small-centered text-center columns">
                    <h4>Coding</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="row">
<!--                    gray circle-->
                    <div class="small-7 small-push-4 medium-5 large-4 large-push-3 columns">
                        <div class="dp-image">

                        </div>
                    </div>
                    <div class="small-10 medium-5 large-5 large-pull-1 columns">
                        <div class="details">
                            <span class="title-workshop">IUPC</span>
                            <br />
                            <br />
                            <span>Date : 22<sup>nd</sup> Jan 2016</span>
                            <br />
                            <span>Venue : The LNMIIT, Jaipur </span>
                            <br />
                            <br />
                            <ul>
                                <li><a href="#" class="reg-btn">Register ></a></li>
                                <li><a href="#">Make Payment ></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        registeration form modal-->
        <div class="wrapper-form">
            <div class="reg-form">
                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>Name</label>
                </div>

                <div class="radio-sex">
                    <span class="reg-sex-h">Gender</span>
                    <div class="reg-sex">
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload1"   name="sex" value="male" />
                          <label for="radioWorkload1"><span></span>Male</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload2"   name="sex" value="female" />
                          <label for="radioWorkload2"><span></span>Female</label>
                        </span>
                    </div>
                </div>

                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>Phone Number</label>
                </div>
                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>Email</label>
                </div>
                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>College</label>
                </div>
                <div class="radio-year">
                    <span class="reg-sex-h">Year</span>
                    <div class="reg-sex">
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload3"   name="year" value="1" />
                          <label for="radioWorkload3"><span></span>1</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload4"   name="year" value="2" />
                          <label for="radioWorkload4"><span></span>2</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload5"   name="year" value="3" />
                          <label for="radioWorkload5"><span></span>3</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload6"   name="year" value="4" />
                          <label for="radioWorkload6"><span></span>4</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload7"   name="year" value="5" />
                          <label for="radioWorkload7"><span></span>5</label>
                        </span>
                    </div>
                </div>
                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>City</label>
                </div>
                <div class="radio-acc">
                    <span class="reg-acc-h">Accomodation</span>
                    <div class="reg-acc">
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload8"   name="acc" value="yes" />
                          <label for="radioWorkload8"><span></span>Yes</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload9"   name="acc" value="no" />
                          <label for="radioWorkload9"><span></span>No</label>
                        </span>
                    </div>
                </div>

                <div class="add-memb">
                    <a class="add" href="javascript:void(0)">+ Add Member</a>
                </div>

                <div class="btn">
                    <a class="btn-register" href="javascript:void(0)">Register</a>
                </div>

                <div class="reg-social">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Register With Facebook</a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>Register With Google</a></li>
                    </ul>
                </div>
            </div>
        </div>




          <div class="card">
              <div class="row">
                  <div class="small-4 small-offset-1 columns">
                      <div class="card-img">
                      </div>
                  </div>
                  <div class="small-6 columns end">
                      <div class="prize">
                      <span>Prize Worth</span>
                      <br />
                      <span>INR. 30,000</span>
                      </div>
                  </div>
              </div>
          </div>



        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="tab-wrapper">
                    <ul class="tab">
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Synopsis')" id="defaultOpen">Synopsis</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'EventDesc')">Event Description</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Rules')">Rules</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Judges')">Judges</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Mentors')">Mentors</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Sponsors')">Sponsors</a></li>
                    </ul>

                    <ul class="drop-tab">
                        <a><i class="fa fa-chevron-down fa-lg drop-toggle" aria-hidden="true"></i></a>
                        <div class="drop-content-wrapper">
                          <ul class="drop-content">
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Synopsis')" id="defaultOpen">Synopsis</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'EventDesc')">Event Description</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Rules')">Rules</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Judges')">Judges</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Mentors')">Mentors</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Sponsors')">Sponsors</a></li>
                          </ul>
                        </div>
                    </ul>

                    <div class="big-wrapper">
                        <div class="wrapper">
                    <div id="Synopsis" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Synopsis</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <p>See logic in everything around you? Is your daily grammar a 'SYNTAX'? 
                                Algorithms and flow charts cloud your brain? Love to solve new and challenging problems?
                                Then you should not miss out on IUPC the Inter University Programming Contest... go and Code the Code...!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="EventDesc" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Event Description</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                This national level programming contest shall assess the intelligence through various rounds: First round will be held online followed by further onsite rounds which will be held during Plinth'17.
                                <ul>
                                    <li>Platform: HackerEarth</li>
                                    <li>Contest Durations: 3 Hours</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="Rules" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Rules</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <p><b>Registration Rules </b>
                                <ol>
                                    <li>Team with maximum of 3 members is allowed.</li>
                                    <li>All the members should be of same college.</li>
                                    <li>One of the team member has to register on HackerEarth and should have a valid username for participation.</li>
                                    <li>Team lead should have a valid HackerEarth handle. All submissions should be made from this handle only.</li>
                                    <li>To claim prize you need to be registered here.</li>
                                    <li>Selected teams will be called for onsite round(s) to be held during Plinth'17.</li>
                                    <li>Only the teams which participate in onsite rounds are eligible for prizes.</li>
                                </ol></p>
                                <p><b>Contest Rules </b>
                                <ol>
                                    <li>For the programming questions in the test, you need to choose one language from the given list and attempt.</li>
                                    <li>All inputs for the programming problem are from STDIN and output to STDOUT.</li>
                                    <li>Programming questions have a 'Compile and Test' option where you can run your solution against sample test cases, before submitting.</li>
                                    <li>You can submit a solution for a programming problem as many times as you want.</li>
                                    <li>The questions will be marked with the language in which solution is expected.</li>
                                    <li>The solutions will be judged on the relative basis.</li>
                                    <li>Time Limit Exceed might also mean that there is a syntax in your source code.</li>
                                </ol></p>
                            </div>
                        </div>
                    </div>

                    <div id="Judges" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Judges</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <p>Leaderboard from HackerEarth will be considered for selecting winners, however in case of any conflicts the decision of the organizers in declaring the results will be final. No queries in this regard will be entertained.</p>
                                <p><b>Judging Criteria </b>
                                <ol>
                                    <li>Different problems have different points based on their relative difficulty level.</li>
                                    <li>Participants are ranked according to the most problems solved. Ties will be broken by the total time for each user in ascending order of time.</li>
                                    <li>The decision of the organizers in declaring the results will be final. No queries in this regard will be entertained.</li>
                                    <li>Any participant found to be indulging in any form of malpractice or plagiarism will be immediately disqualified.</li>
                                    <li>The total time is the sum of the time consumed for each problem solved. The time consumed for a solved problem is the time elapsed from the beginning of the contest to the submission of the first accepted run plus 20 penalty minutes for every previously rejected run for that problem (Wrong answer, Time limit exceeded, Runtime Error, Compilation Error). There is no time consumed for a problem that is not solved.</li>
                                </ol></p>
                            </div>
                        </div>
                    </div>

                    <div id="Mentors" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Mentors</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <p>For any Query:<p>
                                Pranay Pandey: pranay.pnd@gmail.com | +917073211971, Satyam Shubham: satyam.shubh3@gmail.com | +919431040039
                            </div>
                        </div>
                    </div>

                    <div id="Sponsors" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Sponsors</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in lorem nisl. Sed vitae sodales odio. Pellentesque ac convallis purus. Nam ut.</p>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <footer>
            <div class="row social-wrapper">
                <div class="small-12 small-centered column text-center social">
                    <ul>
                        <li><a href="https://www.facebook.com/Plinth.LNMIIT/" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/PlinthLNMIIT" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
                        <li><a href="https://plus.google.com/+PLINTHLNMIIT/posts" target="_blank"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-youtube-play fa-lg" aria-hidden="true" ></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row footer-wrapper footer-posi">
                <div class="small-12 small-centered column text-center footer-text">
                    <ul>
                        <a href="about.html"><li>About Us</li></a>
                        <a href="sponsors.html"><li>Sponsors</li></a>
                        <a href="#"><li>Our Team</li></a>
                        <a href="faq.html"><li>FAQs</li></a>
                        <a href="contactUs.html"><li>Contact Us</li></a>
                    </ul>
                </div>
            </div>
        </footer>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/tab.js"></script>
        <script src="../js/reg-form.js"></script>

    </body>
</html>
