<!doctype html>
<html class="no-js" lang="en">
    <head>
        <% include ../../partials/parent/head %>
        <link rel="stylesheet" href="css/parent/work-detail.css">
    </head>
    <body>
        <section class="footer-adjust">
            <% include ../../partials/parent/nav %>
            <div class="row">
                <div class="column small-12 text-center">
                    <h3 class="raleway weight-medium work-detail-set-heading">Event Graphia (Dropped Project)</h3>
                    <p>Design and Developed</p>
                </div>
                <div class="column small-10 medium-5 small-centered text-center">
                    <img src= "media/parent/images/work-detail/event-graphia-new/main.png" alt="Representational Image">
                </div>
                <div class="column small-12 text-center">
                    <!-- <a class="hollow button resume-button roboto fix-width" href="/work/plinth">Website</a> -->
                    <a class="hollow button resume-button roboto fix-width" href="https://github.com/jainmukul/EventGraphia_Dropped" target="_blank">Github</a>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">About</h3>
                    <p class="roboto">
                        Event Graphia is an India's Largest Event Photography company. My responsibility was to develop and design Front-End for a platform where users where the can book a photographer for their event through an online calendar, view different photographer and go through their work and where Photographers can find work and showcase their work.</p>
                    <p class="roboto">
                        This was my first AngularJS work and is totally messed up, as API’s are not working anymore, the website is not functioning anymore.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">Technical Sheet</h3>
                    <p class="roboto">
                        <b>Front-End:</b><br>
                        HTML • CSS • JS• AngularJS • jQuery • Materializecss<br>
                    </p>
                </div>
            </div>

            <!-- <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">Features</h3>
                    <ul>
                        <li>User Registration (Social login using Facebook or Google)</li>
                        <li>User Event Registration.</li>
                        <li>Event Payment.</li>
                        <li>Cryptex - Online Quiz.</li>
                        <li>Live Event Details Edit.</li>
                        <li>List of Registered user for every particular event including his all important details.</li>
                        <li>Responsive.</li>
                    </ul>
                </div>
            </div> -->
<!--
            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">Visual</h3>
                    <div class="row">
                        <div class="column small-10 medium-4 small-centered medium-uncentered">
                            <img class="" src="1.jpg" />
                        </div>
                    </div>
                </div>
            </div> -->

        </section>
        <% include ../../partials/parent/footer %>
    </body>
</html>
