<!doctype html>
<html class="no-js" lang="en">
    <head>
        <% include ../../partials/parent/head %>
        <link rel="stylesheet" href="css/parent/work-detail.css">
    </head>
    <body>
        <section class="footer-adjust">
            <% include ../../partials/parent/nav %>
            <div class="row">
                <div class="column small-12 text-center">
                    <h3 class="raleway weight-medium work-detail-set-heading">Event Graphia</h3>
                    <p>Developed</p>
                </div>
                <div class="column small-10 medium-5 small-centered text-center">
                    <img src= "media/parent/images/work-detail/event-graphia-old/main.png" alt="Event Graphia Representational Image" />
                </div>
                <div class="column small-12 text-center">
                    <a class="hollow button resume-button roboto fix-width" target="_blank" href="http://eventgraphia.com">Website</a>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">About</h3>
                    <p class="roboto">
                        Event Graphia is an India's Largest Event Photography company. My responsibility was to tweak a template according to requirement and develop few web forms.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">Technical Sheet</h3>
                    <p class="roboto">
                        <b>Front-End:</b><br>
                        HTML • CSS • JS • BootStrap<br>
                    </p>
                </div>
            </div>


        </section>
        <% include ../../partials/parent/footer %>
    </body>
</html>
