<!doctype html>
<html class="no-js" lang="en">
    <head>
        <% include ../../partials/parent/head %>
        <link rel="stylesheet" href="css/parent/work-detail.css">
    </head>
    <body>
        <section class="footer-adjust">
            <% include ../../partials/parent/nav %>
            <div class="row">
                <div class="column small-12 text-center">
                    <h3 class="raleway weight-medium work-detail-set-heading">Flash (Chatbot)</h3>
                    <p>Developed</p>
                </div>
                <div class="column small-10 medium-5 small-centered text-center">
                    <img src= "media/parent/images/work-detail/flash/main.png" alt="Flash Representational Image">
                </div>
                <div class="column small-12 text-center">
                    <a class="hollow button resume-button roboto fix-width" href="https://www.youtube.com/watch?v=qAhkqu-n1V8&t=296s" target="_blank">Website</a>
                    <a class="hollow button resume-button roboto fix-width" href="https://github.com/jainmukul/flash_an_interactive_chatbot" target="_blank">Github</a>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">About</h3>
                    <p class="roboto">
                        Flash is an Intelligence chatbot which I created for learning purpose. Flash is similar to A.L.I.C.E, the difference is you don't have to type anymore just talk with a press of hotkeys, It can talk with a user on depending what database it have, answering questions like "Distances of Moon from Earth" is an easy task for flash. Watch video Demo on <a href="https://www.youtube.com/watch?v=qAhkqu-n1V8&t=296s" target="_blank">Youtube.</a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">Technical Sheet</h3>
                    <p class="roboto">
                        Python • Bash • AIML
                    </p>
                </div>
            </div>

        </section>
        <% include ../../partials/parent/footer %>
    </body>
</html>
