<!doctype html>
<html class="no-js" lang="en">
    <head>
        <% include ../../partials/parent/head %>
        <link rel="stylesheet" href="css/parent/work-detail.css">
    </head>
    <body>
        <section class="footer-adjust">
            <% include ../../partials/parent/nav %>
            <div class="row">
                <div class="column small-12 text-center">
                    <h3 class="raleway weight-medium work-detail-set-heading">Plinth 2016</h3>
                    <p>Developed</p>
                </div>
                <div class="column small-10 medium-5 small-centered text-center">
                    <img src= "media/parent/images/work-detail/plinth-2016/main.png" alt="Plinth 2016 representational image">
                </div>
                <div class="column small-12 text-center">
                    <a class="hollow button resume-button roboto fix-width" href="/website/plinth-2016" target="_blank">Website</a>
                    <a class="hollow button resume-button roboto fix-width" href="https://github.com/jainmukul/plinth2016" target="_blank">Github</a>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">About</h3>
                    <p class="roboto">
                        The plinth is a Techno Management Literary Fest which held every year in The LNMIIT, Jaipur, India.</p>
                        <p class="roboto">This fest is organised by the Student body. My sole contribution in this fest was to provide an online platform through which various participant from various other institutions can access information regarding various competitions, workshops, lectures series and can register and pay for the event.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">Technical Sheet</h3>
                    <p class="roboto">
                        <b>Front-End:</b><br>
                        HTML • CSS • JS • Materializcss • AngularJS<br>
                    </p>
                </div>
            </div>


        </section>
        <% include ../../partials/parent/footer %>
        <!-- <script src="js/parent/work.js"></script> -->
    </body>
</html>
