<!doctype html>
<html class="no-js" lang="en">
    <head>
        <% include ../../partials/parent/head %>
        <link rel="stylesheet" href="css/parent/work-detail.css">
    </head>
    <body>
        <section class="footer-adjust">
            <% include ../../partials/parent/nav %>
            <div class="row">
                <div class="column small-12 text-center">
                    <h3 class="raleway weight-medium work-detail-set-heading">Plinth 2017</h3>
                    <p>Design and Developed</p>
                </div>
                <div class="column small-10 medium-5 small-centered text-center">
                    <img src= "media/parent/images/work-detail/plinth/main.png" alt="Plinth 2017 Representational images">
                </div>
                <div class="column small-12 text-center">
                    <a class="hollow button resume-button roboto fix-width" href="https://139.59.56.210" target="_blank">Website</a>
                    <a class="hollow button resume-button roboto fix-width" href="https://github.com/jainmukul/plinth_2k17" target="_blank">Github</a>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">About</h3>
                    <p class="roboto">
                        The Plinth is a Techno Management Literary Fest which held every year in The LNMIIT, Jaipur, India.
                        This fest is organised by the Student body. My sole contribution in this fest was to design and to provide an online platform through which various participant from various other institutions can access information regarding various competitions, workshops, lectures series and can register and pay for the event.</p>
                    <p class="roboto">
                        Our Aim was to keep things simple as possible in every respect and Mobile ready to provide the best experience everywhere. To enable one-click payment for the events and saving the user from filling two forms(one at ticketing website), we also integrated Paytm payment gateway.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">Technical Sheet</h3>
                    <p class="roboto">
                        <b>Front-End:</b><br>
                        HTML • CSS • JS • Foundation •jQuery • EJS Templating<br>
                        <b>Back-End:</b><br>
                        NodeJS • ExpressJS • MongoDB<br>
                        <b>Tools:</b><br>
                        Sketch
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">Features</h3>
                    <ul>
                        <li>User Registration (Social login using Facebook or Google)</li>
                        <li>User Event Registration.</li>
                        <li>Event Payment.</li>
                        <li>Cryptex - Online Quiz.</li>
                        <li>Live Event Details Edit.</li>
                        <li>List of Registered user for every particular event including his all important details.</li>
                        <li>Responsive.</li>
                    </ul>
                </div>
            </div>
<!--
            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">Visual</h3>
                    <div class="row">
                        <div class="column small-10 medium-4 small-centered medium-uncentered">
                            <img class="" src="1.jpg" />
                        </div>
                    </div>
                </div>
            </div> -->

        </section>
        <% include ../../partials/parent/footer %>
        <!-- <script src="js/parent/work.js"></script> -->
    </body>
</html>
