<!doctype html>
<html class="no-js" lang="en">
    <head>
        <% include ../../partials/parent/head %>
        <link rel="stylesheet" href="css/parent/work-detail.css">
    </head>
    <body>
        <section class="footer-adjust">
            <% include ../../partials/parent/nav %>
            <div class="row">
                <div class="column small-12 text-center">
                    <h3 class="raleway weight-medium work-detail-set-heading">Time Spread</h3>
                    <p>Design and Developed</p>
                </div>
                <div class="column small-10 medium-5 small-centered text-center">
                    <img src= "media/parent/images/work-detail/timespread/main.png" alt="Time Spread Android app representational image">
                </div>
                <div class="column small-12 text-center">
                    <!-- <a class="hollow button resume-button roboto fix-width" href="/work/plinth">Website</a> -->
                    <a class="hollow button resume-button roboto fix-width" href="https://github.com/jainmukul/timespread" target="_blank">Github</a>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">About</h3>
                    <p class="roboto">
                        Time Spread is a personal assistant for students at the different university. The aim was to provide every detail like class timing, lunch breaks, bus schedule and meetings at one place, So user don’t have to open a different app to check any of those, moreover user can set reminder for any event and can choose his/her favourite dish, class or bus timing to receive alert every time.
                    </p>
                        <p class="roboto">This was our project for the Software Engineering Course. My Contribution was App mockups and develop and host API’s to support Android App.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">Technical Sheet</h3>
                    <p class="roboto">
                        <b>Back-End:</b><br>
                        NodeJS • ExpressJS • MongoDB<br>
                        <b>Tools:</b><br>
                        Sketch
                    </p>
                </div>
            </div>

            <!-- <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">Features</h3>
                    <ul>
                        <li>User Registration (Social login using Facebook or Google)</li>
                        <li>User Event Registration.</li>
                        <li>Event Payment.</li>
                        <li>Cryptex - Online Quiz.</li>
                        <li>Live Event Details Edit.</li>
                        <li>List of Registered user for every particular event including his all important details.</li>
                        <li>Responsive.</li>
                    </ul>
                </div>
            </div> -->
<!--
            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">Visual</h3>
                    <div class="row">
                        <div class="column small-10 medium-4 small-centered medium-uncentered">
                            <img class="" src="1.jpg" />
                        </div>
                    </div>
                </div>
            </div> -->

        </section>
        <% include ../../partials/parent/footer %>
        <!-- <script src="js/parent/work.js"></script> -->
    </body>
</html>
