<!doctype html>
<html class="no-js" lang="en">
    <head>
        <% include ../../partials/parent/head %>
        <link rel="stylesheet" href="css/parent/work-detail.css">
    </head>
    <body>
        <section class="footer-adjust">
            <% include ../../partials/parent/nav %>
            <div class="row">
                <div class="column small-12 text-center">
                    <h3 class="raleway weight-medium work-detail-set-heading">Zento (JS Gallery)</h3>
                    <p>Developed</p>
                </div>
                <div class="column small-10 medium-5 small-centered text-center">
                    <img src= "media/parent/images/work-detail/zento/main.png" alt="Zento Representational Image">
                </div>
                <div class="column small-12 text-center">
                    <!-- <a class="hollow button resume-button roboto fix-width" href="/work/plinth">Website</a> -->
                    <a class="hollow button resume-button roboto fix-width" href="https://github.com/jainmukul/zento" target="_blank">Github</a>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">About</h3>
                    <p class="roboto">
                        I developed Zento when I was developing Event Graphia, It was required to open a different picture slide show related to that thumbnail every time a thumbnail is clicked. There were many galleries available but none of them was suiting requirement, if they were it needed to write a lot of code for the implementation, which would have increased the load, so to minimise everything I created Zento, which was again used in Plinth 2016 teaser gallery, as it is vanilla JavaScript there very fewer chances it will conflict or version dependency.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">Technical Sheet</h3>
                    <p class="roboto">
                        JS
                    </p>
                </div>
            </div>

            <!-- <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">Features</h3>
                    <ul>
                        <li>User Registration (Social login using Facebook or Google)</li>
                        <li>User Event Registration.</li>
                        <li>Event Payment.</li>
                        <li>Cryptex - Online Quiz.</li>
                        <li>Live Event Details Edit.</li>
                        <li>List of Registered user for every particular event including his all important details.</li>
                        <li>Responsive.</li>
                    </ul>
                </div>
            </div> -->

        </section>
        <% include ../../partials/parent/footer %>
    </body>
</html>
