/*Drop-down menu costumization*/

.event_menu{
	float: left;
}

/*drop-down menu item */
.select-dropdown{
	border-bottom: 0px !important;
	margin-top: 64px;
	width: 200px !important;
}
/*the sign which comes with dropdown*/
.select-wrapper span.caret{
	display: none;
}

/*whole dropdown menu*/
.select-wrapper input.select-dropdown{
	padding: 10px 0px 10px 15px;
	font-size: 2rem;
	font-weight: 500;
}

/*for dropdown color*/
.dropdown-content li > span{
	color: grey;
}

/*Drop-down menu costumization Ends*/

#event_head_head{
	float: left;
	font-size: 2rem;
	font-weight: 500;	
}