nav{
	background-color: rgba(0,0,0,0); 
}

nav>ul>li{
	color: black;
}


.events_menu{
	position: fixed;
	width: 200px;
	height: 100%;
	background-color: white;
	top: 0px;
	padding: 0px !important;
}

.events_menu>ul{
	margin-top: 64px;
}
	
.events_menu>ul>a>li{
	padding: 10px 0px !important;
	padding-left: 20px !important;
	border:1px solid white;
	font-size: 16px;
	font-weight: 500;
	color: grey;
	padding: 4px 0px;
}
.events_menu>ul>a>li:hover{
	background-color: #DDD;
}

.view_div{
	/*border: 1px solid blue;*/
	width: calc(100%-200px);
	height: 100%;
	margin-top: -64px;
	margin-left: 200px;
	padding-top: 64px;
}

#event_head{
	text-align: center;	
}
}
#event_img{
	border: 1px solid red;
	width: 100px;
	height: 100px;
}







.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}


.compt-margin{
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}