<h4 class="center">Categories :</h4>

<div class="category-image">
<div class="row">
    <div class="photo-cat">
      <div class="material-placeholder center"><img class="materialboxed responsive-img z-depth-2 " data-caption="The 100" src="./media/images/100xp.jpg">
      <a ng-click="categorySelected(1)" id="bookNow">Book Now</a>
      <a href="##" id="explore">Explore</a>
      </div>
      <h5 class="center"><a href="https://www.100xp.io/" target="_blank">The 100</a></h5>
    </div>
    <div class="photo-cat">
      <div class="material-placeholder center"><img class="materialboxed responsive-img z-depth-2 " data-caption="DLSU Hacker Cup" src="./media/images/dlsuhackercup.jpg">
      <a ng-click="categorySelected(2)" id="bookNow">Book Now</a>
      <a href="##" id="explore">Explore</a>
      </div>
      <h5 class="center"><a href="http://www.hackercup.co/" target="_blank">DLSU Cup</a></h5>
    </div>
    <div class="photo-cat">
      <div class="material-placeholder center"><img class="materialboxed responsive-img z-depth-2 " data-caption="Gaggle Mail" src="./media/images/gaggle.jpg">
      <a ng-click="categorySelected(3)" id="bookNow">Book Now</a>
      <a href="##" id="explore">Explore</a>
      </div>
      <h5 class="center"><a href="http://gaggle.email/" target="_blank">Gaggle Mail</a></h5>
    </div>
  <!-- </div>

  <div class="row"> -->
    <div class="photo-cat">
      <div class="material-placeholder center"><img class="materialboxed responsive-img z-depth-2 " data-caption="Fedora Indonesia" src="./media/images/fedora.png">
      <a ng-click="categorySelected(4)" id="bookNow">Book Now</a>
      <a href="##" id="explore">Explore</a>
      </div>
      <h5 class="center"><a href="http://fedora.or.id/" target="_blank">Fedora Indonesia</a></h5>
    </div>
    <div class="photo-cat">
      <div class="material-placeholder center"><img class="materialboxed responsive-img z-depth-2 " data-caption="Emerald" src="./media/images/emerald.jpg">
      <a ng-click="categorySelected(5)" id="bookNow">Book Now</a>
      <a href="##" id="explore">Explore</a>
      </div>
      <h5 class="center"><a href="http://emerald.sekizgen.net/" target="_blank">Emerald</a></h5>
    </div>
    <div class="photo-cat">
      <div class="material-placeholder center"><img class="materialboxed responsive-img z-depth-2 " data-caption="Caliber" src="./media/images/caliber.png">
      <a ng-click="categorySelected(6)" id="bookNow">Book Now</a>
      <a href="##" id="explore">Explore</a>	
      </div>
      <h5 class="center"><a href="http://jumpcatch.com/srinivasan/caliber/" target="_blank">Caliber</a></h5>
    </div>
  </div>
  </div>


<style type="text/css">
	.photo-cat{
		width: 250px;
		margin-right: 5px;
		float: left;
	}
	.photo-cat>h5{
		position: relative;
		top: -22px;
	}

	#explore,#bookNow{
		position: relative;
		top: -26px;
		color: white;
		border:2px solid white;
		padding: 2px;
		opacity: .7;
	}
	#explore:hover,#bookNow:hover{
		opacity: 1;
	}

</style>