<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">Synopsis</a></li>
        <li class="tab col s2"><a href="#test2">Event Description</a></li>
        <li class="tab col s2"><a href="#test3">Rules</a></li>
        <li class="tab col s2"><a href="#test4">Register</a></li>
      </ul>
</div></div>

<div class="compt-margin">
<div id="test1" class="col s12">
<div id="event_head">
  <img id="event_img"  src="./media/bplan.png"> 
  <h2 style="margin-top:0px;">Negotio - Live Crowd Funding</h2>
</div>

<p>Let us to introduce you to "Negotio-The Live Crowd Funding" , the official 'B-Plan competition' cum 'the live crowd funding event' of The LNM Institute of Technology, Jaipur. From recognition of a budding idea to drafting a B-Model to pitching in front of an esteemed panel of investors, Negotio's aim is to emulate the process of the growth of ideas towards a full-fledged startups accompanied by little help through funding made by the live present audience.<br><br>

Considering the needful requirements of the Minds in spectator ship , there is a promise stated for a 360 degree, holistic experience in the one month period that it spans. Negotio not only  serves as a launch pad for budding ideas but is moved to be recognized as a platform for intensive learning of the entrepreneurial ecosystem by interactions and mentor-ship from the leaders of the field of specialization.<br><br>

Other than the traditional B-Plan competitions , This Crowd-Pitch event deals with an extra cutting-edge section introduced for the sake of a differentiation , freshness and a whole new exciting experience for both the pitchers and the audience. People entering the event premises , are required to pay Rs.200 and take over a "Funding-Voucher". For the purpose of clarity , There is a need to state that this money is not the fees to the event organizers , But this will be wholly provided to each individual's favorite start-up. Thus , they will be presenting their appreciation and feedback through the mode of this "Funding-Voucher".In return they get excellent networking opportunity with some of the well known entrepreneurial minds of India along with a chance to watch the live pitches of some of the best startups of India.</p>

</div>

<div id="test2" class="col s12 center">
<h4>Event Description</h4>

<h5>Round 1 :</h5>
<p>In this Round teams will have to submit a written document describing the problem being solved and a brief summary of the idea .
The teams will be judged by the panel of mentors and the shortlisted teams will then be eligible for the 2nd round.<br><br>
Last day to apply is <b>5th Jan 2015</b></p>

<h5>Round 2 :</h5>
<p>Among'st all the startups entries received top 25 startups would be asked to present a Business model canvas about the idea within 7 days. During this period the top 25 startups will get extensive online mentoring support from elite panel of mentors of IvyCamp & Inspidate so as to furnish and polish their idea to create the perfect canvas.</p>
<h5>Round 3:</h5>
<p>A total of 10 entries would be shortlisted and these winners from the second round will be invited to LNMIIT campus for the final pitching round in front of investors , accelerators, incubators and idea backers.
<br>
Final round will comprise of presentation and Q-n-A with judges and representatives from funding agencies and incubator organizations.

<br>
Top two teams will be selected as winners and runners-up respectively from this round and will be provided with cash prize and many other kind of incentives.	</p>
</div>

<div id="test3" class="col s12">
<h4>Genral Rules</h4>
<ol>
<li>Participants are required to register and submit their questionnaire/ business model online.
</li><li> A team can have one or more members with a maximum of 4 members in a team.
'Startup Name' cannot be changed over the course of the competition. It should be used for any future correspondence or queries.</li>
<li>A team can submit more than one business model/idea but in doing so, it must submit separately for each submission. The same email-id and/or startup name cannot be used for doing so.</li>
<li>Every contestant must agree with the rules of the contest and must accept the declaration of confidentiality during submission in order to participate.
</li><li> Team who fail to comply to the deadline of submission of B-plan or further details beforehand would be disqualified.</li><li>
No startup older than 2-years would be allowed to participate.
</li>
</ol>

</div>

<div id="test4" class="col s12">
For any query :<br><br>
Akhilesh Maheshwari : ak2maheshwari@gmail.com | 9772565365<br>
Guarav Maheshwari : gmaheshwari26@gmail.com | 7597023883

<div class="center">
<a target="_blank" href="https://docs.google.com/forms/d/1KLFMy-7x4YFVP-mjiwynOlwo64GvE5YsXffE7r3dOE8/viewform?embedded=true" class="waves-effect waves-light btn" style="background-color:#F44336; margin-top:100px;">STARTUPS REGISTER HERE</a><br>
<a target="_blank" href="https://docs.google.com/forms/d/1FQdBNAqWgnWWjFyVkTt-HPDsOT0FPrnFkBHdW69hiOY/viewform" class="waves-effect waves-light btn" style="background-color:#F44336; margin-top:30px;">VIEWERS REGISTER HERE</a>
</div>

</div>


</div>
  
  <style type="text/css">
 .tabs .indicator {
  background-color: black;
 }

 .tabs .tab a {
  color: black;
 }

 .tabs .tab a:hover {
  color: grey;
 }
 #event_img{
  width: 350px;
  height: 150px;
 }
  </style>