<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">Synopsis</a></li>
        <li class="tab col s2"><a href="#test2">Problem Statement</a></li>
        <li class="tab col s2"><a href="#test3">Rules</a></li>
        <li class="tab col s2"><a href="#test4">Register</a></li>
      </ul>
</div></div>
<div class="compt-margin">

<div id="test1" class="col s12">
<div id="event_head">
  <img id="event_img" src="./media/diupc.png"> 
  <h2 style="margin-top:0px;">Distraction IUPC</h2>
</div>
<div class="card-panel hoverable price-card">
<img src="./media/t3.png" width="100px;">
<span id="price-worth" style="color:#009688;">Prize Worth</span><br>
<span id="price-value" style="color:#009688;">&#8377 30,000</span>
</div>
<blockquote>"A programming contest crossed with Interruption games"</blockquote>
<p>Do you think you can code? Do you think you can code while being distracted? Do you have what it takes to get interrupted and then Compile?</p>

</div>

<div id="test2" class="col s12">
<h4>Problem Statement</h4>

<p>Distraction IUPC is an IUPC-style programming contest crossed with various distractions (you will get to know when you enter in the contest arena!), where teams of three people try to solve as many programming problems as they can. Meanwhile, our Distraction Team will be doing what they can to make the job of programming more difficult and/or enjoyable.</p>

</div>

<div id="test3" class="col s12">
<h4>Rules</h4>
<h5>Registration Rules</h5>
<ol>
<li>Only teams with exactly 3 members are allowed.
</li><li>All the members should be of same college.
</li><li> One of the team member has to register on HackerEarth and should have a valid username for participation.</li>
<li>Team lead should have a valid HackerEarth handle. All submissions should be made from this handle only.</li>
<li>Registration closes 60 minutes before the start of the contest.</li>
<li>To claim prize you need to be registered here.</li></ol>

<h5>Contest Rules</h5>
<ol>
<li>Contest will be of 2 -2.5 hours.</li>
<li>Distraction Rules will be introduced in contest arena. Teams are expected to follow them.</li>
<li>Plagiarism by any means will lead to immediate disqualification of the team.</li>
<li>The decision of Plinth Organizing Committee will be final.</li>
</ol>

</div>

<div id="test4" class="col s12">
<h5>For Any Query</h5>

Yash Varyani : veyron1306@gmail.com | +91-7728990660 <br> 
Vaibhav Shrotriya : vaibhavshrotriya4@gmail.com  | +91-7793075905<br>

 


</div>
</div>
  
  <style type="text/css">
 .tabs .indicator {
  background-color: black;
 }

 .tabs .tab a {
  color: black;
 }

 .tabs .tab a:hover {
  color: grey;
 }
 #event_img{
  width: 150px;
  height: 150px;
 }
  </style>