<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#test1">Synopsis</a></li>
        <li class="tab col s2"><a href="#test2">Problem Statement</a></li>
        <li class="tab col s2"><a href="#test3">Rules</a></li>
        <li class="tab col s2"><a href="#test4">Register</a></li>
      </ul>
</div></div>
<div class="compt-margin">

<div id="test1" class="col s12">
<div id="event_head">
  <img id="event_img" src="./media/transporter2.png"> 
  <h2 style="margin-top:0px;">Finders Keepers</h2>
</div>
<p>For all the treasure seekers out there, it's time to whack your brains and crack your way through hints and puzzles, hunt down areas in a completely unknown campus. Come and solve the clues, look for the mystical and magical connection in them. Bear in mind all the magic spells and casts you once read! The treasure at the end is sure to leave you bewitched!</p>
</div>

<div id="test2" class="col s12">
<h4>Problem Statement</h4>

<h5>Evaluation Criteria</h5>
<p>The Team who successfully solves the final clue will be the winner. Only the first three teams would qualify for the prizes.</p>

<h5>Format</h5>
<ol>
<li>Three people have to form a team.</li>
<li>All the teams will be given a puzzle to solve.</li>
<li>Teams who solve the puzzle will be given the first clue.</li>
<li>One clue leads to another, and the final clue will be again a puzzle.</li>
</ol>
</div>

<div id="test3" class="col s12">
<h4>Rules</h4>
<ol>
<li>Organizer is the boss and the boss is always right.</li>
<li>Follow the first rule.</li>
</ol>
</div>

<div id="test4" class="col s12">Test 4

</div>
</div>
  
  <style type="text/css">
 .tabs .indicator {
  background-color: black;
 }

 .tabs .tab a {
  color: black;
 }

 .tabs .tab a:hover {
  color: grey;
 }
  </style>