<nav>
	  <div class="nav-wrapper">
	    <a href="#" ng-click="navbar();" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	    <ul class="right hide-on-med-and-down">
	      <li class="active"><a id="d1" href="#">HOME</a></li>
	      <li><a class="d1" href="https://www.google.com">ABOUT</a></li>
	      <li><a class="d2" href="#schedule">SCHEDULE</a></li>
	      <li><a class="d3" href="#cfp">CFP</a></li>
	      <li><a class="d4" href="#speakers">SPEAKERS</a></li>
	      <li><a class="d5" href="#faqs">FAQS</a></li>
	      <li><a class="d6" href="#sponsers">SPONSERS</a></li>
	      <li><a class="d7" href="#location">LOCATION</a></li>
	      <li><a class="d8" href="#contactus">CONTACT-US</a></li>
	    </ul>
	    <ul class="side-nav" id="mobile-demo">
	      <li class="active"><a href="#">HOME</a></li>
	      <li><a class="d1" href="#about">ABOUT</a></li>
	      <li><a class="d2" href="#schedule">SCHEDULE</a></li>
	      <li><a class="d3" href="#cfp">CFP</a></li>
	      <li><a class="d4" href="#speakers">SPEAKERS</a></li>
	      <li><a class="d5" href="#faqs">FAQS</a></li>
	      <li><a class="d6" href="#sponsers">SPONSERS</a></li>
	      <li><a class="d7" href="#location">LOCATION</a></li>
	      <li><a class="d8" href="#contactus">CONTACT-US</a></li>
	    </ul>
	  </div>
	</nav>

<script type="text/javascript">
	function navbar(){
    $(".button-collapse").sideNav();
}

</script>