<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Physics Bowl | Plinth'17</title>
        <script src="https://use.fontawesome.com/8720ae4a19.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/robotics.css" />
    </head>
    <body>

        <nav>
            <div class="header-logo">
                <a href="index.html"><img src="media/logo.svg"/></a>
            </div>
            <button class="ham-btn"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></button>
            <div class="ham-wrapper">
                <div class="ham-content text-center">
                    <button class="ham-close"><span>X</span></button>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="competitions.html">Competitions</a></li>
                        <li><a href="#">Workshops</a></li>
                        <li><a href="#">Lectures</a></li>
                        <li><a href="#">The LNMIIT MUN</a></li>
                        <li><a href="#">Hackathon</a></li>
                    </ul>
                </div>
            </div>
            <div class="navitem text-right">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="competitions.html">Competitions</a></li>
                    <li><a href="#">Workshops</a></li>
                    <li><a href="#">Lectures</a></li>
                    <li><a href="#">The LNMIIT MUN</a></li>
                    <li><a href="#">Hackathon</a></li>
                </ul>
            </div>
        </nav>

        <div class="content">
            <div class="row">
                <div class="small-10 small-centered text-center columns">
                    <h4>Astronomy</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="row">
<!--                    gray circle-->
                    <div class="small-7 small-push-4 medium-5 large-4 large-push-3 columns">
                        <div class="dp-image">

                        </div>
                    </div>
                    <div class="small-10 medium-5 large-5 large-pull-1 columns">
                        <div class="details">
                            <span class="title-workshop">Physics Bowl</span>
                            <br />
                            <br />
                            <span>Date : 22<sup>nd</sup> Jan 2016</span>
                            <br />
                            <span>Venue : The LNMIIT, Jaipur </span>
                            <br />
                            <br />
                            <ul>
                                <li><a href="#" class="reg-btn">Register ></a></li>
                                <li><a href="#">Make Payment ></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        registeration form modal-->
        <div class="wrapper-form">
            <div class="reg-form">
                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>Name</label>
                </div>

                <div class="radio-sex">
                    <span class="reg-sex-h">Gender</span>
                    <div class="reg-sex">
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload1"   name="sex" value="male" />
                          <label for="radioWorkload1"><span></span>Male</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload2"   name="sex" value="female" />
                          <label for="radioWorkload2"><span></span>Female</label>
                        </span>
                    </div>
                </div>

                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>Phone Number</label>
                </div>
                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>Email</label>
                </div>
                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>College</label>
                </div>
                <div class="radio-year">
                    <span class="reg-sex-h">Year</span>
                    <div class="reg-sex">
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload3"   name="year" value="1" />
                          <label for="radioWorkload3"><span></span>1</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload4"   name="year" value="2" />
                          <label for="radioWorkload4"><span></span>2</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload5"   name="year" value="3" />
                          <label for="radioWorkload5"><span></span>3</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload6"   name="year" value="4" />
                          <label for="radioWorkload6"><span></span>4</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload7"   name="year" value="5" />
                          <label for="radioWorkload7"><span></span>5</label>
                        </span>
                    </div>
                </div>
                <div class="group">
                    <input type="text" id="in-name" required>
                    <span class="highlight"></span>
                    <label>City</label>
                </div>
                <div class="radio-acc">
                    <span class="reg-acc-h">Accomodation</span>
                    <div class="reg-acc">
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload8"   name="acc" value="yes" />
                          <label for="radioWorkload8"><span></span>Yes</label>
                        </span>
                        <span class='radButtonSpanWorkload'>
                          <input class="radButtonWorkload" type="radio" id="radioWorkload9"   name="acc" value="no" />
                          <label for="radioWorkload9"><span></span>No</label>
                        </span>
                    </div>
                </div>

                <div class="add-memb">
                    <a class="add" href="javascript:void(0)">+ Add Member</a>
                </div>

                <div class="btn">
                    <a class="btn-register" href="javascript:void(0)">Register</a>
                </div>

                <div class="reg-social">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Register With Facebook</a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>Register With Google</a></li>
                    </ul>
                </div>
            </div>
        </div>




          <div class="card">
              <div class="row">
                  <div class="small-4 small-offset-1 columns">
                      <div class="card-img">
                      </div>
                  </div>
                  <div class="small-6 columns end">
                      <div class="prize">
                      <span>Prize Worth</span>
                      <br />
                      <span>INR. 30,000</span>
                      </div>
                  </div>
              </div>
          </div>


        <div class="row">
            <div class="small-10 small-centered columns">
                <div class="tab-wrapper">
                    <ul class="tab">
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Synopsis')" id="defaultOpen">Synopsis</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'EventDesc')">Event Description</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Rules')">Rules</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Judges')">Judges</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Mentors')">Mentors</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Sponsors')">Sponsors</a></li>
                    </ul>

                    <ul class="drop-tab">
                        <a><i class="fa fa-chevron-down fa-lg drop-toggle" aria-hidden="true"></i></a>
                        <div class="drop-content-wrapper">
                          <ul class="drop-content">
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Synopsis')" id="defaultOpen">Synopsis</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'EventDesc')">Event Description</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Rules')">Rules</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Judges')">Judges</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Mentors')">Mentors</a></li>
                          <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Sponsors')">Sponsors</a></li>
                          </ul>
                        </div>
                    </ul>

                    <div class="big-wrapper">
                        <div class="wrapper">
                    <div id="Synopsis" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Synopsis</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <p>
                                Foresee the unfathomable and explore the mysteries of the universe. Only the sharp, intelligent and astronomy enthusiasts will make it to the end. The route to solve the mysteries of the universe lies within the depths of the dark sky and your imagination. It’s time to bring out the Galileo Galilee in you and look into the infinite cosmic depths.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="EventDesc" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Event Description</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <ol>
                                    <li>Teams will be provided with a set of 25 questions</li>
                                    <li>The questions will be a mix of both Multiple-choice & Direct-Answer Q.</li>
                                    <li>The questions will be based on hypothetical situations wherein laws of physics will be twisted & conceptual aptitude will be checked.</li>
                                    <li>Marks will be allotted to each question individually.</li>
                                    <li>Team with maximum marks will be declared the winner</li>
                                </ol></p>
                            </div>
                        </div>
                    </div>

                    <div id="Rules" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Rules</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <p><b>General Rules </b>
                                <ol>
                                    <li>Students will participate in teams of maximum 3.</li>
                                    <li>Use of Mobile phone is strictly prohibited.</li>
                                    <li>In case of discrepancy, decision of organizers is final.</li>
                                </ol></p>
                            </div>
                        </div>
                    </div>

                    <div id="Judges" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Judges</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in lorem nisl. Sed vitae sodales odio. Pellentesque ac convallis purus. Nam ut.</p>
                            </div>
                        </div>
                    </div>

                    <div id="Mentors" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Mentors</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in lorem nisl. Sed vitae sodales odio. Pellentesque ac convallis purus. Nam ut.</p>
                            </div>
                        </div>
                    </div>

                    <div id="Sponsors" class="tabcontent">
                        <div class="row content-head">
                            <div class="small-10 small-centered text-center columns">
                                <span>Sponsors</span>
                            </div>
                        </div>
                        <div class="row contentdesc">
                            <div class="small-10 small-centered columns">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in lorem nisl. Sed vitae sodales odio. Pellentesque ac convallis purus. Nam ut.</p>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <footer>
            <div class="row social-wrapper">
                <div class="small-12 small-centered column text-center social">
                    <ul>
                        <li><a href="https://www.facebook.com/Plinth.LNMIIT/" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/PlinthLNMIIT" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
                        <li><a href="https://plus.google.com/+PLINTHLNMIIT/posts" target="_blank"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-youtube-play fa-lg" aria-hidden="true" ></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row footer-wrapper footer-posi">
                <div class="small-12 small-centered column text-center footer-text">
                    <ul>
                        <a href="about.html"><li>About Us</li></a>
                        <a href="sponsors.html"><li>Sponsors</li></a>
                        <a href="#"><li>Our Team</li></a>
                        <a href="faq.html"><li>FAQs</li></a>
                        <a href="contactUs.html"><li>Contact Us</li></a>
                    </ul>
                </div>
            </div>
        </footer>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/tab.js"></script>
        <script src="../js/reg-form.js"></script>

    </body>
</html>
