<!--footer-->

<div class="reveal" id="opensource-pop" data-reveal style="color:black">
    We Support Open source, our website is developed using Github.
    Keeping security and other issue in mind repo is private and will be made public on January 30th 2017.
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<footer>
    <div class="row social-wrapper">
        <div class="small-12 small-centered column text-center social">
            <ul>
                <li><a href="https://www.facebook.com/Plinth.LNMIIT/" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/PlinthLNMIIT" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
                <li><a href="https://plus.google.com/+PLINTHLNMIIT/posts" target="_blank"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/user/PlinthLNMIITJaipur" target="_blank"><i class="fa fa-youtube-play fa-lg" aria-hidden="true" ></i></a></li>
                <li><a data-open="opensource-pop"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row footer-wrapper footer-posi">
        <div class="small-12 small-centered column text-center footer-text">
            <ul>
                <a href="/about"><li>About Us</li></a>
                <a href="/sponsors"><li>Sponsors</li></a>
                <a href="/team"><li>Our Team</li></a>
                <a href="/faq"><li>FAQs</li></a>
                <a href="/contact_us"><li>Contact Us</li></a>
                <a href="/termsandconditions"><li>Terms and Condition</li></a>
                <a href="/archive"><li>Archive</li></a>
            </ul>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>
<script src="js/vendor/popwind.js"></script>
<script src="js/app.js"></script>
<script>

<%if (!isLoggedIn) { %>
function eventUserComplete(){
    if(formReg === 1){
        registerUserComplete();
        return;
    }
}
<% } %>
</script>
