<nav>
    <div class="header-logo">
        <a href="/"><img src="media/logo.svg"/></a>
    </div>
    <button class="ham-btn"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></button>
    <div class="ham-wrapper">
        <div class="ham-content text-center">
            <button class="ham-close"><span>X</span></button>
            <ul>
                <li>
                <% if(isLoggedIn){ %>
                    <a class="nav-usr-name"> <%- user.name %> <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                <% } else{ %>
                    <a data-open="register-pop-up-window">Register/Login</a>
                <% } %>
                </li>
                <li><a href="/">Home</a></li>
                <li><a href="/competitions">Competitions</a></li>
                <li><a href="/talks">Talks</a></li>
                <li><a href="/workshops">Workshops</a></li>
                <!-- <li><a href="/talks_c">Lectures</a></li> -->
                <li><a href="/mun">The LNMIIT MUN</a></li>
                <li><a href="/wikitolearn">WikiToLearn</a></li>
                <li><a href="/school-outreach-program">SOP</a></li>
            </ul>
        </div>
    </div>
    <div class="navitem text-right">
        <ul>
            <li><a class="navitem-home" href="/">Home</a></li>
            <li><a class="navitem-competitions" href="/competitions">Competitions</a></li>
            <li><a class="navitem-workshops" href="/workshops">Workshops</a></li>
            <li><a class="navitem-talks" href="/talks">Talks</a></li>
            <!-- <li><a href="/talks_c.ejs">Lectures</a></li> -->
            <li><a href="/mun">The LNMIIT MUN</a></li>
            <li><a href="/wikitolearn">WikiToLearn</a></li>
            <li><a href="/school-outreach-program">SOP</a></li>
            <li>
                <% if(isLoggedIn){ %>
                    <a class="nav-usr-name"> <%- user.name %> <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                <% } else{ %>
                    <a data-open="register-pop-up-window">Register/Login</a>
                <% } %>
            </li>
        </ul>
    </div>
</nav>

<a href="https://www.facebook.com/Plinth.LNMIIT/photos/a.263447960424805.40389.263440397092228/869336489835946/?type=1&theater" target="_blank" class="cryptex-notifty notify-1 hide-for-small-only">
    <span>Pro Show</span>
</a>
<a href="/schedule" class="cryptex-notifty notify-2 hide-for-small-only">
    <span>Schedule</span>
</a>
<a href="media/pdfs/bus.pdf" target="_blank" class="cryptex-notifty notify-3 hide-for-small-only">
    <span>Bus Timings</span>
</a>
<a href="https://play.google.com/store/apps/details?id=lnmiit.madclub.plinth&hl=en" target="_blank" class="cryptex-notifty notify-4 hide-for-small-only">
    <span>Get the App</span>
</a>


<div class="reveal" id="register-pop-up-window" data-reveal>
    <h5 class="text-center">Register Yourself</h5>
    <p class="text-center">Register yourself for different competitions through this portal to know further
        details and proceedings of PLINTH'17. Morever if you register through this platform ,
        you would be able to get exclusive coupons and offers.
</p>
    <div class="text-center">
        <a class="btn btn-register reg-with-google" onclick='userLoginInitiate("/user/auth/google")'><i class="fa fa-google-plus" aria-hidden="true"></i>Register with Google</a>
        <a class="btn btn-register reg-with-fb" onclick='userLoginInitiate("/user/auth/facebook")'><i class="fa fa-facebook" aria-hidden="true"></i>Register with Facebook</a>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<div class="notif">
    <span class="reg-status-img"></span><span class="reg-status"></span>
</div>

<div class="notif-loader">
    <div class="loader"></div>
    <div class="notif-loader-text"> Processing </div>
</div>

<% if (isLoggedIn) {%>
<div class="profile-drop-down">
    <div class="row">
        <div class="small-4 columns"><span class="profile-dp"><img src="../media/icons/profile/<%- user.gender %>.svg" width="50"/></span></div>
        <div class="small-8 columns"><div class="drop-down-ele"><a href="/myprofile" >View Profile</a><br /><a onclick="logOut()">Logout</a></div></div>
    </div>
</div>
<%}%>

<div class="reveal" id="event-registration-form" style="padding: 50px 40px;" data-reveal>
    <div class="event-registration-form-message">
            <p class="text-center" style="margin-bottom : 20px;">Hey, this is a team event, you can from team with <span class="memberLowerLimit" style="display:inline-block"></span> to <span class="memberUpperLimit" style="display:inline-block"></span><br>
            Note : Email of <b>first member</b> will be used for payment.<br>
            For more information click <a href="/faq/payment" target="_blank">here.</a></p>
            <div class="reg-form-btn text-center" style="margin : 30px 0px 0px 0px">
                <a class="reg-form-btn-register proceed-next" onclick="proceedNext()">Next</a>
            </div>
    </div>
    <div class="workshop-registration-form-message">
            <p class="text-center" style="margin-bottom : 20px;">Hey, This is a individual event <br>
            Note : Your Email will be used for payment.<br>
            For more information click <a href="/faq/payment" target="_blank">here.</a></p>
            </p>
            <div class="reg-form-btn text-center" style="margin : 30px 0px 0px 0px">
                <a class="reg-form-btn-register workshop-roceed-next" onclick="workshopProceedNext()">Next</a>
            </div>
    </div>
    <div class="event-registration-form-part" style="display : none">
        <% include reg-form-event %>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<a data-open="event-registration-form" class="holaxx" style="visibility : hidden">asda</a>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84739802-2', 'auto');
  ga('send', 'pageview');

</script>

<% include load %>
