<a data-open="regform" class="holax" style="visibility : hidden">asda</a>

<div class="reveal reg-form" id="regform" data-reveal>
    <div class="form-silver-wrap">
        <form action="javascript:void(0)" name="registration-form" id="registerForm" >
        <div class="group">
            <input type="text" id="in-name" class="user-name-reg" required>
            <span class="highlight"></span>
            <label>Name</label>
        </div>

        <div class="radio-gender">
        <span class="reg-gender-h" style="color: black">Gender</span>
        <div class="reg-gender">
        <span class='radButtonSpanWorkload'>
        <input class="radButtonWorkload" type="radio" id="radioWorkload1" name="gender-reg" value="male" required/>
        <label for="radioWorkload1"><span></span>Male</label>
        </span>
        <span class='radButtonSpanWorkload'>
        <input class="radButtonWorkload" type="radio" id="radioWorkload2" name="gender-reg" value="female" />
        <label for="radioWorkload2"><span></span>Female</label>
        </span>
        <b id="itemErrors"></b>
        </div>
        </div>

    <div class="group">
        <input type="number" id="in-name" class="phone-reg" required>
        <span class="highlight"></span>
        <label>Phone Number</label>
    </div>
    <div class="group">
        <input type="email" id="in-name" class="email-reg" required>
        <span class="highlight"></span>
        <label>Email</label>
    </div>
    <div class="group">
        <input type="text" id="in-name" class="college-reg" required>
        <span class="highlight"></span>
        <label>College</label>
    </div>

    <div class="radio-year">
        <span class="reg-gender-h" style="color: black">Year</span>
        <div class="reg-gender">
            <span class='radButtonSpanWorkload'>
              <input class="radButtonWorkload" type="radio" id="radioWorkload3"   name="year-reg" value="1" />
              <label for="radioWorkload3"><span></span>1</label>
            </span>
            <span class='radButtonSpanWorkload'>
              <input class="radButtonWorkload" type="radio" id="radioWorkload4"   name="year-reg" value="2" />
              <label for="radioWorkload4"><span></span>2</label>
            </span>
            <span class='radButtonSpanWorkload'>
              <input class="radButtonWorkload" type="radio" id="radioWorkload5"   name="year-reg" value="3" />
              <label for="radioWorkload5"><span></span>3</label>
            </span>
            <span class='radButtonSpanWorkload'>
              <input class="radButtonWorkload" type="radio" id="radioWorkload6"   name="year-reg" value="4" />
              <label for="radioWorkload6"><span></span>4</label>
            </span>
            <span class='radButtonSpanWorkload'>
              <input class="radButtonWorkload" type="radio" id="radioWorkload7"   name="year-reg" value="5" />
              <label for="radioWorkload7"><span></span>5</label>
            </span>
        </div>
    </div>

    <div class="group">
        <input type="text" id="in-name" class="city-reg" required>
        <span class="highlight"></span>
        <label>City</label>
    </div>

    <div class="radio-acc">
        <span class="reg-acc-h" style="color: black">Accomodation</span>
        <div class="reg-acc">
            <span class='radButtonSpanWorkload'>
              <input class="radButtonWorkload" type="radio" id="radioWorkload8"   name="acc-reg" value="yes" required />
              <label for="radioWorkload8"><span></span>Yes</label>
            </span>
            <span class='radButtonSpanWorkload'>
              <input class="radButtonWorkload" type="radio" id="radioWorkload9"   name="acc-reg" value="no"  />
              <label for="radioWorkload9"><span></span>No</label>
            </span>
        </div>
    </div>

        <div class="reg-form-btn text-center">
            <input type="submit" value="Register" class="reg-form-btn-register" onclick="registerUserComplete()">
        </div>
    </form>
</div>
        <div class="reg-social text-center">
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Register With Facebook</a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>Register With Google</a></li>
            </ul>
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>

</div>
