<style>
.sif-checkbox label{
    font: normal 22px cl;
}
.sif-checkbox{
    font-family: cl;
}
.sif-checkbox span{
    width: 100px;
    display: inline-block;
}


</style>

<div class="reveal" id="sif-registration-form" style="padding: 50px 40px;" data-reveal>
    <h5 class="text-center">
        Startup Registration Form
    </h5>
    <br>
    <div class="reg-form-event" style="box-shadow : 0 0; padding : 0px">
        <div class="form-silver-wrap">
            <form action="javascript:void(0)" name="registration-form" id="registerForm" >
            <div class="group">
                <input type="text" id="in-name" class="sif-name" required>
                <span class="highlight"></span>
                <label>Startup Name : </label>
            </div>
            <div class="group">
                <!-- <input type="text" id="in-name" class="sif-description" required> -->
                <textarea rows="4" id="in-name" class="sif-description" required></textarea>
                <span class="highlight"></span>
                <label>Description</label>
            </div>


            <div class="group">
                <input type="text" id="in-name" class="sif-location" required>
                <span class="highlight"></span>
                <label>Location</label>
            </div>
            <div class="group">
                <input type="text" id="in-name" class="sif-website" required>
                <span class="highlight"></span>
                <label>Website</label>
            </div>

            <div class="group">
                <input type="text" id="in-name" class="sif-representative-name" required>
                <span class="highlight"></span>
                <label>Representative Name</label>
            </div>

            <div class="group">
                <input type="email" id="in-name" class="sif-representative-email" required>
                <span class="highlight"></span>
                <label>Representative Email</label>
            </div>

            <div class="group">
                <input type="text" id="in-name" class="sif-representative-phone" required>
                <span class="highlight"></span>
                <label>Representative Contact</label>
            </div>

            <div class="sif-checkbox">
                <label>Field :</label>
                <div>
                    <span><input type="checkbox" name="field" class="sif-checkbox-0" value="technical"> Technical</span>
                    <span><input type="checkbox" name="field" class="sif-checkbox-1" value="management"> Management</span>
                </div>
                <div style="margin-top:-8px">
                    <span><input type="checkbox" name="field" class="sif-checkbox-2" value="content"> Content</span>
                    <span><input type="checkbox" name="field" class="sif-checkbox-3" value="social"> Social</span>
                </div>
            </div>

            <div class="sif-checkbox">
                <label>Stipend :</label>
                <input type="checkbox" class="sif-checkbox-stipend" name="stipend" value="technical">Yes
            </div>


            <div class="group">
                <input type="number" id="in-name" class="sif-opening" required>
                <span class="highlight"></span>
                <label>Number of opening</label>
            </div>

            <div class="reg-form-btn text-center" style="margin : 30px 0px 0px 0px">
                <input type="submit" value="Register" class="reg-form-btn-register" style="width : 147px;" onclick="sifComplete()">
            </div>
        </form>
    </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
</div>


<script>
function getSifDetails(){
    var fieldOption = ['technical', 'management', 'content', 'social'];
    sifDetail ={
        name : $('.sif-name').val(),
        description :$('.sif-description').val(),
        location : $('.sif-location').val(),
        website : $('.sif-website').val(),
        representativeName :$('.sif-representative-name').val(),
        representativeEmail : $('.sif-representative-email').val(),
        representativeContact : $('.sif-representative-phone').val().replace('-',''),
        numberofOpening : $('.sif-opening').val(),
        field : [],
        stipend : $('.sif-checkbox-stipend').is(":checked"),
    }
    for(var i=0; i<4; i++){
        if($('.sif-checkbox-' + i).is(":checked")){
            sifDetail.field.push(fieldOption[i]);
        }
    }
    return sifDetail;
}

function validateSifDetails(data){
    notifDisplay(5,2);
    if(data.name === "" || data.description === "" || data.location === "" || data.website === "" || data.representativeName === "" || data.representativeEmail === "" || data.representativeContact === "" || data.numberofOpening === "" || data.field.length === 0){
        if(data.field.length === 0) notifDisplay(2,5);
        return false;
    }
    else
        return true;
}

function sifComplete(){

    sifData = getSifDetails();
    if(!validateSifDetails(sifData)) return;
    data = {"sifDetails" : sifData};
    activateLoader();
    $.post( {
        url: "/events/register/sif",
        contentType: 'application/json; charset=utf-8',
        dataType : 'json',
        data: JSON.stringify(data)
    })
    .done(function( data ) {
        deactivateLoader();
        if(data.response){
            notifDisplay(1,1);
            $('.close-button').trigger('click'); // old form
        }
        else {
            notifDisplay(0,0);
        }
    });
}

</script>
