<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Users | Plinth'17</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/robotics.css" />
    </head>
    <body>
        <% include header %>

        <style>
            .partial-card{
                border : 1px solid grey;
                padding: 10px 5px;
            }
        </style>
        <div class="row">
            <a href="/results/user/registered/csv">Export to csv</a>
        </div>
        <section>
                <% for(var i=0; i<results.length; i++) { %>
                <div class="row">
                    <div class="column small-12 partial-card medium-4">
                        name : <%= results[i].email %>
                    </div>
                    <div class="column small-12 partial-card medium-8">
                        events : <%= results[i].events %>
                    </div>
                </div>
                <br>
                <% } %>
        </section>


        <% include footer %>

    </body>
</html>
