<!doctype html>
<html class="no-js" lang="en">
    <head>
        <% include ../partials/parent/head %>
        <link rel="stylesheet" href="css/parent/main.css">
    </head>
    <body>
        <section class="footer-adjust">
            <% include ../partials/parent/nav %>
            <div class="row">
                <div class="column small-10 small-centered">
                    <h3 class="raleway about-set-heading">Introduction</h3>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 small-centered">
                    <p class="raleway text-justify">I am 21 years old Full-Stack Web Developer, passionate about the Web. Pursuing B.Tech degree in Computer Science and Engineering from The LNM Institute of Information Technology, Jaipur, India. I love building things, I am a design enthusiast, having some designing experience. A Music addict, foodie and hard worker.</p>
                </div>
            </div>

            <!-- Skill set -->
            <section>
                <div class="row">
                    <div class="column small-10 small-centered">
                        <h3 class="raleway about-set-heading">Skills</h3>
                    </div>
                </div>
                <div class="skill-set">
                    <!-- Rendered from about.js -->
                </div>
            </section>

            <section>
                <div class="row">
                    <div class="column small-10 small-centered">
                        <h3 class="raleway about-set-heading">experience</h3>
                    </div>
                </div>

                <div class="experiance-set">
                    <!-- Rendered from about.js -->
                    <div class="row">
                        <div class="column small-10 small-offset-1 medium-5 medium-offset-1 text-left">
                            <h6>Front-End Developer Intern</h6>
                            <p>Innovaccer</p>
                        </div>
                        <div class="column small-10 small-offset-1 medium-5 medium-offset-0 end">
                            <p class="show-for-medium text-right">May 2016 - July 2016</p>
                            <p class="show-for-small-only">May 2016 - July 2016</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column small-10 small-centered medium-10">
                            <p>Developed and Design Internal Portals with AngularJS</p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="row">
                <div class="column small-10 small-centered text-center">
                    <a class="hollow button resume-button roboto"  href="media/parent/documents/mukul-jain-resume.pdf" download>Resume</a>
                </div>
            </div>

        </section>
        <% include ../partials/parent/footer %>
        <script src="js/parent/about.js"></script>
    </body>
</html>
