<!doctype html>
<html class="no-js" lang="en">
    <head>
        <% include ../partials/parent/head %>
    </head>
    <body>
        <section class="footer-adjust">
            <% include ../partials/parent/nav %>
            <h2 class="text-center raleway page-head">Get in Touch</h2>

            <div class="row">
                <div class="column small-12 text-center main-contact">
                    <p><a href="mailto:jainmukul1996@gmail.com"><img src="media/parent/images/email.svg" alt="email icon" /><span class="roboto">jainmukul1996@gmail.com</span></a></p>
                    <p><a href="tel:++917221008771"><img src="media/parent/images/mobile.svg" alt="mobile icon" /><span class="roboto">+91-7221-008-771</span></a></p>
                </div>
            </div>

            <div class="row">
                <div class="small-1 small-centered contact-seprator">
                    <!-- css handles these divs -->
                    <div></div>
                    <div></div>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 medium-10 small-centered text-center social-contact">
                    <div class="row">
                        <div class="column small-12 large-2 medium-4 large-offset-1">
                            <p><a href="https://github.com/jainmukul" target="_blank"><img src="media/parent/images/github.svg" alt="github icon">/jainmukul</a>
                        </div>
                        <div class="column small-12 large-2 medium-4 ">
                            <p><a href="https://www.linkedin.com/in/mukuljainx" target="_blank"><img src="media/parent/images/linkedin.svg" alt="linkedin icon">/mukuljainx</a>
                        </div>
                        <div class="column small-12 large-2 medium-4 ">
                            <p><a href="https://www.facebook.com/mukuljainx" target="_blank"><img src="media/parent/images/facebook.svg" alt="facebook icon">/mukuljainx</a>
                        </div>
                        <div class="column small-12 large-2 medium-4">
                            <p><a href="https://plus.google.com/+MukulJainx" target="_blank"><img src="media/parent/images/google.svg" alt="google icon">/+mukuljainx</a>
                        </div>
                        <div class="column small-12 large-2 medium-4 end">
                            <p><a href="https://www.behance.net/mukuljainx" target="_blank"><img src="media/parent/images/behance.svg" alt="behance icon">/mukuljainx</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <% include ../partials/parent/footer %>
    </body>
</html>
