<!doctype html>
<html class="no-js" lang="en">
    <head>
        <% include ../partials/parent/head %>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/parent/contact.css" rel="stylesheet">
    </head>
    <body>
        <section class="footer-adjust">
            <% include ../partials/parent/nav %>
            <h2 class="text-center raleway page-head">Get in Touch</h2>

            <div class="row">
                <div class="column small-12 text-center main-contact">
                    <p><a href="mailto:jainmukul1996@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i><span class="roboto">jainmukul1996@gmail.com</span></a></p>
                    <p><a href="tel:++917221008771"><i class="fa fa-mobile" aria-hidden="true"></i><span class="roboto">+91-7221-008-771</span></a></p>
                </div>
            </div>

            <div class="row">
                <div class="small-1 small-centered contact-seprator">
                    <!-- css handles these divs -->
                    <div></div>
                    <div></div>
                </div>
            </div>

            <div class="row">
                <div class="column small-10 medium-8 small-centered text-center social-contact">
                    <div class="row">
                        <div class="column small-12 medium-3">
                            <a href="https://github.com/jainmukul" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>/jainmukul</a>
                        </div>
                        <div class="column small-12 medium-3">
                            <a href="https://www.linkedin.com/in/mukuljainx" target="_blank"><i class="fa fa-linkedin fa-circle-inverse" aria-hidden="true"></i>/mukuljainx</a>
                        </div>
                        <div class="column small-12 medium-3">
                            <a href="https://www.facebook.com/mukuljainx" target="_blank"><i class="fa fa-facebook fa-circle-inverse" aria-hidden="true"></i>/mukuljainx</a>
                        </div>
                        <div class="column small-12 medium-3">
                            <a href="https://plus.google.com/+MukulJainx" target="_blank"><i class="fa fa-google-plus-official" aria-hidden="true"></i>/mukuljainx</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <% include ../partials/parent/footer %>
    </body>
</html>
