<!doctype html>
<html class="no-js" lang="en">
    <head>
        <% include ../partials/parent/head %>
        <link rel="stylesheet" href="css/parent/main.css">
        <link rel="stylesheet" href="css/parent/modal.css">
    </head>
    <body>
        <section class="footer-adjust">
            <% include ../partials/parent/nav %>
            <div class="row">
                <div class="column small-12">
                    <div class="intro-head">
                        <div class="intro-head-left">
                            <h1 class="raleway">HI</h1>
                        </div>
                        <div class="intro-head-right">
                            <h4 class="raleway">I'M Mukul Jain</h4>
                            <p class="raleway">Full Stack Web Developer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column small-12 text-center">
                    <div class="modal-know-more-wrapper">
                        <a class="know-more raleway">Know More</a>
                        <div class="custom-modal-wrapper"></div>
                        <div class="custom-modal custom-modal-none row">
                            <div class="column small-10 medium-10 large-10 small-centered column-card">
                                <i class="custom-modal-close-button">x</i>
                                <div class="row">
                                    <div class="small-10 medium-3 small-offset-1 medium-offset-1-5 column">
                                        <a href="/about">
                                            <div class="card know-more-modal know-more-modal-card text-center">
                                                <img src="media/parent/images/about.svg" alt="Mukul Jain | About Icon" />
                                                <p class="raleway">About</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="small-10 medium-3 small-offset-1 medium-offset-0 column">
                                        <a href="/work">
                                            <div class="card know-more-modal know-more-modal-card text-center">
                                                <img src="media/parent/images/work.svg" alt="Mukul Jain | Work Icon" />
                                                <p class="raleway">Work</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="small-10 medium-3 small-offset-1 medium-offset-0 column end">
                                        <a href="/contact">
                                            <div class="card know-more-modal know-more-modal-card text-center">
                                                <img src="media/parent/images/contact.svg" alt="Mukul Jain | Contact Icon" />
                                                <p class="raleway">Contact</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <% include ../partials/parent/footer %>
        <script src="js/parent/modal.js"></script>
    </body>
</html>
