<!doctype html>
<html class="no-js" lang="en">
    <head>
        <% include ../partials/parent/head %>
    </head>
    <body>
        <section class="footer-adjust">
            <% include ../partials/parent/nav %>

            <div class="row work-row">
            </div>
        </section>

        <% include ../partials/parent/footer %>
        <script src="js/parent/work.js"></script>
    </body>
</html>
