<div class="about_img" ></div>
 <div class="section white">
    <div class="row container">
      <h2 style="text-align:center" class="header">About Us</h2>
      <p style="text-align:center" class="grey-text text-darken-3 lighten-3">As with the previous editions, conf.kde.in is a platform for Qt/KDE contributors, developers and enthusiasts to come together,share their knowledge, contribute, learn and play. Most importantly it's an excellent arena for collaboration and exchange of ideas, skills and thoughts among like minded people passionate about open source in general.

conf.kde.in is an awesome opportunity for any student who is passionate to experience the magic of open source. Here you can meet the veterans in open source software development, develop professional connections which , for sure, will help you a great deal in future, chat with student contributors who can guide you , present in front of a grand audience (wow!) and most importantly grasp the essence of open source development. It is indeed a ‘never miss’ opportunity that will give you a strong foundation to build on!</p>
    </div>
  </div>