<div class="cfb_x">
	
  <div class="card-panel hoverable cardxxx"><h2 style="text-align:center; border-bottom: 10px double black; " class="header">Call For Paper</h2>
  <p class="grey-text text-darken-3 lighten-3 ceter">
      kde.in welcomes you to submit your talk proposals. It is an event primarily focused on KDE/Qt and we welcome talks that cover the technical aspects of KDE software collection and those that discuss our community and it's values or even talks around our FOSS culture.<br><br>

Every speaker would be given 30 minutes to present the talk including Q&A. For convenience, speakers are expected to use their laptops during the course of their presentation. Internet and projectors would be provided during the presentation.<br><br> 

We are also working on providing travel and accommodation assistance for speakers. Please leave a comment in the CFP form if you'd like to get assistance for the same.</p></div>
</div>