<div>
<div style="padding:0 25%; text-align:center; margin-top:10%;">
<h3 style="font-family :font-family: 'Roboto Slab', serif; font-weight:300; color: black;  text-align:center">March 22-23</h3>
<h1 style="margin-top:0px; border-bottom: 10px  double black; font-family :font-family: 'Roboto Slab', serif; font-weight:700; text-shadow:2px 3px #888888; color:rgba(0,0,0,0.9);  text-align:center; " >CONF.KDE.IN'16</h1>
<h2 style="font-family :font-family: 'Roboto Slab', serif; font-weight:400; color: black;  text-align:center">LNMIIT, Jaipur</h2>
</div>
</div>