<section id="aboutus_section">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3557.020568546761!2d75.9241481362457!3d26.934562401460173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396dba21e8a1d1c9%3A0x5ab565cce4d44c2b!2sLNMIIT!5e0!3m2!1sen!2sin!4v1421642727353" width="100%" height="500px" frameborder="0" style="border:0; padding : 0%;"></iframe>

    <div class="row container card-panel hoverable" id="location" >
      <h2 style="text-align:center" class="header">How to reach LNMIIT</h2>
      <p  class="grey-text text-darken-3 lighten-3">
      	LNMIIT is located about 7 km from the Jaipur-Agra Highway and 15 km from the heart of Jaipur City.<br><br>
      
      	Local taxis are available on call in Jaipur from Airport/Bus Stand/Railway Station:<br> 
		Ola Cab: (0141)-335-5335<br>
		Meru Cab: (0141) 4422442<br><br>

		College Buses are also Available form<br>
		Ajmeri Gate<br>
		Raja Park<br><br>

		Bus time-table can be found <a href="http://www.lnmiit.ac.in/Bus_Time_Table.html">here</a><br><br>

		Approximate distance to LNMIIT from:<br>
		Railway Station is 17.5 km, Airport is 23.2 km & Bus Stand is 16.4 km
      </p>
    </div>
</section>
