.work-detail-set-heading{
    line-height: 22px;
    font-size: 22px;
    margin-bottom: 0px;
}

.work-detail-set-heading + p{
    margin-bottom: 35px;
}

.fix-width{
    margin-top: 40px;
    width: 160px;
}
