<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

<!-- fotorama.css & fotorama.js. -->
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

<!-- 2. Add images to <div class="fotorama"></div>. -->
<div class="fotorama"
     data-nav="thumbs">
  <a href="http://s.fotorama.io/1.jpg"><img src="http://s.fotorama.io/1.jpg"></a>
  <a href="http://s.fotorama.io/2.jpg"><img src="http://s.fotorama.io/2.jpg"></a>
</div>