<footer class="text-center">
    <div class="moving-plane-container">
        <img class="moving-plane" src="media/parent/images/plane.svg" alt="moving plane" />
    </div>
    <img class="cityscape" src="media/parent/images/cityscape.svg" alt="footer image | minimal city scape" />
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>

<!-- <script src="js/offline/jquery.min.js"></script>
<script src="js/offline/what-input.min.js"></script>
<script src="js/offline/foundation.min.js"></script> -->
<script src="js/parent/app.js"></script>
