<title>Mukul Jain | Full Stack Web Developer</title>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- SEO -->

<meta name="author" content="Mukul Jain">
<meta name="description" content="Portfolio of Mukul Jain - Full Stack Web Developer & Web Designer.">
<meta name="keywords" content="Plinth, Plinth website, mukul, jain, web desinger, js, javascript, the lnmiit, web, developer, full, stack, website, html, css, nodejs, angularjs, anode">

<!-- Facebook / Open Graph -->

<meta property="og:title" content="Mukul Jain | Full Stack Web Developer">
<meta property="og:description" content="Portfolio of Mukul Jain - Full Stack Web Developer & Web Designer.">
<meta property="og:image" content="https://mukuljain.me/media/parent/images/site-social-preview.jpg">
<meta property="og:url" content="https://mukuljain.me">
<meta property="og:site_name" content="Portfolio of Mukul Jain">
<meta property="article:author" content="https://www.facebook.com/mukuljainx">
<meta property="article:publisher" content="https://www.facebook.com/mukuljainx">

<!-- Twitter  -->

<meta name="twitter:title" content="Mukul Jain | Full Stack Web Developer">
<meta name="twitter:description" content="Portfolio of Mukul Jain - Full Stack Web Developer & Web Designer.">
<meta name="twitter:image" content="https://mukuljain.me/media/parent/images/site-social-preview.jpg">
<meta name="twitter:card" content="summary_large_image">

<!-- Google -->

<link rel="author" href="https://plus.google.com/+MukulJainx">
<link rel="publisher" href="https://plus.google.com/+MukulJainx">
<meta itemprop="name" content="Mukul Jain | Full Stack Web Developer">
<meta itemprop="description" content="Portfolio of Mukul Jain - Full Stack Web Developer & Web Designer.">
<meta itemprop="image" content="https://mukuljain.me/media/parent/images/site-social-preview.jpg">

<meta name="robots" content="index"/>

<!-- CSS and Font import -->

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,500" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/parent/main.min.css">
