<nav>
    <!-- mobile menu -->
    <!-- <div class="ham-wrapper">
        <div class="ham-content text-center">
            <button class="ham-close"><span>X</span></button>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/">about</a></li>
                <li><a href="/">work</a></li>
                <li><a href="/">contact</a></li>
            </ul>
        </div>
    </div> -->
    <!-- Desktop Menu -->
    <div class="navitem text-right">
        <ul>
            <li><a class="navitem-home" href="/">home</a></li>
            <li><a class="navitem-about" href="/about">about</a></li>
            <li><a class="navitem-work" href="/work">work</a></li>
            <li><a class="navitem-contact" href="/contact">contact</a></li>
        </ul>
    </div>
</nav>
<img class="clouds-image" src="media/parent/images/clouds.svg" alt="clouds svg" />
