@font-face {
  font-family: roboto-light;
  src: url(public/font/mun/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: roboto-boldx;
  src: url(public/font/mun/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: robotox;
  src: url(public/font/mun/roboto/Roboto-Regular.ttf);
}

body{
	min-width: 320px;
}

.commity-close, .commity-open{
  position: absolute;
  right: 3px;
}
.commity-close{
    top: 10px;
}
.commity-open{
  bottom: 10px;
}
.mun-section{
  margin-bottom: 30px;
  margin-top: 30px;
}
.eb-reg-btn{
  background-color: #0C46A0;
}
.eb-reg-btn:hover{
  background-color: #0C46A0;
}

#social_nav>img{
	width: 50px;
	height: 50px;
}

#contact_us_btn{

	margin-top: 30px;
	background-color: #3F51B5;
}

#social_nav{
	margin-top: 20px;
	text-align: center;
}


  /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #0C46A0;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #0C46A0;
     box-shadow: 0 1px 0 0 #0C46A0;
   }
   .input-field input[type=email]:focus + label {
     color: #0C46A0;
   }

   .input-field input[type=email]:focus {
     border-bottom: 1px solid #0C46A0;
     box-shadow: 0 1px 0 0 #0C46A0;
   }

   .input-field input[type=text]:focus + label {
     color: #0C46A0;
   }

   .input-field input[type=text]:focus {
     border-bottom: 1px solid #0C46A0;
     box-shadow: 0 1px 0 0 #0C46A0;
   }

   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #0C46A0;
   }


.nav-wrapper{
	font-family: roboto-light;
	background-color: #0c46a0;
}

#nav-mobile>li{
	font-size: 1.3rem;
}

#lnmiit{
	font-family: roboto-boldx;
}


.nav-wrapper>ul{
	float: left !important;
	width: 903px;
	/*border: 1px solid black;*/
}

.nav-wrapper>ul>li{
	/*border: 1px solid red;*/
	min-width: 150px;
	text-align: center;
	width: 15%;
}

#homex{
	margin-top: -64px;

}

/*=========================================================
		Parallax effect
==========================================================*/
.parallax{
	position: initial;
}


section.module.parallax-1{
  background-image: url("/public/media/mun/images/bg.jpg");
  background-size: 100% 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgb(255, 255, 255);
  font-size: 92px;
  padding-top: 15%;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: roboto-light;

}



#dates{
	color: white;
	font-size: 22px;
	text-align: center;
	line-height: 0px;
}

#register{
	color: white;
	font-size: 34px;
	text-align: center;
	/*border: 5px solid;*/
	line-height: 200px;
	padding: 0% 2%;

}

#about-us{
	font-family: robotox;
}

.logo, .imp-logo{
	position: fixed;
	width: 120px;
	/*height: 120px;*/
	top :13%;
  z-index: 9999;
}
.logo{
  left: 2%;
}
.imp-logo{
	right:2%;
}

#just-a-line{
	border: 1px solid #bcbcbc;
	width: 80%;
	margin-left: 10%;
}

#map{
	background-color: #1875d1;
	height: 700px;
}

footer.page-footer{
	background-color: #0c46a0;
	margin-top: 0px;
  padding-bottom: 25px;
  padding-top: 25px;
}

#eb_form{
	width: 100%;
	height: 100%;
}
/*
#modal1{
	height: 100% !important;
	max-height: 100% !important;
	top:0 !important;
	overflow: hidden;
}*/

#eb_close{
	position: fixed;
	right: 45px;
	bottom: 20px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}

.gsec_img{
	border : 1px solid black;
	width: 220px;
	float: left;
}

.gsec_info{
	border:1px solid black;
	width: 74%;
	float: right;
}
@media only screen and (max-width: 993px){
  .card{
    /*height : 300px;*/
  }
  .logo,.imp-logo{
    width: 100px;
  }
}

@media only screen and (max-width: 601px){
  .card{
    height: auto;
  }
}


.box-creator{
	height: 1400px;
}

.eb-card-1{
	width: 660px;
	height: 400px;
	/*border: 1px solid red;*/

	margin-left: 120px;
}

.eb-card-2{
	width: 460px;
	height: 400px;
	/*border: 1px solid green;*/

	margin-left: 20px;
}

.eb-card-3{
	width: 460px;
	height: 400px;
	/*border: 1px solid red;*/
	/*float: left;*/
	margin-left: 85px;
}

.eb-card-4{
	width: 660px;
	height: 400px;
	/*border: 1px solid green;*/
	/*float: left;*/
	margin-left: 20px;
}

.eb-card-5{
	width: 1120px;
	height: 400px;
	/*border: 1px solid violet;*/
	float: left;
	margin-left: 85px;
}
.span-card{
	width: 200px;
	height: 290px;
	/*border: 1px solid;*/
	float: left;
	margin-right: 5px;
}
.span-card-x{
	float: left;
}

.span-x-name{
	float: left;
	width: 200px;
	margin-top: 45px;
	/*border: 1px solid red;*/
}
.span-x-head{
	width: 200px;
	float: left;
	margin-left: 50px;
	margin-top: 110px;
	line-height: 40px;
	font-weight: 300;
}
.span-x-box-1{
	float: left;
	margin-top: 70px;
}
.span-x-box-2{
	float: right;
	margin-top: 70px;
}
.name-text-head{
	font-size: 20px;
	font-weight: 600;
}




@media screen and (max-width:1920px) {
.eb-card-1{
	width: 660px;
	height: 400px;
	/*border: 1px solid red;*/
	float: left;
	margin-left: 380px;
}

.eb-card-2{
	width: 460px;
	height: 400px;
	/*border: 1px solid green;*/
	float: left;
	margin-left: 40px;
}

.eb-card-3{
	width: 460px;
	height: 400px;
	/*border: 1px solid red;*/
	float: left;
	margin-left: 380px;
}

.eb-card-4{
	width: 660px;
	height: 400px;
	/*border: 1px solid green;*/
	float: left;
	margin-left: 40px;
}

.eb-card-5{
	width: 1160px;
	height: 400px;
	/*border: 1px solid violet;*/
	float: left;
	margin-left: 380px;
}
}

@media screen and (max-width:1600px) {
.eb-card-1{
	margin-left: 130px;
}

.eb-card-2{
	margin-left: 20px;
}

.eb-card-3{
	margin-left: 220px;
}

.eb-card-4{
	margin-left: 20px;
}

.eb-card-5{
	margin-left: 220px;
	width: 1145px;
}
}

@media screen and (max-width:1366px) {
.eb-card-1{
	margin-left: 290px;
}

.eb-card-2{
	margin-left: 20px;
}

.eb-card-3{
	margin-left: 85px;
}

.eb-card-4{
	margin-left: 290px;
}

.eb-card-5{
	margin-left: 85px;
	width: 1140px;
}
}

@media screen and (max-width:1200px) {
.eb-card-1{
	margin-left: 250px;
}

.eb-card-2{
	margin-left: 120px;
}

.eb-card-3{
	margin-left: 40px;
}

.eb-card-4{
	margin-left: 250px;
}

.eb-card-5{
	margin-left: 25px;
}
.box-creator{
	height: 1750px;
}
}

@media screen and (max-width:1160px) {
.eb-card-1{
	margin-left: 220px;
}

.eb-card-2{
	margin-left: 320px;
}

.eb-card-3{
	margin-left: 320px;
}

.eb-card-4{
	margin-left: 220px;
}

.eb-card-5{
	margin-left: 0px;
}
.box-creator{
	height: 2250px;
}
}
